<section class="o-in-person-map" style="order: <%= @options[:order] %>">
  <div class="o-in-person-map__info">
    <h3>KPCC In Person's Home Turf</h3>
    <h1>The Crawford Family Forum</h1>
    <p>
      The Crawford Family Forum (CFF) is KPCC's primary convening space and seeks to deepen and
      expand SCPR's role as a centering institution by engaging people of all backgrounds in ongoing,
      face-to-face conversations and explorations of the most interesting and important issues,
      events and cultural developments of the day.
    </p>
    <b>
      The Mohn Broadcast Center & Crawford Family Forum is located at 474 South Raymond Avenue,
      Pasadena California, 91105
    </b>
    <p class="o-in-person-map__contact">
      <a href="/events/forum/about">Got Questions about the Crawford Family Forum? Contact us!</a>
    </p>
  </div>
  <iframe frameborder="0" style="border:0" src='https://www.google.com/maps/embed/v1/place?key=AIzaSyADgFn8Z0htHbUp2GATx7PCHI_sWf1z__I&q=474+S+Raymond+Ave,Pasadena+CA,91105&zoom=14'></iframe></iframe>
</section>
