<aside class="c-ad">
  <div class="c-ad__container">
    <img src="http://placehold.it/728x91?text=Position+A" alt="Position A">
    <a class="c-ad__attribution" href="http://www.scpr.org/support/underwriting/">Become a KPCC Sponsor</a>
  </div>
</aside>
