<div id="connect-with-us" class="o-about-us__connect">
  <h3>CONNECT WITH US</h3>
  <div class='o-about-us__connect-list'>
    <div class="o-about-us__connect-icon">
      <svg class="b-icon b-icon--size-sm o-mast__menu-icon--opened">
        <use class="b-icon--line  b-icon--color-gray-dark " xlink:href="/static/images/scpr-sprite.svg#icon_line-staff-directory"/>
      </svg>
      <a href="/about/people/staff/">Staff directory</a>
    </div>
    <div class="o-about-us__connect-icon">
      <svg class="b-icon b-icon--size-sm o-mast__menu-icon--opened">
        <use class="b-icon--line  b-icon--color-gray-dark " xlink:href="/static/images/scpr-sprite.svg#icon_line-tips"/>
      </svg>
      <a href="http://www.scpr.org/contact/#form">Share news tips</a>
    </div>
    <div class="o-about-us__connect-icon">
      <svg class="b-icon b-icon--size-sm o-mast__menu-icon--opened">
        <use class="b-icon--line  b-icon--color-gray-dark " xlink:href="/static/images/scpr-sprite.svg#icon_line-contact"/>
      </svg>
      <a href="http://www.scpr.org/contact/">Contact Us</a>
    </div>
    <div class="o-about-us__connect-icon">
      <svg class="b-icon b-icon--size-sm o-mast__menu-icon--opened">
        <use class="b-icon--line  b-icon--color-gray-dark " xlink:href="/static/images/scpr-sprite.svg#icon_line-phone"/>
      </svg>
      Main phone line:<br> (626) 583-5100
    </div>
    <div class="o-about-us__connect-icon">
      <svg class="b-icon b-icon--size-sm o-mast__menu-icon--opened">
        <use class="b-icon--line  b-icon--color-gray-dark " xlink:href="/static/images/scpr-sprite.svg#icon_line-navigation"/>
      </svg>
      <a href="/about/directions/">Map and driving directions</a>
    </div>
    <div class="o-about-us__connect-icon">
      <svg class="b-icon b-icon--size-sm o-mast__menu-icon--opened">
        <use class="b-icon--line  b-icon--color-gray-dark " xlink:href="/static/images/scpr-sprite.svg#icon_line-source"/>
      </svg>
      <a href="/network/">Become a source</a>
    </div>
  </div>
</div>