<div class="o-about-us__introduction">
  <h1 class="o-about-us__introduction-header">Who we are</h1>
  <p class="o-about-us__introduction-description">Southern California Public Radio (SCPR) is a <a href="/support/">member-supported</a> public media network that operates across the region, reaching from Santa Barbara down to Los Angeles and Orange Counties, and out to the Coachella Valley. We also inform and interact with our communities through our web site, <a href="/listen/">mobile</a> and <a href="/social-media/">social media</a> channels and <a href="/events/kpcc-in-person/">live events</a>.</p>
</div>
<div class="o-about-us__navigation">
  <div class="o-about-us__navigation-list">
    <span class="o-about-us__navigation-item"><a href="#our-mission">Our Mission</a></span>
    <span class="o-pipe">|</span>
    <span class="o-about-us__navigation-item"><a href="#transparency">Transparency</a></span>
    <span class="o-pipe">|</span>
    <span class="o-about-us__navigation-item"><a href="#governance">Governance</a></span>
    <span class="o-pipe">|</span>
    <span class="o-about-us__navigation-item"><a href="#connect-with-us">Connect with us</a></span>
    <span class="o-pipe">|</span>
    <span class="o-about-us__navigation-item"><a href="#stations">Stations</a></span>
    <span class="o-pipe">|</span>
    <span class="o-about-us__navigation-item"><a href="#careers">Careers</a></span>
    <span class="o-pipe">|</span>
    <span class="o-about-us__navigation-item"><a href="#learn-more">Learn more</a></span>
  </div>
</div>