<div id="careers" class="o-about-us__description">
  <div class="o-about-us__description-text o-about-us__description-text--right">
    <h3>CAREERS AT KPCC</h3>
    <p>Our workplace encourages professional growth, supports creativity, and values diversity. We believe that excellence and a healthy work-life balance are not mutually exclusive. Our compensation and benefits are competitive, including comprehensive health, wellness, retirement, education, and training programs. Above all, we are intelligent and professional, but we don't take ourselves too seriously.</p>
    <p><a href="/jobs/">Visit the Inside KPCC blog ></a></p>
  </div>
  <%= image_tag("about/img-careers.jpg", class: "o-about-us__description-image o-about-us__description-image--left") %>
</div>
<div id="learn-more" class="o-about-us__description">
  <div class="o-about-us__description-text o-about-us__description-text--left">
    <h3>LEARN MORE ABOUT US</h3>
    <ul class="c-list c-list--bullet">
      <li><a href="/about/people/leadership/">SCPR Leadership</a></li>
      <li><a href="/about/people/board/">SCPR's Board of Trustees</a></li>
      <li><a href="/about/people/council/">SCPR's Regional Advisory Council</a></li>
      <li><a href="/about/people/staff/">SCPR Staff</a></li>
      <li><a href="/about/press/">Press Releases</a></li>
      <li><a href="/about/public/">FCC Public documents</a></li>
    </ul>
  </div>
  <%= image_tag("about/img-more.jpg", class: "o-about-us__description-image o-about-us__description-image--right") %>
</div>