<div class="o-footer">
  <div class="l-section--margin-sm l-row l-row--lg l-between l-bottom">
    <div class="o-footer__logo-container l-col l-center@media-desktop">
      <a href="/">
        <svg class="o-footer__logo icon--left">
          <use class="" xlink:href="/static/images/scpr-sprite.svg#logo_kpcc-white"/>
        </svg>
      </a>
      <span class="o-footer__tagline b-text b-text--semibold u-text-color--gray">The Voice of Southern California</span>
    </div>
    <div class="o-footer__donate l-col l-end l-center@media-desktop">
      <a href="https://scprcontribute.publicradio.org/contribute.php" data-ga-category="Menu" data-ga-action="Donate" data-ga-label="<%= request.path %>">
        <svg class="b-icon b-icon--size-med b-icon--left">
          <use class="b-icon--line b-icon--color-white" xlink:href="/static/images/scpr-sprite.svg#icon_line-donate"/>
        </svg>
        <span class="b-link b-link--white-dark-bg b-text">Support the voices you trust. <b class="b-text--semibold">Donate now.</b></span>
      </a>
    </div>
  </div>
  <hr class="b-rule b-rule--primary" />
  <nav class="o-footer__nav footer__nav--expanded u-text-align--center">
    <div class="l-section--margin-sm">
      <ul class="c-list--horiz c-list--divider b-text b-text--bold">
        <li><a class="b-link b-link--white-dark-bg" href="/local">Local</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/world">US &amp; World</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/arts">Arts &amp; Entertainment</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/crime">Crime &amp; Justice</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/environment">Science</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/politics">Politics</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/health">Health</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/business">Business</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/education">Education</a></li>
      </ul>
    </div>
    <div class="l-section--margin-sm">
      <ul class="c-list--horiz b-text">
        <li><a class="b-link b-link--white-dark-bg" href="/programs/take-two">Take Two</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/programs/airtalk">AirTalk</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/programs/offramp">Off-Ramp</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/programs/the-frame">The Frame</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/schedule">Program Schedule</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/programs">Programs A-Z</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/events/kpcc-in-person">KPCC In Person</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/about">About KPCC</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/contact/#form">Contact Us</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/about/people/staff">Staff Directory</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/jobs">Careers</a></li>
      </ul>
    </div>
  </nav>
  <nav class="o-footer__nav footer__nav--compact u-text-align--center">
    <div class="l-section--margin-sm">
      <ul class="c-list--horiz c-list--divider b-text b-text--bold">
        <li><a class="b-link b-link--white-dark-bg" href="/news">News</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/programs">Programs</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/events/kpcc-in-person">Events</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/support">Support</a></li>
        <li><a class="b-link b-link--white-dark-bg" href="/about">About</a></li>
      </ul>
    </div>
  </nav>

  <%= @options[:sponsors] %>

  <div class="l-section--margin-sm l-row l-row--xl l-between l-bottom">
    <div class="l-col l-center@media-wide">
      <ul class="c-list--horiz c-list--horiz-compact">
        <li class="o-footer__partner-label"><span class="u-text-color--gray b-text b-text--uppercase b-text--semibold">Our Partners</span></li>
        <li>
          <svg width="106" class="o-footer__partner-logo icon icon--left">
            <use class="icon--fill icon--color-gray" xlink:href="/static/images/scpr-sprite.svg#logo_partner-apm"/>
          </svg>
        </li>
        <li class="o-footer__partner">
          <svg width="62" class="o-footer__partner-logo icon icon--left">
            <use class="icon--fill icon--color-gray" xlink:href="/static/images/scpr-sprite.svg#logo_partner-npr"/>
          </svg>
        </li>
        <li class="o-footer__partner">
          <svg width="71" class="o-footer__partner-logo icon icon--left">
            <use class="icon--fill icon--color-gray" xlink:href="/static/images/scpr-sprite.svg#logo_partner-bbc"/>
          </svg>
        </li>
        <li class="o-footer__partner">
          <svg width="86" class="o-footer__partner-logo icon icon--left">
            <use class="icon--fill icon--color-gray" xlink:href="/static/images/scpr-sprite.svg#logo_partner-pri"/>
          </svg>
        </li>
        <li class="o-footer__partner">
          <svg width="28" class="o-footer__partner-logo icon icon--left">
            <use class="icon--fill icon--color-gray" xlink:href="/static/images/scpr-sprite.svg#logo_partner-nbc4"/>
          </svg>
        </li>
        <li class="o-footer__partner">
          <svg width="57" class="o-footer__partner-logo icon icon--left">
            <use class="icon--fill icon--color-gray" xlink:href="/static/images/scpr-sprite.svg#logo_partner-pcc"/>
          </svg>
        </li>
      </ul>
    </div>
    <nav class="l-col l-end l-center@media-wide">
      <ul class="c-list--horiz b-text b-text--small u-text-color--gray">
        <li><a class="b-link b-link--gray-dark-bg" href="/terms/">Terms &amp; Conditions</a></li>
        <li><a class="b-link b-link--gray-dark-bg" href="/privacy/">Privacy</a></li>
        <li><a class="b-link b-link--gray-dark-bg" href="/web_site_feedback/">Feedback</a></li>
        <li>&copy; <%= Time.zone.now.year %> Southern California Public Radio</li>
      </ul>
    </nav>
  </div>
</div>
