<!-- Modal -->
<script id="autosave-modal-template" type="text/x-handlebars-template">
  <div id="autosave-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
          <p>{{body}}</p>
        </div>
        <div class="modal-footer">
          <button id='no'  type="button" class="btn btn-default no" data-dismiss="modal">No</button>
          <button id='yes' type="button" class="btn btn-success yes" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</script>

<fieldset class="form-block dockable" id="form-block-autosave-revisions">
  <legend>Autosave Revisions</legend>
  <style>
    #autosave-revisions{
      width: 100%;
      height: 150px;
      overflow: auto;
      overflow-y: scroll;
      overflow-x: scroll;
    }
  </style>
  <select id="autosave-revisions" />
</fieldset>
<br /><br /><br /><br /><br /><br /><br />


<script>
  autosaver = new outpost.Autosave({
    _id:  '<%= obj_key %>',
    id:   '<%= id %>',
    type: '<%= type %>'
  });
  autosaver.on('serialize', function(doc){
    console.log('serialize event successfully fired')
    // doc.assets = window.assetManager.assets.toJSON();
    doc.assets = []
  })
  autosaver.on('reflect', function(doc){
    // console.log('reflecting')
    // assetJSONElement = $("#asset_json");
    // assetJSONElement.val(doc.assets);
    // assetManager.assets = new outpost.AssetHost.Assets(doc.assets)
    // window.assetManager.assetsView.render();
  })
  autosaver.checkForChanges();
  autosaver.listen();
</script>