<% if @record.show.air_status == "onair" %>
  <% has_podcast_record = @record.podcast_record.present? %>
  <%= form_block "Podcast Ad Placement" do %>
    <div class="audio-fields well">
      <div class="row">
        <div class="span4">
          <tr>
            <td><%= f.input :pre_count, as: :integer, disabled: !has_podcast_record, label: "Pre-roll Count", input_html: { class: "tiny thin" } %></td>
            <td><%= f.input :post_count, as: :integer, disabled: !has_podcast_record, label: "Post-roll Count", input_html: { class: "tiny thin" } %></td>
            <td><%= f.input :insertion_points, as: :string, disabled: !has_podcast_record, label: "Mid-roll Insertion Points", input_html: { class: "tiny thin" } %></td>
          </tr>
        </div>
        <div class="span4">
          <div class="audio-info">
            <% if has_podcast_record %>
              <h5 class="alert alert-success">The podcast is available for editing</h5>
            <% else %>
              <h5 class="alert alert-info">The podcast is unavailable for editing</h5>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>