<div class="partner">
    <h3><a href="http://laup.net/" title="Los Angeles Universal Preschool">
        <span>Presented by Los Angeles Universal Preschool.</span>
        <b class="img"><img src="<%= image_path('sponsor-assets/laup-logo.png') %>" alt="LAUP logo" /></b></a>
    </h3>
</div>
