<aside class="interstitial laup">
    <header class="disclaimer">
        <p class="bound">Sponsor</p>
    </header>
    <div class="message">
        <div class="inner bound">
            <a href="http://laup.net" title="Los Angeles Universal Preschool">
                <h1>We believe all children deserve the best start in life, and a quality preschool education provides all children the springboard to success.</h1>
                <figure class="secondary">
                    <b class="logo"><img src="<%= image_path('sponsor-assets/laup-logo-full.png') %>" alt="LAUP logo" /></b>
                    <figcaption>LAUP is a non-profit organization providing high-quality preschool education to the children of Los Angeles County.</figcaption>
                </figure>
                <figure class="photo">
                    <img src="<%= image_path('sponsor-assets/laup-photo-headphones.png') %>" alt="Photograph of LAUP student with teacher" />
                </figure>
                <mark class="outbound"><span>Learn More</span></mark>
            </a>
        </div>
    </div>
    <footer class="plug">
        <p class="bound"><a href="/support/underwriting/">Become a KPCC sponsor.</a></p>
    </footer>
</aside><!--/ .interstitial -->
