<ul class="o-content-cluster c-list c-list--horiz">
  <% model.try(:each) do |feature| %>
    <% href = begin feature.asset.try(:lsquare).try(:url) rescue '/static/images/fallback-img-square.png' end %>
    <li class="o-content-cluster__content">
      <div class="o-content-cluster__thumb o-figure o-figure--four-by-three">
        <img class="o-figure__img" src="<%= href %>" style="background-image: url(<%= href %>);">
      </div>
      <div class="o-content-cluster__content-description">
        <h4 class="b-heading--book">
          <%= link_to feature.try(:title) || feature.try(:headline), feature.public_url, :data => { :ga_category => @options[:category], :ga_action => "Clickthrough", :ga_label => @options[:label] } %>
        </h4>
        <div class="o-content-cluster__datetime b-heading--medium"><%= feature.public_datetime.try(:strftime, "%B %-d, %Y") %></div>
      </div>
    </li>
  <% end %>
</ul>