<aside id="audio-bar" class="audio-player">
    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
    <div id="jp_container_1" class="jp-audio">
        <div class="jp-type-single">
            <div class="inner bound">
                <div class="controls">
                    <div class="jp-gui jp-interface">
                        <ul class="jp-controls">
                            <button value="play" class="jp-play">Play</button>
                            <button value="pause" class="jp-pause">Pause</button>
                        </ul>
                    </div>
                </div><!--/ .controls -->
                <div class="vitals">
                    <header id="jplayer1_title"></header>
                    <div class="timeline">
                        <mark class="ticker jp-current-time"></mark>
                        <div class="meter">
                            <div class="jp-play-bar" style="width: 16.38%;">&nbsp;</div>
                            <div class="jp-seek-bar">&nbsp;</div>
                        </div>
                        <span class="ticker jp-duration"></span>
                    </div>
                </div><!--/ .vitals -->
                <div class="incidentals">
                    <!--<a href="#" class="download">Download audio file</a>-->
                    <button value="mute" class="jp-mute aural">Mute</button>
                    <button value="unmute" class="jp-unmute aural">Unmute</button>
                    <button value="close" class="jp-stop collapse">Stop and Close</button>
                </div>
            </div>
        </div>
    </div>
</aside><!--/ .audio-player -->



