
<section class="resources">
    <div class="inner bound clearfix">
        <header>
            <h1><span>Represent Resources</span></h1>
            <h2>Quick primers on civic life in California.</h2>
            <h3>All of us at KPCC believe that civic life in Southern California should be understandable, relevant, and libero ante, aliquam congue mattis id, blandit quis risus. Sed iaculis tellus accumsan ipsum porta ultricies.</h3>
            <h4>Represent Resources is made possible with support from <%= link_to 'The Robert Day School', '#' %>.</h4>
        </header>
        <nav>
            <ul class="clearfix">
              <%- @resources.each do |resource| %>
                <li>
                    <%= link_to(resource.public_path) do %>
                        <figure class="clearfix">
                          <div class="ratio"><div class="fill"></div><b class="img-contain"><%= image_tag resource.asset.small.url, alt: '' %></b></div>
                          <figcaption><%= resource.short_title %></figcaption>
                        </figure>
                    <% end %>
                </li>
              <% end %>
            </ul>
        </nav>
    </div>
</section><!--/ .resources -->


