<h6 class="o-events-list__heading b-heading b-heading--h4 b-heading--uppercase u-text-color--gray b-heading--medium">Upcoming Events</h6>
<input checked type="radio" name="tab" id="o-upcoming-events-list__input-list" class="o-upcoming-events-list__input"/>
<label class="o-upcoming-events-list__label" for="o-upcoming-events-list__input-list">KPCC IN PERSON</label>
<input type="radio" name="tab" id="o-upcoming-events-list__input-upcoming" class="o-upcoming-events-list__input" />
<label class="o-upcoming-events-list__label" for="o-upcoming-events-list__input-upcoming">ALL EVENTS</label>
<input type="radio" name="tab" id="o-upcoming-events-list__input-sponsored" class="o-upcoming-events-list__input"/>
<label class="o-upcoming-events-list__label" for="o-upcoming-events-list__input-sponsored">SPONSORED EVENTS</label>
