<aside id="<%= id %>" class="c-ad <%= model[:class] %>" <%= order %>>
  <div class="c-ad__container c-ad__container">
    <div class="c-ad__banner">
      <div class="dfp" id='dfp-<%= ad_key %>'>
      </div>
    </div>
  </div>
</aside>