
.masthead {
	background: black url(../i/masthead-politics.jpg) no-repeat center top;
	background-size: auto 100%;
	color: white;
	padding-bottom: 58px; // makes room for .headline
	.inner {
		position: relative;
		padding: 93px 0 28px;
	}

//	~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
	.titling {
		position: relative;
		h1 {
			width: 223px;
			height: 50px;
			overflow: hidden;
			margin-bottom: 13px;
			a {
				@include mask;
				background: url(../i/logo-represent.png) no-repeat;
				background-size: 100%;
			}
		}
		h2 {
			font-size: 1.125em; // 18 / 16
			font-family: $font-prox;
			color: $blue;
			border-top: 1px solid $blue;
			padding-top: 3px;
			background: rgba(0,0,0,0.5);
		}
		.partner {
			position: absolute;
			text-align: right;
			right: 0;
			top: 16px;
			a {
				position: relative;
				display: inline-block;
				padding: 8px 45px 0 0;
				font-family: $font-prox;
				font-weight: 300;
				&:hover {
					text-decoration: underline;
				}
				.img {
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					width: 35px;
					height: 35px;
					img {
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}

//	~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
	.station > * {
		position: absolute;
	}
	.station {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-transform: uppercase;
		font-family: $font-proxcond;
		font-weight: 400;
		a:hover {
			text-decoration: underline;
		}
		h4 {
			width: 11.230769230769%; // 146 / 1300
			min-width: 100px;
			height: 22px;
			margin-top: 34px;
			a {
				@include mask;
				background: url(../i/logo-kpcc.png) no-repeat left center;
				background-size: 100%;
			}
		}
		.kpcc-links {
			top: 33px;
			left: 14.307692307692%; // 186 / 1300
			li {
				display: inline-block;
				margin-left: 25px;
				color: $orange;
				a {
					display: inline-block;
					padding-top: 3px;
				}
				&:first-child {
					margin-left: 0;
				}
				&:first-child a {
					@include icon;
					padding-left: 25px;
				}
				@media screen and (max-width: 1270px) {
			    	margin-left: 14px;
					font-size: 0.8125em;
					a {
						padding: 5px 0 2px;
					}
			  	}
			}
		}
		.donate {
			right: 0;
			color: #31aad3;
			border-left: 1px solid #1a596f;
			padding: 34px 0 3px 19px;
			a {
				@include icon;
				display: inline-block;
				background-position: right 1px;
				padding: 0 28px 0 0;
				&:hover {
					color: #c6f1ff;
					background-position: right -37px;
				}
				@media screen and (max-width: 1270px) {
					font-size: 0.8125em;
					padding-top: 2px;
			  	}
			}
		}
		.search-trigger {
			right: 277px;
			top: 33px;
			@include icon;
			width: 24px;
			height: 24px;
			background-position: 2px -78px;
			border: none;
			color: transparent;
			cursor: pointer;
			&:hover { background-position: 2px -109px; }
		}
	}

//	~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
	.follow-us {
		top: 33px;
		right: 148px;
		overflow: hidden;
		li	{ display: inline; }
		a	{
			@include icon;
			@include texthide;
			width: 22px;
			height: 21px;
			float: left;
			margin-left: 11px;
		}
		li:nth-child(1) a {
			margin-left: 0;
			background-position: -51px -78px;
			&:hover { background-position: -51px -110px; }
		}
		li:nth-child(2) a {
			background-position: -93px -78px;
			&:hover { background-position: -93px -110px; }
		}
		li:nth-child(3) a {
			background-position: -136px -79px;
			&:hover { background-position: -136px -111px; }
		}
	}

//	~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
	.pane {
		h1 {
			position: absolute;
			width: 100px;
			height: 22px;
			top: 15px;
			left: 5%;
			a {
				@include mask;
				background: url(../i/logo-kpcc.png) no-repeat left center;
				background-size: 100%;
			}
		}
		.close {
			display: block;
			position: absolute;
			top: 13px;
			right: 5%;
			width: 63px;
			height: 24px;
			background: transparent url(../i/btn-ledge-close.png) no-repeat;
			text-indent: 999px;
			background-size: 100%;
			cursor: pointer;
			border: none;
			overflow: hidden;
		}
	}

//	~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
	.kpcc-search {
		@include pane;
		padding-top: 60px; // default is 53px
		top: -130px;
		form {
			width: 100%;
			position: relative;
			.toggle-search						{ display: none; }
			label,.search,.submit,.search-wrap	{ display: block; }
			label,.submit						{ position: absolute; }

			label {
				font-size: 0.6875em;
				text-transform: uppercase;
				top: 9px;
				color: rgba(255,255,255,0.7);
			}
			.search-wrap {
				margin: 0 33px 0 51px;
				position: relative;
			}
			.search {
				border: 1px solid white;
				box-shadow: inset 0 1px 4px rgba(0,0,0,0.5);
				width: 100%;
				font-family: $font-prox;
				font-size: 1em;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding: 4px 4px 3px;
			}
			.submit {
				top: 3px;
				right: 0;
				width: 23px;
				height: 23px;
				background: url(../i/btn-search-submit.png) no-repeat;
				text-indent: 999px;
				background-size: 100%;
				cursor: pointer;
				border: none;
				overflow: hidden;
			}
		}
	}

//	. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

	@media screen and (min-width: 976px) {
		.kpcc-search {
			background: rgba(46,237,226,0.4);
			background: black;
			box-shadow:
				0 0 10px black,
				inset 0 39px 0 black,
				inset 0 40px 0 rgba(255,255,255,0.3);
			border-right: 1px solid rgba(255,255,255,0.5);
			border-bottom: 1px solid rgba(255,255,255,0.5);
			border-left: 1px solid rgba(255,255,255,0.5);
			margin: 0 -10px 0 0;
			padding: 49px 10px 10px 10px;
			left: auto;
			right: -10px;
			width: 310px;
			@media screen and (max-width: 1080px) {
				width: 263px;
			}
			h1 {
				display: none;
			}
			.close {
				top: 8px;
				right: 10px;
			}
			form {
			}
		}
	}



//	~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
	.kpcc-ledge {
		@include pane;
		top: -280px;
		.links {
			font-weight: 700;
			-moz-column-count: 2;
			-webkit-column-count: 2;
			column-count: 2;
			line-height: 2;
			a:hover { text-decoration: underline; }
		}
		h2 {
			text-transform: uppercase;
			font-size: 0.625em; // 10/16
			color: rgba(255,255,255,0.6);
			border-top: 1px solid rgba(255,255,255,0.3);
			width: 100%;
			margin: 13px 0 10px -5.5%;
			padding: 4px 5.5%;
		}
		.follow-us {
			a						{ margin-left: 22px; }
			li:nth-child(1) a		{ margin-left: 0; }
		}
	}


}



//	------------------------------------------------------------------------------------------------

	@media screen and (min-width: 751px) {
		.masthead .station .shownav		{ display: none; }
	}

//	------------------------------------------------------------------------------------------------

	@media screen and (max-width: 1080px) {
		.masthead {
			.station {
				.kpcc-links {
					li {
						&:first-child a {
							padding-left: 0;
							background: none;
						}
					}
				}
				.search-trigger {
					right: 240px;
				}
				.donate {
					padding-left: 15px;
				}
				.follow-us {
					right: 125px;
				}
			}
		}
	}


//	------------------------------------------------------------------------------------------------

	@media screen and (max-width: 975px) {
		.masthead {
			.inner {
				padding-top: 130px;
			}
			.station {
				h4 { margin-top: 15px; }
				.kpcc-links {
					left: 0;
					top: 48px;
					padding-top: 5px;
					border-top: 1px solid rgba(255,255,255,0.35);
					width: 100%;
					li { color: rgba(255,255,255,0.5); }
				}
				.search-trigger	{ top: 15px; }
				.follow-us		{ top: 16px; }
				.donate			{ padding: 17px 0 11px 19px; border-left: 1px solid rgba(255,255,255,0.35); }
			}
		}
	}

//	------------------------------------------------------------------------------------------------

	@media screen and (max-width: 750px) {
		.masthead {
			.inner {
				padding-top: 80px;
				padding-bottom: 25px;
			}
			.titling {
				h1 {
					margin: 0 auto 10px;
				}
				h2 {
					font-size: 0.8125em;
					padding-top: 7px;
					text-align: center;
					margin-bottom: 15px;
				}
				.partner {
					position: static;
					font-size: 0.8125em;
					display: inline-block;
					text-align: center;
					width: 100%;
					a { padding-top: 11px; }
				}
			}
			.station {
				.kpcc-links {
					display: none;
				}
				.follow-us {
					display: none;
				}
				.search-trigger {
					right: 120px;
					@media screen and (max-width: 360px) {
						right: 90px;
					}
				}
				.donate {
					border-left: 1px solid #1a5a70;
					padding-left: 12px;
					@media screen and (max-width: 360px) {
						a { background: none; padding: 0; }
					}
				}
				.shownav {
					background: url(../i/btn-shownav.png) no-repeat;
					background-size: 100%;
					color: transparent;
					border: none;
					width: 23px;
					height: 23px;
					left: 112px;
					top: 15px;
					cursor: pointer;
				}
			}
		}
	}


