// Variables
$font-freight: "freight-sans-pro", "Avenir Next", "Avenir", "Lucida Grande", "Tahoma", Arial, sans-serif;
$font-prox: "proxima-nova", "Avenir Next", "Avenir", "Lucida Grande", "Tahoma", Arial, sans-serif;
$font-proxcond: "proxima-nova-condensed", "Avenir Next Condensed", "Arial Narrow", Arial, sans-serif;
$font-merri: "merriweatherregular", "Baskerville", "Garamond", "Cambria", Georgia, serif;
$font-merri-lightital: "merriweatherlight_italic", "Baskerville", "Garamond", "Cambria", Georgia, serif;
$blue: #31aad3;
$orange: #f17b21;



//	################################################################################################
//	################################################################################################
//	DEBUGGIN'
//	################################################################################################
//	################################################################################################

//	.welcome,.resources,.lunchbox,.triptych,.waterfall,.quadrant,.membership { display: none; }





//	################################################################################################
//	################################################################################################
//	PARTNER
//	################################################################################################
//	################################################################################################

.partner.mercedes {
	background:
		url(sponsor-assets/mercedes-scenery.jpg) no-repeat center -116px,
		url(sponsor-assets/mercedes-texture-noise.jpg) repeat;
	background-size:
		1600px 500px,
		100px 100px;
	.inner {
		min-height: 234px; // 268
		position: relative;
		padding-top: 34px;
		h1 {
			background: rgba(55,86,119,0.62);
			color: white;
			width: 102.461538461538%;
			padding: 20px 0 24px 2.461538461538%;
			margin-left: -2.461538461538%;
			font-family: $font-prox;
			font-size: 2.5em; // 40/16
			line-height: 1.05;
			letter-spacing: -0.01em;
			b,span {
				font-weight: 300;
				display: block;
			}
		}
		.car {
			display: block;
			width: 543px;
			position: absolute;
			z-index: 2;
			top: 13px;
			right: 44px;
			img {
				width: 100%;
				height: auto;
			}
		}
		.teaser {
			position: absolute;
			z-index: 1;
			background: white;
			left: 122px;
			bottom: 0;
			letter-spacing: -0.015em;
			padding: 15px 58px 16px 19px;
			span {
				font-size: 0.875em;
				color: #46525d;
				display: block;
				line-height: 1.45;
				&:nth-child(2) {
                    margin-bottom: 4px;
			    }
			}
			mark {
				color: $orange;
				text-transform: uppercase;
				font-size: 0.75em;
				font-family: $font-prox;
				font-weight: 700;
				a:after	{ content: " \203A"; }
				a:hover	{ text-decoration: underline; }
			}
		}
		.logo {
			width: 96px;
			left: 0;
			top: 184px;
			position: absolute;
			a           { display: block; }
			img         { width: 100%; height: auto; }
		}
	}
}



//  ####################################################################################################
//  ####################################################################################################
//  ####################################################################################################

    @media screen and (max-width: 1460px) {
        .partner.mercedes {
        	background-position:
                right -123px top -116px,
                left top;
        	.inner {
                .car { right: 0; }
                @media screen and (max-width: 1300px) {
                    .teaser         { left: 110px; padding-top: 18px; }
        	        .teaser span    { font-size: 0.8125em; }
    	        }
    	    }
        }
    }

//  ####################################################################################################

    @media screen and (max-width: 1235px) {
        .partner.mercedes {
        	background-size:
        		1280px 400px,
        		100px 100px;
    		background-position:
                right -100px top -83px,
                left top;
        	.inner {
                .car {
        			width: 434px;
        			top: 20px;
                }
    	    }
        }
    }

//  ####################################################################################################

    @media screen and (max-width: 1010px) {
        .partner.mercedes {
    	    .inner h1 { font-size: 2em; }
        }
    }

//  ####################################################################################################

    @media screen and (max-width: 940px) {
        .partner.mercedes {
            background-size:
                1024px 320px,
                100px 100px;
            background-position:
                right -80px top -60px,
                left top;
    	    .inner {
                padding-top: 28px;
    	        h1      { font-size: 1.8em; }
                .logo   { top: 180px; }
    	        .car    { width: 347px; top: 22px; }
	        }
        }
    }

//  ####################################################################################################

    @media screen and (max-width: 765px) {
        .partner.mercedes {
        	background-size:
        		1600px 500px,
        		100px 100px;
            background-position:
                left 0 top -20px,
                left top;
    	    .inner {
                min-height: 0;
                padding-bottom: 25px;
                padding-top: 20px;
                h1 {
                    text-align: center;
                    padding-bottom: 35px;
                    b {
                        display: block;
                        margin-right: 2.46%;
                    }
                }
                .logo {
                    position: static;
                    margin: 0 auto;
                }
                .teaser {
                    position: static;
                    margin: -12px 0 15px -5.5%;
                    text-align: center;
                    width: 100%;
                    padding-right: 5.5%;
                    padding-left: 5.5%;
                }
                .car {
                    position: relative;
                    margin: 0 auto;
                    width: 80%;
                    max-width: 320px;
                    top: auto;
                    margin-top: -23px;
                }
	        }
        }
    }

//  ####################################################################################################

    @media screen and (max-width: 450px) {
        .partner.mercedes {
        	background-size:
        		1600px 500px,
        		100px 100px;
            background-position:
                left -280px top -60px,
                left top;
    	    .inner {
                min-height: 0;
                padding-bottom: 25px;
                padding-top: 22px;
                h1 {
                    font-size: 1.4em;
                }
                .teaser {
                    position: static;
                    margin: -12px 0 15px -5.5%;
                    background: rgba(255,255,255,0.7);
                    text-align: center;
                    width: 100%;
                    padding-right: 5.5%;
                    padding-left: 5.5%;
                    span {
                        display: inline;
                        font-size: 0.75em;
                    }
                    mark {
                        display: block;
                        padding-top: 10px;
                    }
                }
                .car {
                    position: relative;
                    margin: 0 auto;
                    width: 80%;
                    max-width: 320px;
                    top: auto;
                    margin-top: -23px;
                }
	        }
        }
    }

//  ####################################################################################################
