<% content_for :body_class, 'interior ronin short-list' %>

<header class="edition-marquee">

    <div class="inner bound">
      <div class="titling clearfix">
        <h1>Short List</h1>
        <h2 class="pm"><span>P.M. Edition</span></h2>
      </div>
      <h3 class="date">
        <time datetime="2014-07-30">
          <span>July</span>
          <mark>30</mark>
        </time>
      </h3>
    </div><!--/ .inner -->

    <aside class="recents">
      <div class="bound">
        <header>
          <div class="clearfix">
            <h1>Browse Recent Editions</h1>
            <button>Close</button>
          </div>
        </header>
        <nav>
          <ul class="clearfix">
            <li>
              <a href="#">
                <figure>
                  <div class="ratio">
                    <div class="fill"></div>
                    <b class="img-contain"><img src="http://placekitten.com/800/400/" /></b>
                  </div>
                  <figcaption>
                    <time datetime="2014-07-17"><span>Thursday</span> Jul 17 <b>A.M. Edition</b></time>
                    <mark>LA's connection to the migrant crisis</mark>
                  </figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure>
                  <div class="ratio">
                    <div class="fill"></div>
                    <b class="img-contain"><img src="http://placekitten.com/300/300/" /></b>
                  </div>
                  <figcaption>
                    <time datetime="2014-07-17"><span>Wednesday</span> Jul 16 <b>P.M. Edition</b></time>
                    <mark>Los Angeles to help shelter detained immigrant children</mark>
                  </figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure>
                  <div class="ratio">
                    <div class="fill"></div>
                    <b class="img-contain"><img src="http://placekitten.com/600/300/" /></b>
                  </div>
                  <figcaption>
                    <time datetime="2014-07-17"><span>Wednesday</span> Jul 16 <b>A.M. Edition</b></time>
                    <mark>$500 down the drain</mark>
                  </figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure>
                  <div class="ratio">
                    <div class="fill"></div>
                    <b class="img-contain"><img src="http://placekitten.com/560/300/" /></b>
                  </div>
                  <figcaption>
                    <time datetime="2014-07-17"><span>Tuesday</span> Jul 15 <b>Weekend Edition</b></time>
                    <mark>Jury decides against Dodgers in Stow trial, awards $18M</mark>
                  </figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </aside><!--/ .recents -->

</header><!--/ .edition-marquee -->





<div class="page-cols">
<div class="inner bound clearfix">

    <section class="abstracts">

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/950/600/" /></b>
        </figure>
        <div class="prose clearfix">
          <header>
            <h1>Grow your understanding of 'cash for grass'</h1>
            <mark>1</mark>
          </header>
          <div class="eisegesis">
            <p>California’s top water officials meet this week to consider mandatory limits on outdoor water use. Even before Gov. Jerry Brown declared the current drought emergency in January, local water agencies were trying the carrot approach — offering homeowners incentives to rip out and replace their lawns. So far, less than one-tenth of one percent of potential convertible yards have switched.</p>
            <p>KPCC has a list of a dozen things to know about how the "cash for grass" programs are working locally. Read our roundup.</p>
          </div>
        </div>
        <footer>
          <a href="#">Read full story at The Washington Post</a>
        </footer>
      </article>

      <aside class="plug">
        <div class="ad widget">
          <%= render "shared/ads/dfp", ad_key: 'slot_a' %>
          <span class="appeal"><a href="#">Become a KPCC sponsor</a></span>
        </div>
      </aside>

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/950/600/" /></b>
        </figure>
        <div class="prose clearfix">
          <header>
            <h1>Grow your understanding of 'cash for grass'</h1>
            <mark>2</mark>
          </header>
          <div class="eisegesis">
            <p>California’s top water officials meet this week to consider mandatory limits on outdoor water use. Even before Gov. Jerry Brown declared the current drought emergency in January, local water agencies were trying the carrot approach — offering homeowners incentives to rip out and replace their lawns. So far, less than one-tenth of one percent of potential convertible yards have switched.</p>
            <p>KPCC has a list of a dozen things to know about how the "cash for grass" programs are working locally. Read our roundup.</p>
          </div>
        </div>
        <footer>
          <a href="#">Read full story</a>
        </footer>
      </article>

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/950/600/" /></b>
        </figure>
        <div class="prose clearfix">
          <header>
            <h1>Grow your understanding of 'cash for grass'</h1>
            <mark>3</mark>
          </header>
          <div class="eisegesis">
            <p>California’s top water officials meet this week to consider mandatory limits on outdoor water use. Even before Gov. Jerry Brown declared the current drought emergency in January, local water agencies were trying the carrot approach — offering homeowners incentives to rip out and replace their lawns. So far, less than one-tenth of one percent of potential convertible yards have switched.</p>
            <p>KPCC has a list of a dozen things to know about how the "cash for grass" programs are working locally. Read our roundup.</p>
          </div>
        </div>
        <footer>
          <a href="#">Read full story at The L.A. Times</a>
        </footer>
      </article>

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/950/600/" /></b>
        </figure>
        <div class="prose clearfix">
          <header>
            <h1>Paying more for individual health insurance? Here's why </h1>
            <mark>4</mark>
          </header>
          <div class="eisegesis">
            <p>California’s top water officials meet this week to consider mandatory limits on outdoor water use. Even before Gov. Jerry Brown declared the current drought emergency in January, local water agencies were trying the carrot approach — offering homeowners incentives to rip out and replace their lawns. So far, less than one-tenth of one percent of potential convertible yards have switched.</p>
            <p>KPCC has a list of a dozen things to know about how the "cash for grass" programs are working locally. Read our roundup.</p>
          </div>
        </div>
        <footer>
          <a href="#">Read full story</a>
        </footer>
      </article>

      <aside class="plug">
        <div class="ad widget">
          <%= render "shared/ads/dfp", ad_key: 'slot_b' %>
          <span class="appeal"><a href="#">Become a KPCC sponsor</a></span>
        </div>
      </aside>

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/950/600/" /></b>
        </figure>
        <div class="prose clearfix">
          <header>
            <h1>Audit finds missing, misused funds at LA charter network</h1>
            <mark>5</mark>
          </header>
          <div class="eisegesis">
            <p>California’s top water officials meet this week to consider mandatory limits on outdoor water use. Even before Gov. Jerry Brown declared the current drought emergency in January, local water agencies were trying the carrot approach — offering homeowners incentives to rip out and replace their lawns. So far, less than one-tenth of one percent of potential convertible yards have switched.</p>
            <p>KPCC has a list of a dozen things to know about how the "cash for grass" programs are working locally. Read our roundup.</p>
          </div>
        </div>
        <footer>
          <a href="#">Read full story</a>
        </footer>
      </article>

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/950/600/" /></b>
        </figure>
        <div class="prose clearfix">
          <header>
            <h1>Farewell, James Garner &mdash; a different breed of leading man</h1>
            <mark>6</mark>
          </header>
          <div class="eisegesis">
            <p>California’s top water officials meet this week to consider mandatory limits on outdoor water use. Even before Gov. Jerry Brown declared the current drought emergency in January, local water agencies were trying the carrot approach — offering homeowners incentives to rip out and replace their lawns. So far, less than one-tenth of one percent of potential convertible yards have switched.</p>
            <p>KPCC has a list of a dozen things to know about how the "cash for grass" programs are working locally. Read our roundup.</p>
          </div>
        </div>
        <footer>
          <a href="#">Read full story at The Seattle Times</a>
        </footer>
      </article>

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/950/600/" /></b>
        </figure>
        <div class="prose clearfix">
          <header>
            <h1>CA's first robot-assisted surgery for prostate cancer</h1>
            <mark>7</mark>
          </header>
          <div class="eisegesis">
            <p>California’s top water officials meet this week to consider mandatory limits on outdoor water use. Even before Gov. Jerry Brown declared the current drought emergency in January, local water agencies were trying the carrot approach — offering homeowners incentives to rip out and replace their lawns. So far, less than one-tenth of one percent of potential convertible yards have switched.</p>
            <p>KPCC has a list of a dozen things to know about how the "cash for grass" programs are working locally. Read our roundup.</p>
          </div>
        </div>
        <footer>
          <a href="#">Read full story</a>
        </footer>
      </article>

      <aside class="plug">
        <div class="ad widget">
          <%= render "shared/ads/dfp", ad_key: 'slot_c' %>
          <span class="appeal"><a href="#">Become a KPCC sponsor</a></span>
        </div>
      </aside>

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/950/600/" /></b>
        </figure>
        <div class="prose clearfix">
          <header>
            <h1>IE aquifer at record low, say officials</h1>
            <mark>8</mark>
          </header>
          <div class="eisegesis">
            <p>California’s top water officials meet this week to consider mandatory limits on outdoor water use. Even before Gov. Jerry Brown declared the current drought emergency in January, local water agencies were trying the carrot approach — offering homeowners incentives to rip out and replace their lawns. So far, less than one-tenth of one percent of potential convertible yards have switched.</p>
            <p>KPCC has a list of a dozen things to know about how the "cash for grass" programs are working locally. Read our roundup.</p>
          </div>
        </div>
        <footer>
          <a href="#">Read full story at The Detroit Free Press</a>
        </footer>
      </article>

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/950/600/" /></b>
        </figure>
        <div class="prose clearfix">
          <header>
            <h1>Soylent DIYers sell their own versions</h1>
            <mark>9</mark>
          </header>
          <div class="eisegesis">
            <p>California’s top water officials meet this week to consider mandatory limits on outdoor water use. Even before Gov. Jerry Brown declared the current drought emergency in January, local water agencies were trying the carrot approach — offering homeowners incentives to rip out and replace their lawns. So far, less than one-tenth of one percent of potential convertible yards have switched.</p>
            <p>KPCC has a list of a dozen things to know about how the "cash for grass" programs are working locally. Read our roundup.</p>
          </div>
        </div>
        <footer>
          <a href="#">Read full story</a>
        </footer>
      </article>
      
      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/950/600/" /></b>
        </figure>
        <div class="prose clearfix">
          <header>
            <h1>Perez calls off recount in controller's race</h1>
            <mark>10</mark>
          </header>
          <div class="eisegesis">
            <p>California’s top water officials meet this week to consider mandatory limits on outdoor water use. Even before Gov. Jerry Brown declared the current drought emergency in January, local water agencies were trying the carrot approach — offering homeowners incentives to rip out and replace their lawns. So far, less than one-tenth of one percent of potential convertible yards have switched.</p>
            <p>KPCC has a list of a dozen things to know about how the "cash for grass" programs are working locally. Read our roundup.</p>
          </div>
        </div>
        <footer>
          <a href="#">Read full story at The Sacramento Bee</a>
        </footer>
      </article>

      <aside class="subscribe">
        start your day informed
      </aside>

    </section><!--/ .abstracts -->




    <div class="supportive">

      <section class="contents">
        <header><h1>Stories in this edition</h1></header>
        <nav>
          <ol>
            <li><a href="#">Grow your understanding of 'cash for grass'</a></li>
            <li><a href="#">LA police union rejects contract with city</a></li>
            <li><a href="#">#Linsanity in LA: Asian-Americans cheer Lakers' trade for Lin</a></li>
            <li><a href="#">Turnout for June primary lowest in California history</a></li>
            <li><a href="#">Amazon asks FAA for permission to fly drones</a></li>
            <li><a href="#">Bell: Former councilman gets 1 year in jail</a></li>
            <li><a href="#">CHP beating renews focus on officers' mental health training</a></li>
            <li><a href="#">Tracy Morgan released from rehab, sues Wal-Mart</a></li>
            <li><a href="#">Richard Linklater on the making of his indie epic, 'Boyhood'</a></li>
            <li><a href="#">Pasadena considers mandatory spay-and-neuter for all animals</a></li>
            <li><a href="#">Earthquake warning system finds funds</a></li>
            <li><a href="#">'English learner' tests incorrectly label bilingual kids</a></li>
            <li><a href="#">Long Beach swears in first Latino, openly gay mayor</a></li>
            <li><a href="#">Desperately seeking drought bill</a></li>
            <li><a href="#">'La Bestia': US government PSA is Central American radio hit</a></li>
          </ol>
        </nav>
      </section>

      <section class="share">
        <div class="clearfix">
          <h1>Share this edition</h1>
          <ul class="clearfix">
            <li class="twitter"><a href="#">Share via Twitter</a></li>
            <li class="email"><a href="#">Share via Email</a></li>
            <li class="facebook"><a href="#">Share via Facebook</a></li>
          </ul>
        </div>
      </section>

    </div><!--/ .supportive -->




</div><!--/ .inner -->
</div><!--/ .pagecols -->


