<% content_for :body_class, 'interior ronin short-list' %>

<header class="edition-marquee">
<div class="inner bound">

    <div class="titling">
      <h1>Short List</h1>
      <h2 class="weekend">Weekend Edition</h2>
    </div>
    <h3><time datetime="2014-07-30">July <mark>30</mark></time></h3>
    <aside class="recents">
      <header>
        <h1>Browse Recent Editions</h1>
        <button>Close</button>
      </header>
      <nav>
        <ul>
          <li>
            <a href="#">
              <figure>
                <div class="ratio">
                  <div class="fill"></div>
                  <b class="img-contain"><img src="http://placekitten.com/400/300/" /></b>
                </div>
                <figcaption>
                  <time datetime="2014-07-17"><span>Thursday</span> Jul 17 <b>A.M. Edition</b></time>
                  <mark>LA's connection to the migrant crisis</mark>
                </figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#">
              <figure>
                <div class="ratio">
                  <div class="fill"></div>
                  <b class="img-contain"><img src="http://placekitten.com/400/300/" /></b>
                </div>
                <figcaption>
                  <time datetime="2014-07-17"><span>Thursday</span> Jul 17 <b>A.M. Edition</b></time>
                  <mark>LA's connection to the migrant crisis</mark>
                </figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#">
              <figure>
                <div class="ratio">
                  <div class="fill"></div>
                  <b class="img-contain"><img src="http://placekitten.com/400/300/" /></b>
                </div>
                <figcaption>
                  <time datetime="2014-07-17"><span>Thursday</span> Jul 17 <b>A.M. Edition</b></time>
                  <mark>LA's connection to the migrant crisis</mark>
                </figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#">
              <figure>
                <div class="ratio">
                  <div class="fill"></div>
                  <b class="img-contain"><img src="http://placekitten.com/400/300/" /></b>
                </div>
                <figcaption>
                  <time datetime="2014-07-17"><span>Thursday</span> Jul 17 <b>A.M. Edition</b></time>
                  <mark>LA's connection to the migrant crisis</mark>
                </figcaption>
              </figure>
            </a>
          </li>
        </ul>
      </nav>
    </aside><!--/ .recents -->

</div><!--/ .inner -->
</header><!--/ .edition-marquee -->





<div class="page-cols">
<div class="inner bound clearfix">

    <section class="abstracts">

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/950/600/" /></b>
        </figure>
        <div class="prose clearfix">
          <header>
            <h1>Grow your understanding of 'cash for grass'</h1>
            <mark>1</mark>
          </header>
          <div class="eisegesis">
            <p>California’s top water officials meet this week to consider mandatory limits on outdoor water use. Even before Gov. Jerry Brown declared the current drought emergency in January, local water agencies were trying the carrot approach — offering homeowners incentives to rip out and replace their lawns. So far, less than one-tenth of one percent of potential convertible yards have switched.</p>
            <p>KPCC has a list of a dozen things to know about how the "cash for grass" programs are working locally. Read our roundup.</p>
          </div>
        </div>
        <footer>
          <a href="#">Read full story at The Washington Post</a>
        </footer>
      </article>

      <aside class="plug">
        <div class="ad widget">
          <%= render "shared/ads/dfp", ad_key: 'slot_a' %>
          <span class="appeal"><a href="#">Become a KPCC sponsor</a></span>
        </div>
      </aside>

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/950/600/" /></b>
        </figure>
        <div class="prose clearfix">
          <header>
            <h1>Grow your understanding of 'cash for grass'</h1>
            <mark>2</mark>
          </header>
          <div class="eisegesis">
            <p>California’s top water officials meet this week to consider mandatory limits on outdoor water use. Even before Gov. Jerry Brown declared the current drought emergency in January, local water agencies were trying the carrot approach — offering homeowners incentives to rip out and replace their lawns. So far, less than one-tenth of one percent of potential convertible yards have switched.</p>
            <p>KPCC has a list of a dozen things to know about how the "cash for grass" programs are working locally. Read our roundup.</p>
          </div>
        </div>
        <footer>
          <a href="#">Read full story</a>
        </footer>
      </article>

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/950/600/" /></b>
        </figure>
        <div class="prose clearfix">
          <header>
            <h1>Grow your understanding of 'cash for grass'</h1>
            <mark>3</mark>
          </header>
          <div class="eisegesis">
            <p>California’s top water officials meet this week to consider mandatory limits on outdoor water use. Even before Gov. Jerry Brown declared the current drought emergency in January, local water agencies were trying the carrot approach — offering homeowners incentives to rip out and replace their lawns. So far, less than one-tenth of one percent of potential convertible yards have switched.</p>
            <p>KPCC has a list of a dozen things to know about how the "cash for grass" programs are working locally. Read our roundup.</p>
          </div>
        </div>
        <footer>
          <a href="#">Read full story at The L.A. Times</a>
        </footer>
      </article>

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/950/600/" /></b>
        </figure>
        <div class="prose clearfix">
          <header>
            <h1>Paying more for individual health insurance? Here's why </h1>
            <mark>4</mark>
          </header>
          <div class="eisegesis">
            <p>California’s top water officials meet this week to consider mandatory limits on outdoor water use. Even before Gov. Jerry Brown declared the current drought emergency in January, local water agencies were trying the carrot approach — offering homeowners incentives to rip out and replace their lawns. So far, less than one-tenth of one percent of potential convertible yards have switched.</p>
            <p>KPCC has a list of a dozen things to know about how the "cash for grass" programs are working locally. Read our roundup.</p>
          </div>
        </div>
        <footer>
          <a href="#">Read full story</a>
        </footer>
      </article>

      <aside class="plug">
        <div class="ad widget">
          <%= render "shared/ads/dfp", ad_key: 'slot_b' %>
          <span class="appeal"><a href="#">Become a KPCC sponsor</a></span>
        </div>
      </aside>

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/950/600/" /></b>
        </figure>
        <div class="prose clearfix">
          <header>
            <h1>Audit finds missing, misused funds at LA charter network</h1>
            <mark>5</mark>
          </header>
          <div class="eisegesis">
            <p>California’s top water officials meet this week to consider mandatory limits on outdoor water use. Even before Gov. Jerry Brown declared the current drought emergency in January, local water agencies were trying the carrot approach — offering homeowners incentives to rip out and replace their lawns. So far, less than one-tenth of one percent of potential convertible yards have switched.</p>
            <p>KPCC has a list of a dozen things to know about how the "cash for grass" programs are working locally. Read our roundup.</p>
          </div>
        </div>
        <footer>
          <a href="#">Read full story</a>
        </footer>
      </article>

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/950/600/" /></b>
        </figure>
        <div class="prose clearfix">
          <header>
            <h1>Farewell, James Garner &mdash; a different breed of leading man</h1>
            <mark>6</mark>
          </header>
          <div class="eisegesis">
            <p>California’s top water officials meet this week to consider mandatory limits on outdoor water use. Even before Gov. Jerry Brown declared the current drought emergency in January, local water agencies were trying the carrot approach — offering homeowners incentives to rip out and replace their lawns. So far, less than one-tenth of one percent of potential convertible yards have switched.</p>
            <p>KPCC has a list of a dozen things to know about how the "cash for grass" programs are working locally. Read our roundup.</p>
          </div>
        </div>
        <footer>
          <a href="#">Read full story at The Seattle Times</a>
        </footer>
      </article>

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/950/600/" /></b>
        </figure>
        <div class="prose clearfix">
          <header>
            <h1>CA's first robot-assisted surgery for prostate cancer</h1>
            <mark>7</mark>
          </header>
          <div class="eisegesis">
            <p>California’s top water officials meet this week to consider mandatory limits on outdoor water use. Even before Gov. Jerry Brown declared the current drought emergency in January, local water agencies were trying the carrot approach — offering homeowners incentives to rip out and replace their lawns. So far, less than one-tenth of one percent of potential convertible yards have switched.</p>
            <p>KPCC has a list of a dozen things to know about how the "cash for grass" programs are working locally. Read our roundup.</p>
          </div>
        </div>
        <footer>
          <a href="#">Read full story</a>
        </footer>
      </article>

      <aside class="plug">
        <div class="ad widget">
          <%= render "shared/ads/dfp", ad_key: 'slot_c' %>
          <span class="appeal"><a href="#">Become a KPCC sponsor</a></span>
        </div>
      </aside>

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/950/600/" /></b>
        </figure>
        <div class="prose clearfix">
          <header>
            <h1>IE aquifer at record low, say officials</h1>
            <mark>8</mark>
          </header>
          <div class="eisegesis">
            <p>California’s top water officials meet this week to consider mandatory limits on outdoor water use. Even before Gov. Jerry Brown declared the current drought emergency in January, local water agencies were trying the carrot approach — offering homeowners incentives to rip out and replace their lawns. So far, less than one-tenth of one percent of potential convertible yards have switched.</p>
            <p>KPCC has a list of a dozen things to know about how the "cash for grass" programs are working locally. Read our roundup.</p>
          </div>
        </div>
        <footer>
          <a href="#">Read full story at The Detroit Free Press</a>
        </footer>
      </article>

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/950/600/" /></b>
        </figure>
        <div class="prose clearfix">
          <header>
            <h1>Soylent DIYers sell their own versions</h1>
            <mark>9</mark>
          </header>
          <div class="eisegesis">
            <p>California’s top water officials meet this week to consider mandatory limits on outdoor water use. Even before Gov. Jerry Brown declared the current drought emergency in January, local water agencies were trying the carrot approach — offering homeowners incentives to rip out and replace their lawns. So far, less than one-tenth of one percent of potential convertible yards have switched.</p>
            <p>KPCC has a list of a dozen things to know about how the "cash for grass" programs are working locally. Read our roundup.</p>
          </div>
        </div>
        <footer>
          <a href="#">Read full story</a>
        </footer>
      </article>
      
      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/950/600/" /></b>
        </figure>
        <div class="prose clearfix">
          <header>
            <h1>Perez calls off recount in controller's race</h1>
            <mark>10</mark>
          </header>
          <div class="eisegesis">
            <p>California’s top water officials meet this week to consider mandatory limits on outdoor water use. Even before Gov. Jerry Brown declared the current drought emergency in January, local water agencies were trying the carrot approach — offering homeowners incentives to rip out and replace their lawns. So far, less than one-tenth of one percent of potential convertible yards have switched.</p>
            <p>KPCC has a list of a dozen things to know about how the "cash for grass" programs are working locally. Read our roundup.</p>
          </div>
        </div>
        <footer>
          <a href="#">Read full story at The Sacramento Bee</a>
        </footer>
      </article>

      <aside class="subscribe">
        start your day informed
      </aside>

    </section><!--/ .abstracts -->




    <div class="supportive">
      i am the sidebar
    </div><!--/ .supportive -->




</div><!--/ .inner -->
</div><!--/ .pagecols -->


