<% content_for :body_class, 'interior ronin short-list' %>

<header class="edition-marquee">
<div class="inner bound">

    <div class="titling">
      <h1>Short List</h1>
      <h2 class="weekend">Weekend Edition</h2>
    </div>
    <h3><time datetime="2014-07-30">July <mark>30</mark></time></h3>
    <aside class="recents">
      <header>
        <h1>Browse Recent Editions</h1>
        <button>Close</button>
      </header>
      <nav>
        <ul>
          <li>
            <a href="#">
              <figure>
                <div class="ratio">
                  <div class="fill"></div>
                  <b class="img-contain"><img src="http://placekitten.com/400/300/" /></b>
                </div>
                <figcaption>
                  <time datetime="2014-07-17"><span>Thursday</span> Jul 17 <b>A.M. Edition</b></time>
                  <mark>LA's connection to the migrant crisis</mark>
                </figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#">
              <figure>
                <div class="ratio">
                  <div class="fill"></div>
                  <b class="img-contain"><img src="http://placekitten.com/400/300/" /></b>
                </div>
                <figcaption>
                  <time datetime="2014-07-17"><span>Thursday</span> Jul 17 <b>A.M. Edition</b></time>
                  <mark>LA's connection to the migrant crisis</mark>
                </figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#">
              <figure>
                <div class="ratio">
                  <div class="fill"></div>
                  <b class="img-contain"><img src="http://placekitten.com/400/300/" /></b>
                </div>
                <figcaption>
                  <time datetime="2014-07-17"><span>Thursday</span> Jul 17 <b>A.M. Edition</b></time>
                  <mark>LA's connection to the migrant crisis</mark>
                </figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#">
              <figure>
                <div class="ratio">
                  <div class="fill"></div>
                  <b class="img-contain"><img src="http://placekitten.com/400/300/" /></b>
                </div>
                <figcaption>
                  <time datetime="2014-07-17"><span>Thursday</span> Jul 17 <b>A.M. Edition</b></time>
                  <mark>LA's connection to the migrant crisis</mark>
                </figcaption>
              </figure>
            </a>
          </li>
        </ul>
      </nav>
    </aside><!--/ .recents -->

</div><!--/ .inner -->
</header><!--/ .edition-marquee -->





<div class="page-cols">
<div class="inner bound clearfix">

    <section class="abstracts">
      i am where the abstracts live
      <aside class="subscribe">
        start your day informed
      </aside>
    </section><!--/ .abstracts -->

    <div class="supportive">
      i am the sidebar
    </div><!--/ .supportive -->

</div><!--/ .inner -->
</div><!--/ .pagecols -->


