npm-debug.log
/.bundle
/.rspec
/coverage
/spec/coverage

/db/*.sqlite3
/log/*
/public/assets
/public/uploads
/public/img
/spec/fixtures/media/audio/upload
/tmp
/.sass-cache

.DS_Store
dump.rdb
.rbenv-vars
config/secrets.yml
/node_modules
.byebug_history
.ash_history
.gem/
.bundle/
.npm/
