<aside class="o-previously <%= @options[:class] %>" <%= order %>>
  <h6 class="b-heading b-heading--h6 b-heading--uppercase u-text-color--gray">Previously in <%= link_to title, public_path, class: "u-text-color--sec" %></h6>
  <ul class="c-list c-list--vert c-list--bullet c-list--bullet-lightest">
    <% recent_content.try(:each) do |link| %>
      <li class="b-heading--bold">
        <%= link_to link.try(:title) || link.try(:headline), link.try(:public_url), :data => { :ga_category => @options[:category], :ga_action => "Clickthrough", :ga_label => @options[:label] } %>
      </li>
    <% end %>
  </ul>
</aside>