<% add_to_page_title "Blogs" %>

<h1>KPCC Blogs</h1>
<div class="row-fluid">
  <div class="span24">
    <div class="directory" id="news">
      <%= render partial: "/blogs/blog_module", collection: @blogs, as: :blog %>
    </div>
  </div>
</div> <!-- .row -->
