<div class="blog-landing">
  <%= any_to_list? @entries, message: @MESSAGE do %>
    <%= cache ["blog",@blog]+@entries do %>
    <%= render partial: "/blogs/entry", collection: @entries, as: :entry, locals: { blog: @blog } %>
    <% end %>
  <% end %>
</div>

<div class="span18 blog-pag">
  <%= paginate @entries %>
</div>
