<% if asset.first.small.width < asset.first.small.height %>
<div class="asset-block right" style="width:<%=assets.first.lsquare.width%>px;">
<% else %>
<div class="asset-block wide">
<% end %>

  <div class="contentasset">
    <%= assets.first.small.tag %>
  </div>

  <h4><%= assets.first.owner %></h4>

  <% if assets.first.caption %>
    <p><%= assets.first.caption %></p>
  <% end %>
</div>
