<aside id="audio-bar" class="o-audio-bar">
    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
    <div id="jp_container_1" class="jp-audio o-audio-bar__container">
      <div class="jp-controls o-audio-bar__playback-controls">
        <svg value="play" class="b-icon jp-play o-audio-bar__controls-play" data-ga-category="Article" data-ga-action="Play" data-ga-label="Player">
          <use class="" xlink:href="/static/images/scpr-sprite.svg#icon_line-audio-bar--play"/>
          Play
        </svg>
        <svg value="pause" class="b-icon jp-pause o-audio-bar__controls-pause" data-ga-category="Article" data-ga-action="Pause" data-ga-label="Player">
          <use class="" xlink:href="/static/images/scpr-sprite.svg#icon_line-audio-bar--pause"/>
          Pause
        </svg>
      </div>
      <div class="o-audio-bar__timeline">
        <header id="jplayer1_title" class="o-audio-bar__title"></header>
        <div class="o-audio-bar__meter">
          <div class="jp-seek-bar">&nbsp;</div>
          <div class="jp-play-bar" style="width: 16.38%;">&nbsp;</div>
        </div>
        <div class="o-audio-bar__markers">
          <span class="ticker jp-current-time"></span>
          <span class="o-pipe">/</span>
          <span class="ticker jp-duration"></span>
        </div>
      </div>
      <div class="o-audio-bar__buttons">
          <a class="o-audio-bar__download" href="#" download>
            <svg class="b-icon o-audio-bar__download-icon" data-ga-category="Article" data-ga-action="Volume" data-ga-label="Player">
              <use class="" xlink:href="/static/images/scpr-sprite.svg#icon_line-download"/>
              Download
            </svg>
          </a>
          <svg value="mute" class="b-icon jp-mute o-audio-bar__unmute" data-ga-category="Article" data-ga-action="Volume" data-ga-label="Player">
            <use class="" xlink:href="/static/images/scpr-sprite.svg#icon_line-volume--unmute"/>
            Mute
          </svg>
          <svg value="unmute" class="b-icon jp-unmute o-audio-bar__mute" data-ga-category="Article" data-ga-action="Volume" data-ga-label="Player">
            <use class="" xlink:href="/static/images/scpr-sprite.svg#icon_line-volume--mute"/>
            Unmute
          </svg>
          <svg value="close" class="b-icon jp-stop o-audio-bar__collapse" data-ga-category="Article" data-ga-action="Volume" data-ga-label="Player">
            <use class="" xlink:href="/static/images/scpr-sprite.svg#icon_line-close"/>
            X
          </svg>
      </div>
    </div>
</aside><!--/ .o-audio-bar -->