<% add_to_page_title "Issues" %>

<% content_for :body_class, 'interior issues' %>
<% content_for :quadrant_header, 'Popular Now on KPCC' %>

<%= render 'shared/header/header' %>


<section class="prologue">
  <div class="inner bound">
      <h1 class="title">All Issues</h1>
      <aside class="share">
          <ul>
              <li><a href="#">Share on Facebook</a></li>
              <li><a href="#">Share on Twitter</a></li>
              <li><a href="#">Share on Google Plus</a></li>
              <li><a href="#">Share via Email</a></li>
          </ul>
      </aside>
  </div>
</section><!--/ .prologue -->




<div class="catalog">
  <div class="inner bound clearfix">

      <nav class="terms">
          <ul class="clearfix">
              <% @issues.each do |issue| %>
                <li><%= link_to issue.title, issue_path(issue.slug) %></li>
              <% end %>
          </ul>
      </nav>

      <div class="showcase">

          <header class="preface">
              <h1>Begin by choosing one of the issues <span class="directional"><b>at left</b></span>.</h1>
          </header>

      </div><!--/ .showcase -->

  </div>
</div><!--/ .catalog -->

<%= render 'shared/kpcc_ipad_ad' %>

<%= render partial: 'shared/quadrant', locals: { top_articles: @top_popular_articles, bottom_articles: @bottom_popular_articles } %>
