<% add_to_page_title "Issues" %>

<h1>KPCC Issues</h1>
<div class="row-fluid">
  <div class="span12">
    <div class="directory" id="news">
      <h6>News</h6>
    </div>
  </div>
  <div class="span12">
    <div class="directory" id="arts-and-culture">
    </div>
  </div> <!-- .span8 -->
</div> <!-- .row -->

