<% add_to_page_title "Issues" %>
<% meta_tags(url: issues_url) %>
<% content_for :body_class, 'interior ronin' %>

<% content_for :opengraph do %>


      <meta property="og:title" content="Issues">
      <meta property="og:type" content="<%= @OG_TYPE || "website" %>">
      <meta property="og:url" content="http://www.scpr.org/issues/"/>
      <meta property="og:image" content="http://scpr.org<%=image_path('kpcc-twitter-logo.png')%>" />

      <link rel="image_src" href="http://scpr.org<%=image_path('kpcc-twitter-logo.png')%>" />
      <meta name="twitter:image" value="http://scpr.org<%=image_path('kpcc-twitter-logo.png')%>">


<% end %>

<header class="preface">
    <h1>Begin by choosing one of the issues <span class="directional"><b>at left</b></span>.</h1>
</header>
