<% add_to_page_title "Issues" %>
<% meta_tags(url: issues_url) %>
<% content_for :body_class, 'interior issues' %>

<header class="preface">
    <h1>Begin by choosing one of the issues <span class="directional"><b>at left</b></span>.</h1>
</header>
