<% add_to_page_title @vertical.title %>
<% content_for :main_class, "l-vertical" %>
<% meta_tags(url: @vertical.public_url) %>
<% content_for :body_class, "landing #{@vertical.slug}" %>
<% content_for :titling do %>
    <%= render :partial => 'shared/new/masthead/news_titling' %>
<% end %>

<% content_for :footer_sponsors do %>
<aside class="grant">
    <div class="inner bound">
        <section class="tier gold">
            <h1>KPCC's business coverage is supported by</h1>
            <ul>
                <li><span>Gordon and Dona Crawford</span></li>
            </ul>
        </section>
    </div>
</aside>
<% end %>

<%= render template: 'verticals/default' %>
