<% add_to_page_title @vertical.title %>
<% content_for :main_class, "l-vertical" %>
<% meta_tags(url: @vertical.public_url) %>
<% content_for :body_class, "landing #{@vertical.slug}" %>
<% content_for :titling do %>
    <%= render :partial => 'shared/new/masthead/news_titling' %>
<% end %>

<% content_for :footer_sponsors do %>
<aside class="o-footer_nav o-footer__vertical-nav u-text-align--center">
  <h6 class="b-heading b-heading--h6">KPCC's business coverage is supported by</h6>
  <ul class="o-footer__vertical-sponsors">
      <li><h2>Gordon and Dona Crawford</h2></li>
  </ul>
</aside>
<% end %>

<%= render template: 'verticals/default' %>
