<% content_for :main_class, "l-vertical" %>
<% content_for :footer_sponsors do %>
<aside class="o-footer_nav o-footer__vertical-nav u-text-align--center">
  <section class="tier gold">
      <h6 class="b-heading b-heading--h6">KPCC's education coverage is supported by</h6>
      <ul class="o-footer__vertical-sponsors">
          <li><h2><a href="http://www.cpb.org/">The Corporation for Public Broadcasting</a></h2></li>
      </ul>
  </section>
  <section class="tier silver">
      <h6 class="b-heading b-heading--h6">With additional support from</h6>
      <ul class="o-footer__vertical-sponsors">
          <li><h2><a href="http://www.atlasfamilyfoundation.org/">The Atlas Family Foundation</a></h2></li>
          <li><h2 class="o-pipe">|</h2></li>
          <li><h2><em>Baby Futures Fund </em>of the California Community Foundation</h2></li>
          <li><h2 class="o-pipe">|</h2></li>
          <li><h2>The Carl &amp; Roberta Deutsch Foundation</h2></li>
          <li><h2 class="o-pipe">|</h2></li>
          <li><h2>Rosenthal Family Foundation</h2></li>
          <li><h2 class="o-pipe">|</h2></li>
          <li><h2>Tikun Olam Foundation</h2></li>
      </ul>
  </section>
  <section class="tier bronze">
    <ul class="o-footer__vertical-sponsors">
          <li><h2>Julian and Justine Poon</h2></li>
          <li><h2 class="o-pipe">|</h2></li>
          <li><h2>Gibson, Dunn &amp; Crutcher LLP</h2></li>
          <li><h2 class="o-pipe">|</h2></li>
          <li><h2>Jennifer and Shawn McCreight</h2></li>
          <li><h2 class="o-pipe">|</h2></li>
      </ul>
  </section>
</aside>
<% end %>



<%= render template: 'verticals/default' %>
