<% content_for :footer_sponsors do %>
<aside class="grant">
    <div class="inner bound">
        <section class="tier gold">
            <h1>KPCC's education coverage is supported by</h1>
            <ul>
                <li><span>The Corporation for Public Broadcasting</span></li>
            </ul>
        </section>
        <section class="tier silver">
            <h1>With additional support from</h1>
            <ul>
                <li><span>The Atlas Family Foundation</span></li>
                <li><span><em>Baby Futures Fund </em>of the California Community Foundation</span></li>
                <li><span>The Carl &amp; Roberta Deutsch Foundation</span></li>
                <li><span>Rosenthal Family Foundation</span></li>
                <li><span>Tikun Olam Foundation</span></li>
            </ul>
        </section>
        <section class="tier bronze">
            <ul>
                <li><span>Julian and Justine Poon</span></li>
                <li><span>Gibson, Dunn &amp; Crutcher LLP</span></li>
                <li><span>Jennifer and Shawn McCreight</span></li>
            </ul>
        </section>
    </div>
</aside>
<% end %>



<% content_for :masthead_ad do %>
<div class="partner">
    <h3><a href="http://laup.net/" title="Los Angeles Universal Preschool">
        <span>Presented by Los Angeles Universal Preschool.</span>
        <b class="img"><img src="<%= image_path('sponsor-assets/laup-logo.png') %>" alt="LAUP logo" /></b></a>
    </h3>
</div>
<% end %>



<% content_for :middle_ad do %>
<aside class="interstitial laup">
    <header class="disclaimer">
        <p class="bound">Sponsor</p>
    </header>
    <div class="message">
        <div class="inner bound">
            <a href="http://laup.net" title="Los Angeles Universal Preschool">
                <h1>Preschool: It gives children a quality foundation to reach for the stars.</h1>
                <figure class="secondary">
                    <b class="logo"><img src="<%= image_path('sponsor-assets/laup-logo-full.png') %>" alt="LAUP logo" /></b>
                    <figcaption>LAUP is a non-profit organization providing high-quality preschool education to the children of Los Angeles County.</figcaption>
                </figure>
                <figure class="photo">
                    <img src="<%= image_path('sponsor-assets/laup-photo-telescope.png') %>" alt="Photograph of LAUP student with telescope" />
                </figure>
                <mark class="outbound"><span>Learn More</span></mark>
            </a>
        </div>
    </div>
    <footer class="plug">
        <p class="bound"><a href="/support/underwriting/">Become a KPCC sponsor.</a></p>
    </footer>
</aside><!--/ .interstitial -->
<% end %>


<%= render template: 'verticals/default' %>
