<% content_for :main_class, "l-vertical" %>
<% content_for :footer_sponsors do %>
<aside class="grant">
    <div class="inner bound">
        <section class="tier gold">
            <h1>KPCC's science &amp environment coverage is supported by</h1>
            <ul>
                <li><span>The Ward Family Foundation</span></li>
                <li><span>Darcy and Richard Kopcho</span></li>
            </ul>
        </section>
        <section class="tier silver">
            <h1>With additional support from</h1>
            <ul>
                <li><span>Tom and Marilyn Sutton</span></li>
            </ul>
        </section>
        <section class="tier bronze">
            <ul>
                <li><span>Allan Markowitz</span></li>
            </ul>
        </section>
    </div>
</aside>
<% end %>

<%= render template: 'verticals/default' %>