<% content_for :main_class, "l-vertical" %>
<% content_for :footer_sponsors do %>
<aside class="o-footer_nav o-footer__vertical-nav u-text-align--center">
  <section class="tier gold">
      <h6 class="b-heading b-heading--h6">KPCC's science &amp environment coverage is supported by</h6>
      <ul class="o-footer__vertical-sponsors">
          <li><h2>The Ward Family Foundation</h2></li>
          <li><h2 class="o-pipe">|</h2></li>
          <li><h2>Darcy and Richard Kopcho</h2></li>
      </ul>
  </section>
  <section class="tier silver">
      <h6 class="b-heading b-heading--h6">With additional support from</h6>
      <ul class="o-footer__vertical-sponsors">
          <li><h2>Tom and Marilyn Sutton</li>
      </ul>
  </section>
  <section class="tier bronze">
    <ul class="o-footer__vertical-sponsors">
          <li><h2>Allan Markowitz</h2></li>
      </ul>
  </section>
</aside>
<% end %>

<%= render template: 'verticals/default' %>