<% content_for :footer_sponsors do %>
<aside class="grant">
    <div class="inner bound">
        <section class="tier gold">
            <h1>KPCC's health coverage is supported by</h1>
            <ul>
                <li><span><a href="http://www.calendow.org/">The California Endowment</a></span></li>
                <li><span><a href="http://www.rosehillsfoundation.org/">The Rose Hills Foundation</a></span></li>
                <li><span><a href="http://www.chcf.org/">California HealthCare Foundation</a></span></li>
            </ul>
        </section>
        <section class="tier silver">
            <h1>With additional support from</h1>
            <ul>
                <li><span><a href="http://www.calwellness.org/">The California Wellness Foundation</a></span></li>
            </ul>
        </section>
    </div>
</aside>
<% end %>

<%= render template: 'verticals/default' %>