<% content_for :main_class, "l-vertical" %>
<% content_for :footer_sponsors do %>
<aside class="o-footer_nav o-footer__vertical-nav u-text-align--center">
  <section class="tier gold">
      <h6 class="b-heading b-heading--h6">KPCC's health coverage is supported by</h6>
      <ul class="o-footer__vertical-sponsors">
          <li><h2><a href="http://www.calendow.org/">The California Endowment</a></h2></li>
          <li><span class="o-pipe">|</span></li>
          <li><h2><a href="http://www.chcf.org/">California HealthCare Foundation</a></h2></li>
          <li><span class="o-pipe">|</span></li>
          <li><h2><a href="https://www.queenscare.org/">QueensCare</a></h2></li>
      </ul>
  </section>
</aside>
<% end %>

<%= render template: 'verticals/default' %>
