<% content_for :main_class, "l-vertical" %>
<% content_for :footer_sponsors do %>
<aside class="grant">
    <div class="inner bound">
        <section class="tier gold">
            <h1>KPCC's health coverage is supported by</h1>
            <ul>
                <li><span><a href="http://www.calendow.org/">The California Endowment</a></span></li>
                <li><span><a href="http://www.chcf.org/">California HealthCare Foundation</a></span></li>
                <li><span><a href="https://www.queenscare.org/">QueensCare</a></span></li>
            </ul>
        </section>
    </div>
</aside>
<% end %>

<%= render template: 'verticals/default' %>
