<% content_for :footer_sponsors do %>
<aside class="grant">
    <div class="inner bound">
        <section class="tier gold">
            <h1>KPCC's politics &amp; government coverage is supported by</h1>
            <ul>
                <li><span>The Ford Foundation</span></li>
                <li><span>The James Irvine Foundation</span></li>
            </ul>
        </section>
        <section class="tier silver">
            <h1>With additional support from</h1>
            <ul>
                <li><span>Peter Yun Huh and Jihee Kim Huh</span></li>
            </ul>
        </section>
        <section class="tier bronze">
            <ul>
                <li><span>The John Randolph Haynes and Dora Haynes Foundation</span></li>
                <li><span>Sally Graves DeWitt</span></li>
            </ul>
        </section>
    </div>
</aside>
<% end %>

<%= render template: 'verticals/default' %>
