<% content_for :main_class, "l-vertical" %>
<% content_for :footer_sponsors do %>
<aside class="o-footer_nav o-footer__vertical-nav u-text-align--center">
  <section class="tier gold">
      <h6 class="b-heading b-heading--h6">KPCC's politics &amp; government coverage is supported by</h6>
      <ul class="o-footer__vertical-sponsors">
          <li><h2><a href="http://www.fordfoundation.org/">The Ford Foundation</a></h2></li>
          <li><span class="o-pipe">|</span></li>
          <li><h2><a href="http://irvine.org/">The James Irvine Foundation</a></h2></li>
      </ul>
  </section>
  <section class="tier silver">
      <h6 class="b-heading b-heading--h6">With additional support from</h6>
      <ul class="o-footer__vertical-sponsors">
          <li><h2>Peter Yun Huh and Jihee Kim Huh</li>
      </ul>
  </section>
  <section class="tier bronze">
    <ul class="o-footer__vertical-sponsors">
      <li><h2><a href="http://www.haynesfoundation.org/">The John Randolph Haynes and Dora Haynes Foundation</a></h2></li>
      <li><span class="o-pipe">|</span></li>
      <li><h2>Sally Graves DeWitt</h2></li>
    </ul>
  </section>
</aside>
<% end %>
<% content_for :footer_tagline do %>
    NO RANT, NO SLANT&reg;
<% end %>
<%= render template: 'verticals/default' %>
