<% add_to_page_title "Error" %>

<h3>Error</h3>

<p>We're sorry... seriously. We hate errors as much as you do.</p>
<p>We have already been notified of these errors by our monitoring software.</p>

<hr />
<p>If this is an emergency, please contact one of the members of the web team:</p>

<ul>
  <li><strong>Andy Cheatwood</strong>
    <ul>
      <li><a href="mailto:acheatwood@scpr.org">acheatwood@scpr.org</a></li>
    </ul>
  </li>

  <li><strong>Jay Arella</strong>
    <ul>
      <li><a href="mailto:jarella@scpr.org">jarella@scpr.org</a></li>
      <li>818-796-5002 (cell)</li>
    </ul>
  </li>
</ul>

<hr />
<p>Here is the error that happened. Please copy and paste this if you decide to send us an email:</p>

<pre>
  <%= Time.zone.now %>
  <%= request.url %>

  <%= error.to_yaml %>
</pre>

<hr />
