<aside class="partner kpccforipad">
  <a href="http://kp.cc/IFU1MK" title="Download KPCC for iPad today in the App Store">
      <div class="inner bound">
          <h1>
              <b>
                  <mark>Meet KPCC for iPad.</mark>
                  <span>Intelligent news.</span>
                  <span>At your convenience.</span>
              </b>
          </h1>
          <b class="prop"><%= image_tag 'sponsor-assets/kpccforipad-prop.png', alt: "" %></b>
          <p class="action"><mark>Get it free in the App Store</mark></p>
      </div>
  </a>
</aside>


