<aside class="partner mercedes">
    <div class="inner bound">
        <h1><b><span>Groundbreaking innovation</span> <span>has broken through again.</span></b></h1>
        <b class="car"><%= image_tag('sponsor-assets/mercedes-car.png', alt: '') %></b>
        <p class="teaser">
          <span>Introducing the redesigned 2014 E-Class Sedan.</span>
          <span>More aggressive, more eye-catching and more innovative than ever.</span>
          <mark><a href="#">Discover the E-Class</a></mark>
        </p>
        <figure class="logo"><a href="#"><%= image_tag('sponsor-assets/mercedes-logo-full.png', alt: '') %></a></figure>
    </div>
</aside>


