<% add_to_page_title @program.title %>
<% meta_tags(url: @program.public_url) %>
<% content_for :body_class, "program #{@program.slug}" %>



<section class="exordium">
  <header class="bound">
    <h1><a href="#">High-speed rails, ride-share carpooling, and how bears avoid diabetes</a></h1>
  </header>
  <div class="content clearfix bound">
    <article class="curated">
    </article>
    <div class="supporting">
      <nav class="segments">
        <h1>Also in this episode</h1>
        <ul>
          <li><a href="#">U.S. still struggling with high-speed rail</a></li>
          <li><a href="#">Uber, Lyft and Sidecar go after the carpooling crowd</a></li>
          <li><a href="#">After-school programs offering arts instruction to students</a></li>
          <li><a href="#">Brake for whales: ships to slow in blue whale habitat</a></li>
          <li><a href="#">What does it mean to "go green" on a fixed income?</a></li>
          <li><a href="#">Court finds pair of Khmer Rouge leaders guilty</a></li>
          <li><a href="#">Vaquita porpoise near extinction in Mexico</a></li>
          <li><a href="#">Why don't obese bears get diabetes?</a></li>
        </ul>
        <footer>
          <a>See all from August 7</a>
        </footer>
      </nav>
    </div>
  </div>
</section>



<h1>Show: <%= @program.slug %></h1>
