<header class="preface">
    <h1><%= topic.title %></h1>
    <div class="details clearfix">
        <div class="brief">
            <p><%= topic.description %></p>
        </div>
    </div> <!--/ .details -->
</header>