<header class="header">
  <div class="bound full-width clearfix">
    <div class="branding">
      <img src="http://projects.scpr.org/officer-involved/images/logo_kpcc-black.svg" alt="89.3 KPCC" class="desaturate">
      <hr class="pipe">
      <%= render partial: 'shared/better_homepage/opt_out' %>
      <ul class="nav__links">
        <li>
          <a href="#">
            <img src="../images/listen-live.svg" /> 
            Listen Live 
            <span class="program-title">- Morning Edition</span>
          </a>
        </li>
      </ul>
    </div>
    <nav class="nav">
      <ul class="nav__links">
        <li><a href="#">News</a></li>
        <li><a href="#">Programs</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#"><img src="../images/search.svg" /></a></li>
      </ul>
      <hr class="pipe">
      <ul class="nav__links">
        <li><a href="#"><img src="../images/donate.svg" /> Donate</a></li>
        <li><a href="#"><img src="../images/user.svg" /> Sign In</a></li>
      </ul>
    </nav>
  </div>
</header>