<% current_month = Time.now.strftime("%B") %>
<section class="archive-browser">
  <h1><span>Browse the <%= program.title %> Archives</span></h1>
  <div class="columns">

    <!--
    ==========================================================
    Okay, here's what's up.
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Liminal-Picker has a very temporary, ephemeral, cosmetic
    job to do: He only appears for tablet-and-wider users,
    and only passes choices on to *the actual form,* which
    is what handheld users see, and which fires off the
    actual, useful Ajax request.
    ==========================================================
    -->
    <aside class="liminal-picker" aria-hidden="true">
      <div class="years">
        <ul>
        </ul>
      </div>
      <div class="months">
        <ul>
        </ul>
      </div>
    </aside><!--/ .liminal-picker -->

    <div class="directory">
      <aside class="standard-picker">
        <form>
          <div class="fields clearfix">
            <div class="field years">
              <select autocomplete="off">
              </select>
            </div>
            <div class="field months">
              <select autocomplete="off">
              </select>
            </div>
          </div><!--/ .fields -->
        </form>
      </aside><!--/ .standard-picker -->
      <div class="results">
        <ul></ul>
        <aside class="show-full-results" aria-hidden="true">
          <button>Show full month results</button>
        </aside>
      </div><!--/ .results -->
    </div><!--/ .directory -->

  </div><!--/ .columns -->
  <div class="collateral">

    <aside class="placard">
        <div class="ad widget">
            <%= render "shared/ads/dfp", ad_key: 'slot_c' %>
            <p class="appeal"><a href="/support/underwriting/">Become a KPCC Sponsor</a></p>
        </div>
    </aside>
  
  </div><!--/ .collateral -->
</section><!--/ .archive-browser -->



<script id="episodeView" type="text/template">
  <li><a href="<%%= public_url %>"><time datetime="<%%= air_date %>"><%%= day() %></time> <span><%%= title %></span></a></li>
</script>

<script id="liminalYearView" type="text/template">
  <span><%%= number %></span>
</script>

<script id="standardYearView" type="text/template">
  <%%= number %>
</script>

<script id="liminalMonthView" type="text/template">
  <span><%%= name %></span>
</script>

<script id="standardMonthView" type="text/template">
  <%%= name %>
</script>

