<!-- Modal -->
<script id="ContentsComponent" type="text/x-handlebars-template">
  {{#each collection.models}}
    {{content}}
  {{/each}}
</script>

<script id="ContentComponent" type="text/x-handlebars-template">
  {{asset 'large'}}
  <div class="media__container clearfix">
    <div class="media__content">
      {{asset 'medium'}}
      <h2 class="media__headline"><a>{{title}}</a></h2>
      <div class="media__summary">{{teaser}}</div>
    </div>
    <aside class="media__metadata">
    </aside>
  </div>
</script>

<script id="AssetComponent" type="text/x-handlebars-template">
  {{#displayIf 'medium'}}
    <img src="{{url}}" class="media__image medium">
  {{/displayIf}}
  {{#displayIf 'large'}}
    <img src="{{url}}" class="media__image large">
  {{/displayIf}}
</script>

<script id="_AssetComponent" type="text/x-handlebars-template">
  {{#ifMedium}}
    <img src="{{url}}" class="media__image medium">
  {{/ifMedium}}
  {{#ifLarge}}
    <img src="{{url}}" class="media__image large">
  {{/ifLarge}}
</script>