<!-- Modal -->
<script id="ContentComponent" type="text/x-handlebars-template">
  {{asset 'large'}}
  <div class="media__container clearfix">
    <div class="media__content">
      {{asset 'medium'}}
      <h2 class="media__headline"><a>{{title}}</a></h2>
      <div class="media__summary">{{teaser}}</div>
    </div>
    <aside class="media__metadata">
    </aside>
  </div>
</script>

<script id="AssetComponent" type="text/x-handlebars-template">
  {{#ifMedium}}
    <a target="_blank"  class="media__image-parent">
      <img src="{{url}}" class="media__image medium">
    </a>
  {{/ifMedium}}
  {{#ifLarge}}
    <a target="_blank"  class="media__image-parent">
      <img src="{{url}}" class="media__image large">
    </a>
  {{/ifLarge}}
</script>