<% if (content || []).any? %>
  <div class="related-content o-media__related-content">
    <h5 class="heading heading--h5 heading--uppercase u-text-color--gray">Related</h5>
    <ul class="c-list c-list--vert c-list--bullet">
      <% content.each do |record| %>
        <li class="o-media__teaser o-media__teaser--bullet">
          <%= media_object "sm", content: record %>       
        </li>
      <% end %>
    </ul>
  </div>
<% end %>