// Keep this file here to support hard-coded results tables in
// Flatpages.

.hero-election {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  font-size: 13px;
  margin-bottom: 22px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.67);
}

.hero-election .election-header {
  background: #134b94 image-url("specials/election/bg-header.jpg") no-repeat 0 0;
  border-bottom: 1px solid #115695;
  position: relative;
  text-align: center;
}

.hero-election .election-header h1 {
  color: #f1f1f1;
  font-size: 1.846153846em;
  line-height: 24px;
  margin: 8px 0 4px;
  text-transform: uppercase;
}

.hero-election .election-header h1 em {
  color: #6bc6f2;
  font-style: normal;
}

.hero-election .election-header .share-link {
  background: image-url("specials/election/ico-share.png") no-repeat 0 2px;
  color: white;
  font-size: 0.923076923em;
  font-weight: 800;
  text-transform: uppercase;
  padding-left: 25px;
  display:inline;
}

.hero-election .election-header .share-link span, .hero-election .election-header .share-link a {
  cursor: pointer;
}

.hero-election .header-well {
  background: #032e54;
  border-top: 1px solid #002035;
  border-bottom: 1px solid #2e2e2e;
  font-size: 1em;
  font-weight: 400;
  padding: 3px 10px;
  /* Styles for pre-results voter guide callout */
}

.hero-election .header-well .live-tweet {
  background: image-url("specials/election/ico-twitter.png") no-repeat 0 2px;
  color: white;
  float: left;
  margin-right: 10px;
  padding-left: 26px;
  text-transform: uppercase;
}

.hero-election .header-well ul {
  margin: 0;
}

.hero-election .header-well ul li {
  display: none;
  list-style: none;
  color: #6bc6f2;
}

.hero-election .header-well ul li.active {
  display: block;
}

.hero-election .header-well ul li a.twitter-icon {
  display: inline-block;
  width: 18px;
  margin-left: 5px;
  background: image-url("icons/share-twitter.png") no-repeat;
}

.hero-election .header-well ul li a.twitter-icon:hover {
  text-decoration: none;
}

.hero-election .header-well h2.callout {
  color: white;
  font-size: 22px;
  margin: 8px 0;
  text-align: center;
}

.hero-election .header-well h2.callout strong {
  color: #6bc6f2;
}

.hero-election .header-well h2.callout a {
  color: white;
  font-size: .7em;
  text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.67059);
  text-transform: uppercase;
}

.hero-election .header-well h2.callout a:hover {
  color:#6bc6f2;
  text-decoration:none;
}

.hero-election .results {
  background: #2e2e2e;
  border-top: 1px solid #414141;
  color: #fff;
}

.hero-election .results.president-only .results-block {
  min-height: 64px;
}

.hero-election .results.president-only .results-block header {
  background-repeat: repeat;
  min-height: 64px;
  margin: 0;
}

.hero-election .results.president-only .results-block header h2 {
  font-size: 1.846153846em;
  padding-top: 10px;
  text-align: right;
}

.hero-election .results.president-only .results-block header aside {
  position: relative;
  right: auto;
  top: auto;
  margin-right: 10px;
  text-align: right;
}

.hero-election .results.president-only .results-block .candidate {
  border: none;
}

.hero-election .results .results-block header {
  background: image-url("specials/election/bg-subhead.png") repeat-x 0 0;
  position: relative;
}

.hero-election .results .results-block header.first {
  margin-left: 0;
}

.hero-election .results .results-block header.last {
  margin-right: 0;
}

.hero-election .results .results-block header h2 {
  color: #6bc6f2;
  display:inline;
  font-size: 1.230769231em;
  line-height:27.4px;
  padding: 0 10px;
  text-transform: uppercase;
}

.hero-election .results .results-block header aside {
  color: #9c9c9c;
  font-size: 0.923076923em;
  font-weight: 400;
  display:inline;
}

.hero-election .results .results-block .vert-divider {
  background-color: #1d1d1d;
  border-right: 1px solid #484848;
  right: -5.850225%;
}

.hero-election .results .results-block .candidate, .hero-election .results .results-block .initiative {
  box-shadow:0 -1px 1px -1px #000;
  border-top: 1px solid #484848;
  padding: 12px 10px 0;
}

.hero-election .results .results-block .candidate.first, .hero-election .results .results-block .initiative.first {
  border-top: none;
}

.hero-election .results .results-block .candidate.last, .hero-election .results .results-block .initiative.last {
  border-bottom: none;
}

.hero-election .results .results-block .candidate .percentage, .hero-election .results .results-block .initiative .percentage {
  color: white !important;
  font-size: 0.5625em;
  margin-left: 4px;
  vertical-align: super;
}

.hero-election .results .results-block .initiative {
  zoom: 1;
}

.hero-election .results .results-block .initiative:before, .hero-election .results .results-block .initiative:after {
  display: table;
  content: "";
}

.hero-election .results .results-block .initiative:after {
  clear: both;
}

.hero-election .results .results-block .initiative.condensed {
  padding: 7px 2%;
  float:left;
  width:46%;
}
.hero-election .results .results-block .initiative.condensed.greuel,
.hero-election .results .results-block .initiative.condensed.garcetti,
.hero-election .results .results-block .initiative.condensed.feuer,
.hero-election .results .results-block .initiative.condensed.trutanich {
  background: no-repeat 10px 6px;
  height: 60px;
  padding-left: 80px;
  width: 36%;
}
.hero-election .results .results-block .initiative.condensed.greuel {
  background-image: image-url('specials/election/head-greuel.png');
}
.hero-election .results .results-block .initiative.condensed.garcetti {
  background-image: image-url('specials/election/head-garcetti.png');
}
.hero-election .results .results-block .initiative.condensed.feuer {
  background-image: image-url('specials/election/head-feuer.png');
}
.hero-election .results .results-block .initiative.condensed.trutanich {
  background-image: image-url('specials/election/head-trutanich.png');
}


.hero-election .results .results-block .initiative.condensed {
  padding: 7px 2%;
  float:left;
  width:46%;
}

.hero-election .results .results-block .initiative.condensed.local .title h3 {
  font-size: 1.2em !important;
  line-height: 1.2em;
}

.hero-election .results .results-block .initiative.condensed.local .result {
  width: 110px;
}

.hero-election .results .results-block .initiative.condensed.local .result .yes, .hero-election .results .results-block .initiative.condensed.local .result .no {
  width: 50px;
}

.hero-election .results .results-block .initiative.condensed.local .result strong {
  font-size: 2em !important;
  margin-bottom: 0;
}

.hero-election .results .results-block .initiative.condensed.local .result .percentage {
  font-size: 0.4em !important;
}

.hero-election .results .results-block .initiative.condensed.local .result span {
  font-size: 1em !important;
}

.hero-election .results .results-block .initiative.local .title {
  width: 200px;
}

.hero-election .results .results-block .initiative.local .title h3 {
  font-size: 2em;
}

.hero-election .results .results-block .initiative .title {
  float: left;
}

.hero-election .results .results-block .initiative .title h3 {
  color: white;
  font-size: 2.307692308em;
  font-weight: 100;
}

.hero-election .results .results-block .initiative .title p {
  color: #858585;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  font-size: 0.846153846em;
  font-weight: 600;
  margin-bottom: 0;
}

.hero-election .results .results-block .initiative .result {
  zoom: 1;
  float: left;
  width: 140px;
  margin-top: -3px;
}

.hero-election .results .results-block .initiative .result:before, .hero-election .results .results-block .initiative .result:after {
  display: table;
  content: "";
}

.hero-election .results .results-block .initiative .result:after {
  clear: both;
}

.hero-election .results .results-block .initiative .result .yes {
  float: left;
  width: 60px;
}

.hero-election .results .results-block .initiative .result .yes.pass span {
  background: image-url("specials/election/ico-checkbox-sm.png") no-repeat right 3px;
  color: #74bd3a;
  padding-right: 18px;
}

.hero-election .results .results-block .initiative .result .no {
  float: right;
  width: 60px;
}

.hero-election .results .results-block .initiative .result .no.fail span {
  background: image-url("specials/election/ico-strikethrough-sm.png") no-repeat right 3px;
  color: #da1020;
  padding-right: 18px;
}

.hero-election .results .results-block .initiative .result strong {
  display: block;
  font-size: 2.461538462em;
  margin-bottom: 4px;
}

.hero-election .results .results-block .initiative .result span {
  color: #b3b3b3;
  display: inline-block;
  font-size: 1.230769231em;
  margin-left: 6px;
  text-transform: uppercase;
}

.hero-election .results .results-block .initiative .result .vert-divider {
  background-color: #484848;
  border-right: none;
  right: 50%;
}

.hero-election .results .results-block .candidate {
  position: relative;
  zoom: 1;
  background: no-repeat 10px 6px;
}

.hero-election .results .results-block .candidate:before, .hero-election .results .results-block .candidate:after {
  display: table;
  content: "";
}

.hero-election .results .results-block .candidate:after {
  clear: both;
}

.hero-election .results .results-block .candidate.obama {
  background-image: image-url("specials/election/head-obama.png");
}

.hero-election .results .results-block .candidate.obama .result strong {
  color: #0f93d2;
}

.hero-election .results .results-block .candidate.romney {
  background-image: image-url("specials/election/head-romney.png");
}

.hero-election .results .results-block .candidate.romney .result strong {
  color: #e53f48;
}

.hero-election .results .results-block .candidate.berman {
  background-image: image-url("specials/election/head-berman.png");
}

.hero-election .results .results-block .candidate.sherman {
  background-image: image-url("specials/election/head-sherman.png");
  background-position: 15px 6px;
}

.hero-election .results .results-block .candidate.lacey {
  background-image: image-url("specials/election/head-lacey.png");
}

.hero-election .results .results-block .candidate.jackson {
  background-image: image-url("specials/election/head-jackson.png");
}

.hero-election .results .results-block .candidate h4 {
  color: white;
  float: left;
  font-size: 1.384615385em;
  font-weight: 100;
  padding-left: 60px;
}

.hero-election .results .results-block .candidate h4 em {
  background: image-url("specials/election/ico-checkbox.png") no-repeat 0 2px;
  display: block;
  color: #74bd3a;
  font-size: 0.666666667em;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0;
  padding-left: 24px;
}

.hero-election .results .results-block .candidate .result {
  text-align: right;
  float: right;
  width: 62px;
}

.hero-election .results .results-block .candidate .result strong {
  display: block;
  font-size: 2.461538462em;
  font-weight: 900;
  margin-bottom: 6px;
}

.hero-election .results .results-block .candidate .result span {
  color: #858585;
  display: inline-block;
  zoom: 1;
  *display: inline;
  font-size: 0.769230769em;
  line-height: 11px;
  text-transform: uppercase;
}

.hero-election .visible-mobile {
  display: none;
}
div.results-block + .initiative {
  border-top:0 !important;
}
@media screen and (min-width: 769px) and (max-width: 960px) {

  .hero-election {
    font-size: 11px;
  }

  .hero-election .results .results-block .candidate, .hero-election .results .results-block .initiative {
    padding-right: 4px;
    padding-left: 4px;
  }

  .hero-election .results .results-block .initiative.local .title {
    width: 100px;
  }

  .hero-election .results .results-block .initiative .result {
    width: 110px;
  }

  .hero-election .results .results-block .initiative .result .yes, .hero-election .results .results-block .initiative .result .no {
    width: 52px;
  }

  .hero-election .results .results-block .initiative .result .vert-divider {
    display: none;
  }

  .hero-election .results .results-block .candidate {
    background-image: none !important;
  }

  .hero-election .results .results-block .candidate h4 {
    font-size: 1.6em;
    padding-left: 0;
  }
}
@media screen and (max-width: 768px) {

  .hero-election {
    font-size: 13px;
  }

  .hero-election .election-header {
    float: none;
  }

  .hero-election .election-header h1 {
    font-size: 1.230769231em;
    padding-left: 10px;
    padding-top: 7px;
    text-align: left;
  }

  .hero-election .election-header .share-link {
    width: 20px;
    height: 20px;
    padding-left: 0;
  }

  .hero-election .election-header .share-link span {
    display: none;
  }

  .hero-election .header-well .visible-mobile {
    display: block;
  }

  .hero-election .header-well .tweets {
    display: none;
  }

  .hero-election .span8 {
    float: none;
    margin-left: 0;
    width: 100%;
  }

  .hero-election .results.president-only .results-block header h2 {
    text-align: left;
  }

  .hero-election .results.president-only .results-block header aside {
    margin-left: 10px;
    text-align: left;
  }

  .hero-election .results .results-block {
    min-height: 0;
  }

  .hero-election .results .results-block header {
    margin-right: 0;
    margin-left: 0;
  }
}



/* Styling for Voter Guide promo form */
.my-ballot {
    margin-bottom:18px;
}
    .my-ballot header {
        background:#0f366b url('/assets/specials/election/bg-header-22dfa60024093f85b138ae5181056aea.jpg') no-repeat 0 0;
        border-top:1px solid #023455;
    }
        .my-ballot header h4 {
            border-bottom:1px solid #676767;
            color:#fff;
            cursor:pointer;
            font-size:20px;
            font-weight:900;
            padding:5px 0;
            text-align:center;
            text-shadow:0 1px 0 rgba(0,0,0,0.68);
        }
            .my-ballot header h4 a {
                color:#fff;
            }
            .my-ballot header h4 span {
                background-color:#db343d;
                border-radius:4px;
                color:#fff;
                display:inline-block;
                font-family:Helvetica, sans-serif;
                font-size:14px;
                font-weight:800;
                line-height:18px;
                margin-left:8px;
                margin-top:-5px;
                padding:2px 5px;
                position:relative;
                text-align:center;
                text-shadow:0 -1px 0 rgba(0,0,0,0.68);
                text-transform:uppercase;
                vertical-align:middle;
            }
        .my-ballot p strong {
            color:#fff;
        }
#VoterGuideForm {
    background:#2e2e2e;
    color:#fff;
    border-top:1px solid #1d1d1d;
    padding:10px;
    text-align:center;
}
    #VoterGuideForm p {
        color:#62b5dd;
        font-family:"proxima-nova", Helvetica, sans-serif;
        margin-bottom:6px;
    }
    #VoterGuideForm p.small {
        color:#888;
        font-size:11px;
        margin-bottom:0;
    }
    #VoterGuideForm label {
        display:none;
    }
    #VoterGuideForm input[type=text] {
        background-color:#1d1d1d;
        border:1px solid #484848;
        color:#efefef;
        margin-bottom:6px;
        padding-bottom:6px;
        padding-top:6px;
    }
    #VoterGuideForm input:focus {
        box-shadow:0 0 10px rgba(255,255,255,0.1);
    }
    #VoterGuideForm input.input-address {
        width:48%;
    }
    #VoterGuideForm input.input-city {
        width:20%;
    }
    #VoterGuideForm input.input-zip {
        width:10%;
    }

@media (max-width: 768px) {
    .my-ballot header {
        background-image:none;
    }
    .my-ballot header h4 {
        font-size:16px;
    }
    .my-ballot header h4 span {
        font-size:12px;
    }
    #VoterGuideForm input[type=text] {
        display:block;
        padding-bottom:10px;
        padding-top:10px;
        width:95%;
    }
    #VoterGuideForm input[type=submit] {
        font-size:20px;
        padding:8px 16px;
    }
    #VoterGuideForm {
        text-align:left;
    }
}

@media (max-width: 480px) {
  .hero-election {
    .results {
      .results-block {
        header {
          background:#202020;
          h2, aside {
            display:block;
            padding:0 10px;
          }
        }
        .initiative, .initiative.local {
          .title {
            width:126px;
          }
        }
      }
    }
  }
}
