<figure class="asset-inset inline">
    <b class="pic"><%= image_tag asset.asset.full.url, alt: asset.caption %></b>
    <figcaption>
        <span>
            <%= asset.caption %><mark> <%= asset.asset.owner if asset.asset.owner.present? %></mark>
        </span>
    </figcaption>
</figure>