<div class="o-mast">
  <div class="o-mast__branding">
    <a href="/" class="o-mast__logo-link">
      <svg class="o-mast__logo">
        <use class="" xlink:href="#logo_kpcc-black"/>
      </svg>
    </a>
    <span class="o-mast__divider"></span>
  </div>
</div>