<div id="breaking-news">
    <div class="live-update <%= alert.alert_type %>">
      <div class="l-container inner-container">
          <div class="l-row">
            <div class="l-col--sm-12">
              <strong><%= alert.break_type %></strong><%= link_to alert.headline, alert.alert_url %>
              <a href="http://cloud.connect.scpr.org/kpcc_sub" class="newsletter-sign-up">Sign up for alerts</a>
            </div>
          </div>
      </div>
  </div>
</div>
