<% if program %>
  <ul id="broadcast-bar" class="nav__links">
    <li>
      <a href="#">
        <%= image_tag 'better_homepage/listen-live.svg' %>
        Listen Live 
        <span class="program-title">- <%= program.title %></span>
      </a>
    </li>
  </ul>
<% end %>