<% cache ['better-homepage', 'check-it-out', links] do %>
  <% if (links || []).any? %>
    <div id="check-it-out" class="c-well c-well--info">
      <ul class="c-list c-list--horiz u-text-size--sm">
        <li><h5 class="heading heading--h5 heading--inline u-text-color--sec-dk">Check It Out</h5></li>
        <% links.each do |link| %>
          <li><%= link_to link.title, link.url %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
