<input type="checkbox" class="state-checkbox" id="o-mast__search-toggler-checkbox" />
<input type="checkbox" class="state-checkbox" id="o-mast__menu-toggler-checkbox" />
<div class="o-mast">
  <nav class="o-mast__nav">
    <div class="o-mast__branding">
      <a href="/" class="o-mast__logo-link">
        <svg class="o-mast__logo">
          <use class="" xlink:href="/static/images/scpr-sprite.svg#logo_kpcc-black"/>
        </svg>
      </a>
      <h6 class="o-mast__branding-caption b-heading b-heading--h6 b-heading--light">Member-supported news for Southern California</h6>
    </div>
    <ul class="c-nav o-mast__nav-sections">
      <li class="c-nav__item c-nav__item--hover-highlight">
        <a class="c-nav__link" href="/programs">Programs</a>
        <div class="c-nav__dropdown text--small">
          <div class="l-container">
            <div class="l-row l-row--med-start l-row--sm-between">
              <div class="c-nav__section l-col--sm-5 l-col--lg-4">
                <h6 class="c-nav__section-heading">Featured Programs</h6>
                <ul class="c-list c-list--vert">
                  <% @featured_programs.try(:each) do |program| %>
                    <li>
                      <a href="/programs/<%= program.try(:slug) %>"><%= program.try(:title) %></a>
                    </li>
                  <% end %>
                </ul>
              </div>
              <div class="c-nav__section l-col--sm-5 l-col--lg-4">
                <h6 class="c-nav__section-heading">All Programs</h6>
                <ul class="c-list c-list--vert">
                  <li>
                    <a href="/programs">Programs A-Z</a>
                  </li>
                  <li>
                    <a href="/schedule">Program Schedule</a>
                  </li>
                  <li>
                    <a href="/podcasts">Podcasts</a>
                  </li>
                  <li>
                    <a href="/archive/<%= Time.zone.now.yesterday.strftime("%Y/%m/%d") %>/?section=programs">Archive</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="c-nav__item c-nav__item--hover-highlight">
        <a class="c-nav__link" href="/events/kpcc-in-person">Events</a>
        <div class="c-nav__dropdown text--small">
          <div class="l-container">
            <div class="l-row l-row--med-start l-row--sm-between">
              <div class="c-nav__section l-col--lg-4 l-col--sm-5">
                <h6 class="c-nav__section-heading">Events</h6>
                <ul class="c-list c-list--vert">
                  <li>
                    <a href="/events/kpcc-in-person/list">KPCC In Person</a>
                  </li>
                  <li>
                    <a href="/events/kpcc-in-person/upcoming">Upcoming Events</a>
                  </li>
                  <li>
                    <a href="/events/kpcc-in-person/archive">Past Events</a>
                  </li>
                </ul>
              </div>
              <div class="c-nav__section l-col--lg-3 l-col--sm-5">
                <h6 class="c-nav__section-heading">Get connected</h6>
                <ul class="c-list c-list--vert">
                  <li>
                    <a href="http://cloud.connect.scpr.org/kpcc_sub">KPCC Events Newsletter</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="support-section c-nav__item c-nav__item--hover-highlight">
        <a class="c-nav__link" href="/support">Support Us</a>
        <div class="c-nav__dropdown text--small">
          <div class="l-container">
            <div class="l-row l-row--med-start l-row--sm-between">
              <div class="c-nav__section l-col--lg-4 l-col--med-6 l-col--sm-12">
                <h6 class="c-nav__section-heading">Join Us</h6>
                <div class="l-row l-row--sm-between">

                  <div class="l-col--sm-6">
                    <ul class="c-list c-list--vert">
                      <li>
                        <a href="https://scprcontribute.publicradio.org/contribute.php?refId=sustainers&_ga=1.214946964.2096948162.1473892732">
                          <div class="c-btn c-btn--outline-secondary">Become a Sustainer</div>
                        </a>
                      </li>
                      <li>
                        <a href="https://scprcontribute.publicradio.org/contribute.php?refId=onetime&_ga=1.214946964.2096948162.1473892732">
                          <div class="c-btn c-btn--outline-secondary">Make a One-Time Gift</div>
                        </a>
                      </li>
                    </ul>
                  </div>

                  <div class="l-col--sm-5 l-col--med-6">
                    <ul class="c-list c-list--vert">
                      <li>
                        <a href="https://scprcontribute.publicradio.org/">Renew your membership</a>
                      </li>
                      <li>
                        <a href="/support/car_donation/">Donate your vehicle</a>
                      </li>
                    </ul>
                  </div>

                </div>

              </div>

              <div class="c-nav__section l-col--lg-4 l-col--med-3 l-col--sm-12">
                <h6 class="c-nav__section-heading">Ways to Support</h6>
                <div class="l-row l-row--sm-between">
                  <div class="l-col--sm-6">
                    <ul class="c-list c-list--vert">
                      <li>
                        <a href="/support/sustaining_memberships/">Membership</a>
                      </li>
                      <li>
                        <a href="/support/leadership_circle/">Leadership Circle</a>
                      </li>
                      <li>
                        <a href="/support/foundations">Foundations</a>
                      </li>
                      <li>
                        <a href="/support/underwriting">Corporate Sponsorship</a>
                      </li>
                    </ul>
                  </div>

                  <div class="l-col--sm-5 l-col--med-6">
                    <ul class="c-list c-list--vert">
                      <li>
                        <a href="/auctiondonation/">Online Auction</a>
                      </li>
                      <li>
                        <a href="/support/planned_giving/">Include KPCC In Your Will</a>
                      </li>
                      <li>
                        <a href="/support/stock_gifts">Make a Gift of Stock</a>
                      </li>
                      <li>
                        <a href="/gala">Annual Gala</a>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>

              <div class="c-nav__section section-current-members l-col--lg-2 l-col--med-2 l-col--sm-8">
                <h6 class="c-nav__section-heading">Current Members</h6>
                <ul class="c-list c-list--vert">
                  <li>
                    <a href="https://scprcontribute.publicradio.org/contribute.php?refId=ccupdate&_ga=1.206361616.2096948162.1473892732">Update your credit card</a>
                  </li>
                  <li>
                    <a href="https://scprcontribute.publicradio.org/contribute.php?refId=EFTupdate">Update your checking account</a>
                  </li>
                  <li>
                    <a href="/about/faq/#membership">Membership FAQ</a>
                  </li>
                </ul>
              </div>

            </div>

          </div>
        </div>
      </li>

      <li class="c-nav__item c-nav__item--hover-highlight">
        <a class="c-nav__link" href="/about">About Us</a>
        <div class="c-nav__dropdown text--small">
          <div class="l-container">
            <div class="l-row l-row--med-start l-row--sm-between">
              <div class="c-nav__section l-col--med-5 l-col--sm-6">
                <div class="c-nav__section l-col--sm-12">
                  <h6 class="c-nav__section-heading">Connect with KPCC</h6>
                  <ul class="c-list c-list--vert">
                    <li class="social-links">
                      <a href="https://www.facebook.com/kpcc" target="_blank">
                        <img src="/static/images/facebook.svg" />
                      </a>
                      <a href="https://twitter.com/KPCC" target="_blank">
                        <img src="/static/images/twitter.svg" />
                      </a>
                    </li>
                    <li>
                      <a href="/contact">Contact Us</a>
                    </li>
                    <li>
                      <a href="/network">Become a source</a>
                    </li>
                    <li>
                      <a href="/contact/#form">Share a news tip</a>
                    </li>
                  </ul>
                </div>
                <div class="c-nav__section l-col--sm-12">
                  <h6 class="c-nav__section-heading">Learn more about us</h6>
                  <ul class="c-list c-list--vert">
                    <li>
                      <a href="/about">About KPCC</a>
                    </li>
                    <li>
                      <a href="/about/public/">Public Documents</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="c-nav__section l-col--med-3 l-col--sm-5">
                <h6 class="c-nav__section-heading">People</h6>
                <ul class="c-list c-list--vert">
                  <li>
                    <a href="/about/people/staff">Staff Directory</a>
                  </li>
                  <li>
                    <a href="/about/people/leadership">Executive leadership</a>
                  </li>
                  <li>
                    <a href="/about/people/board">Board of Trustees</a>
                  </li>
                  <li>
                    <a href="/about/people/council">Regional Advisory Council</a>
                  </li>
                  <li>
                    <a href="/about/people/leadershipcouncils">Leadership Councils</a>
                  </li>
                  <li>
                    <a href="/jobs">Careers</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <ul class="c-nav o-mast__nav-actions">
      <li class="c-nav__item o-mast__search">
        <div class="c-search c-nav__link">
          <label for="o-mast__search-toggler-checkbox" class="o-mast__search-link clickable" href="#">
            <svg class="icon icon--search-open icon--size-med icon--size-med@mobile-tablet">
              <use class="icon--line icon--color-gray" xlink:href="/static/images/scpr-sprite.svg#icon_line-search"/>
            </svg>
            <svg class="icon icon--search-close icon--size-med icon--size-med@mobile-tablet">
              <use class="icon--line icon--color-gray" xlink:href="/static/images/scpr-sprite.svg#icon_line-close--with-circle"/>
            </svg>
          </label>
          <form method="get" action="/search/" id="site-search">
            <input type="text" class=" input-text input--align-bottom input--focused-placeholder" placeholder="Enter your search here" name="q" id="q" />
            <button type="submit" class="c-btn c-btn--icon c-btn--outline-secondary">
              <svg class="icon icon--size-med">
                <use class="icon--line icon--color-link" xlink:href="/static/images/scpr-sprite.svg#icon_line-search"/>
              </svg>
            </button>
          </form>
        </div>
      </li>
      <li class="c-nav__item o-mast__donate">
        <a class="o-mast__donate-link c-nav__link c-nav__link--action" data-ga-category="Menu" data-ga-action="Donate" data-ga-label="<%= request.path %>" href="https://scprcontribute.publicradio.org/contribute.php?_ga=1.210106262.2096948162.1473892732">
          <svg class="icon icon--size-med icon--left">
            <use class="icon--line icon--color-link" xlink:href="/static/images/scpr-sprite.svg#icon_line-donate"/>
          </svg>
          <span class="c-nav__item-caption">Donate</span>
        </a>
      </li>
      <li class="c-nav__item o-mast__menu">
        <label class="c-nav__link o-mast__menu-toggler clickable" for="o-mast__menu-toggler-checkbox">
          <svg class="icon icon--size-lg o-mast__menu-icon--closed">
            <use class="icon--line  icon--color-gray-dark " xlink:href="/static/images/scpr-sprite.svg#icon_line-menu"/>
          </svg>
          <svg class="icon icon--size-sm o-mast__menu-icon--opened">
            <use class="icon--line  icon--color-gray-dark " xlink:href="/static/images/scpr-sprite.svg#icon_line-close--with-circle"/>
          </svg>
          <span class="o-mast__menu-toggler-caption c-nav__item-caption o-mast__menu-toggler-caption--closed">Menu</span>
          <span class="o-mast__menu-toggler-caption c-nav__item-caption o-mast__menu-toggler-caption--opened">Close</span>
        </label>
      </li>
    </ul>
  </nav>
</div>