<input type="checkbox" class="state-checkbox" id="o-mast__search-toggler-checkbox" />
<input type="checkbox" id="o-mast__menu-toggler-checkbox" />
<div class="o-mast">
  <nav class="o-mast__nav">
    <div class="o-mast__branding">
      <a href="/" class="o-mast__logo-link">
        <svg class="o-mast__logo">
          <use class="" xlink:href="#logo_kpcc-black"/>
        </svg>
      </a>
      <h6 class="o-mast__branding-caption b-heading b-heading--h6 b-heading--light">Member-supported news for Southern California</h6>
      <% cache ['better_homepage/broadcast_bar', @schedule_current] do %>
        <% if @schedule_current.present? %>
          <ul class="o-mast__currently-airing c-nav js-search--hide">
            <li class="c-nav__item">
              <%= link_to "javascript:void(0)", onclick: "open_popup('/listen_live/');", id: "listen-live", class: "o-mast__currently-airing-label c-nav__link c-nav__link--action c-nav__link--inline"  do %>
                <svg class="icon icon--size-lg icon--size-lg@mobile-tablet icon--left">
                  <use class="icon--line icon--color-link" xlink:href="#icon_line-listen-live"/>
                </svg>
                Listen Live
                <span class="o-mast__currently-airing-program">- <%= @schedule_current.title %></span>
              <% end %>
            </li>
          </ul>
        <% end %>
      <% end %>
    </div>
    <ul class="c-nav o-mast__nav-sections">
      <li class="c-nav__item c-nav__item--hover-highlight">
        <a class="c-nav__link" href="/news">News</a>
        <div class="c-nav__dropdown">
          <div class="l-container">
            <div class="l-row l-row--sm-between">
              <div class="c-nav__section l-col--sm-6">
                <h6 class="c-nav__section-heading">Covering SoCal</h6>
                <ul class="c-list c-list--vert text-columns--sm-2 text-columns--med-3">
                  <li>
                    <a href="/topics/changing-neighborhoods">Changing Neighborhoods & Affordability</a>
                  </li>
                  <li>
                    <a href="/topics/commuting">Commuting</a>
                  </li>
                  <li>
                    <a href="/topics/immigration">Immigration 3.0</a>
                  </li>
                  <li>
                    <a href="/topics/infrastructure">Infrastructure</a>
                  </li>
                  <li>
                    <a href="/topics/orange-county">Orange County</a>
                  </li>
                  <li>
                    <a href="/topics/public-safety">Public Safety</a>
                  </li>
                  <li>
                    <a href="/topics/socal-economy">SoCal Economy</a>
                  </li>
                  <li>
                    <a href="/topics/socal-politics">SoCal Politics</a>
                  </li>
                  <li>
                    <a href="/topics/social-safety-net">The Social Safety Net</a>
                  </li>
                  <li>
                    <a href="/topics/vets">Vets</a>
                  </li>
                  <li>
                    <a href="/topics/workplace">Workplace</a>
                  </li>
                </ul>
              </div>
              <div class="c-nav__section l-col--sm-4">
                <h6 class="c-nav__section-heading">Categories</h6>
                <ul class="c-list c-list--vert text-columns--sm-2">
                  <li>
                    <a href="/local">Local</a>
                  </li>
                  <li>
                    <a href="/world">US & World</a>
                  </li>
                  <li>
                    <a href="/politics">Politics</a>
                  </li>
                  <li>
                    <a href="/environment">Science</a>
                  </li>
                  <li>
                    <a href="/arts">Arts & Entertainment</a>
                  </li>
                  <li>
                    <a href="/business">Business</a>
                  </li>
                  <li>
                    <a href="/crime">Crime & Justice</a>
                  </li>
                  <li>
                    <a href="/education">Education</a>
                  </li>
                  <li>
                    <a href="/health">Health</a>
                  </li>
                </ul>
              </div>
              <div class="c-nav__section l-col--sm-2">
                <h6 class="c-nav__section-heading">More</h6>
                <ul class="c-list c-list--vert">
                  <li>
                    <a href="/blogs">Blogs</a>
                  </li>
                  <li>
                    <a href="/archive/<%= Time.zone.now.yesterday.strftime("%Y/%m/%d") %>/?section=news">Archive</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="c-nav__item c-nav__item--hover-highlight">
        <a class="c-nav__link" href="/programs">Programs</a>
        <div class="c-nav__dropdown">
          <div class="l-container">
            <div class="l-row l-row--sm-between">
              <div class="c-nav__section l-col--sm-6">
                <h6 class="c-nav__section-heading">Featured Programs</h6>
                <ul class="c-list c-list--vert">
                  <li>
                    <a href="/programs/take-two">Take Two</a></li>
                  <li>
                    <a href="/programs/offramp">Offramp</a></li>
                  <li>
                    <a href="/programs/airtalk">Airtalk</a></li>
                  <li>
                    <a href="/programs/the-frame">The Frame</a></li>
                </ul>
              </div>
              <div class="c-nav__section l-col--sm-6">
                <h6 class="c-nav__section-heading">All Programs</h6>
                <ul class="c-list c-list--vert">
                  <li>
                    <a href="/programs">Programs A-Z</a>
                  </li>
                  <li>
                    <a href="/schedule">Program Schedule</a>
                  </li>
                  <li>
                    <a href="/podcasts">Podcasts</a>
                  </li>
                  <li>
                    <a href="/archive/<%= Time.zone.now.yesterday.strftime("%Y/%m/%d") %>/?section=programs">Archive</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="c-nav__item c-nav__item--hover-highlight">
        <a class="c-nav__link" href="/events">Events</a>
        <div class="c-nav__dropdown">
          <div class="l-container">
            <div class="l-row l-row--sm-between">
              <div class="c-nav__section l-col--sm-6">
                <h6 class="c-nav__section-heading">KPCC In Person</h6>
                <ul class="c-list c-list--vert">
                  <li>
                    <a href="/events/kpcc-in-person">Upcoming Events</a>
                  </li>
                  <li>
                    <a href="/events/forum/about">The Crawford Family Forum</a>
                  </li>
                </ul>
              </div>
              <div class="c-nav__section l-col--sm-6">
                <h6 class="c-nav__section-heading">More to do in SoCal</h6>
                <ul class="c-list c-list--vert">
                  <li>
                    <a href="/events/sponsored">Sponsored Events</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="c-nav__item c-nav__item--hover-highlight">
        <a class="c-nav__link" href="/support">Support Us</a>
        <div class="c-nav__dropdown">
          <div class="l-container">
            <div class="l-row l-row--sm-between">
              <div class="c-nav__section l-col--sm-6">
                <h6 class="c-nav__section-heading">Membership</h6>
                <div class="l-row l-row--sm-vertical l-row--sm-between">
                  <a href="https://scprcontribute.publicradio.org/contribute.php?refId=sustainers&_ga=1.214946964.2096948162.1473892732">
                    <div class="l-col--sm-8 c-btn c-btn--outline-secondary">Become a Sustainer</div>
                  </a>
                  <a href="https://scprcontribute.publicradio.org/contribute.php?refId=onetime&_ga=1.214946964.2096948162.1473892732">
                    <div class="l-col--sm-8 c-btn c-btn--outline-secondary">Become a Member</div>
                  </a>
                </div>
              </div>
              <div class="c-nav__section l-col--sm-6">
                <ul class="c-list c-list--vert">
                  <li>
                    <a href="http://www.scpr.org/support/sustaining_memberships/">About sustaining membership</a>
                  </li>
                  <li>
                    <a href="https://scprcontribute.publicradio.org/contribute.php?refId=ccupdate&_ga=1.206361616.2096948162.1473892732">Update your credit card</a>
                  </li>
                  <li>
                    <a href="/support/member_benefits">Member benefits</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>        
      </li>

      <li class="c-nav__item c-nav__item--hover-highlight">
        <a class="c-nav__link" href="/about">About Us</a>
        <div class="c-nav__dropdown">
          <div class="l-container">
            <div class="l-row l-row--sm-between">
              <div class="c-nav__section l-col--sm-6">
                <div class="c-nav__section l-col--sm-12">
                  <h6 class="c-nav__section-heading">Connect with KPCC</h6>
                  <ul class="c-list c-list--vert">
                    <li>
                      <a href="/contact">Contact Us</a>
                    </li>
                    <li>
                      <a href="/network">Become a source</a>
                    </li>
                    <li>
                      <a href="/contact/#form">Share a news tip</a>
                    </li>
                  </ul>
                </div>
                <div class="c-nav__section l-col--sm-12">
                  <h6 class="c-nav__section-heading">Learn more about us</h6>
                  <ul class="c-list c-list--vert">
                    <li>
                      <a href="/about">About KPCC</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="c-nav__section l-col--sm-6">
                <h6 class="c-nav__section-heading">People</h6>
                <ul class="c-list c-list--vert">
                  <li>
                    <a href="/about/people/staff">Staff Directory</a>
                  </li>
                  <li>
                    <a href="/about/people/leadership">Executive leadership</a>
                  </li>
                  <li>
                    <a href="/about/people/board">Board of Trustees</a>
                  </li>
                  <li>
                    <a href="/about/people/council">Regional Advisory Council</a>
                  </li>
                  <li>
                    <a href="/about/people/leadershipcouncils">Leadership Councils</a>
                  </li>
                  <li>
                    <a href="/jobs">Careers</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    
    <ul class="c-nav o-mast__nav-actions">
      <li class="c-nav__item o-mast__search">
        <div class="c-search">
          <form method="get" action="/search/" id="site-search">
            <input type="text" class=" input-text input--align-bottom input--focused-placeholder" placeholder="Enter your search here" name="q" id="q" />
            <button type="submit" class="c-btn c-btn--icon c-btn--outline-secondary">
              <svg class="icon icon--size-med">
                <use class="icon--line icon--color-link" xlink:href="#icon_line-search"/>
              </svg>
            </button>
          </form>
        </div>
        <label for="o-mast__search-toggler-checkbox" class="o-mast__search-link c-nav__link clickable" href="#">
          <svg class="icon icon--search-open icon--size-med icon--size-med@mobile-tablet">
            <use class="icon--line icon--color-gray" xlink:href="#icon_line-search"/>
          </svg>
          <svg class="icon icon--search-close icon--size-med icon--size-med@mobile-tablet">
            <use class="icon--line icon--color-gray" xlink:href="#icon_line-close"/>
          </svg>
        </label>
      </li>
      <li class="c-nav__item">
        <a class="o-mast__donate-link c-nav__link c-nav__link--action" href="https://scprcontribute.publicradio.org/contribute.php?_ga=1.210106262.2096948162.1473892732">
          <svg class="icon icon--size-med icon--left">
            <use class="icon--line icon--color-link" xlink:href="#icon_line-donate"/>
          </svg>
          <span class="c-nav__item-caption">Donate</span>
        </a>
      </li>
      <li class="c-nav__item">
        <label class="c-nav__link o-mast__menu-toggler clickable" for="o-mast__menu-toggler-checkbox">
          <span class="o-mast__menu-toggler-open">
            <svg class="icon icon--size-med">
              <use class="icon--line icon--color-gray-dark " xlink:href="#icon_line-menu"/>
            </svg>
            <span class="c-nav__item-caption">Menu</span>
          </span>
        </label>
      </li>
    </ul>
  </nav>
</div>