<header class="header">
  <div class="bound full-width clearfix">
    <div class="branding">
      <img src="http://projects.scpr.org/officer-involved/images/logo_kpcc-black.svg" alt="89.3 KPCC">
<!--       <hr class="pipe">
 -->      <%= render partial: "layouts/better_homepage/broadcast_bar" , locals: {program: @current_program}%>
    </div>
    <nav class="nav">
      <ul class="nav__links c-list c-list--horiz">
        <li><a href="#">News</a></li>
        <li><a href="#">Programs</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#"><%= image_tag 'better_homepage/search.svg' %></a></li>
        <li><a href="#"><%= image_tag 'better_homepage/donate.svg' %></a></li>
      </ul>
    </nav>
  </div>
</header>