<aside class="o-newsletter-appeal c-well <%= @options[:class] %>" <%= order %>>
  <h1 class="o-newsletter-appeal__heading">The best SoCal news in your inbox, daily.</h1>
  <p class="o-newsletter-appeal__description">Catch up each afternoon with KPCC's Short List newsletter.</p>
  <form method="post" name="copyOfSCPR20130130BreakingNewsSignUp-1431032392145" action="https://s1715082578.t.eloqua.com/e/f2" id="form725" >
      <input value="copyOfSCPR20130130BreakingNewsSignUp-1431032392145" type="hidden" name="elqFormName"  />
      <input value="1715082578" type="hidden" name="elqSiteId"  />
      <input name="elqCampaignId" type="hidden"  />

      <input class="input-text" id="field0" name="emailAddress" type="email" placeholder="email@somedomain.com" value="" />
      <input class="newsletter-hidden-input" name="SCPRShortList" type="checkbox" value="on"  />
      <!-- ^^ what is that checkbox for??? -->
      <button type="submit" class="track-event" data-ga-category="Article" data-ga-action="Subscribe" data-ga-label="Short List Newsletter">Sign up</button>
  </form>
</aside>