<aside class="o-newsletter-appeal c-well <%= @options[:class] %>" <%= order %>>
  <h1 class="o-newsletter-appeal__heading">The best SoCal news in your inbox, daily.</h1>
  <p class="o-newsletter-appeal__description">Sign up to get KPCC's Short List newsletter.</p>
  <form action="https://mcpostman.publicradio.org/subscription_requests" class="bound mcpostman-form" method="post">
    <input name="subscription_request[property_key]" type="hidden" value="1fedd277-c523-4812-a9aa-5bc9e233ff99" />
    <input name="subscription_request[sde_external_key]" type="hidden" value="" />
    <input class="input-text form-control newsletter-email" id="subscription_request_fsm_Form_Email_Address" name="subscription_request[fsm][Form_Email_Address]" type="email" placeholder="email@somedomain.com" value="" required="required" maxlength="254"/>
    <input name="subscription_request[fsm][Form_BusinessUnit]" type="hidden" value="SCPR" />
    <input name="subscription_request[fsm][Form_FormName]" type="hidden" value="SCPR 20161110 The Frame Sign-up Form" />
    <input name="subscription_request[fsm][Form_Opt_In_Source]" type="hidden" value="SCPR Newsletter" />
    <input name="subscription_request[publication_lists][468]" type="hidden" value="on" />
    <button type="submit" class="track-event" data-ga-category="Article" data-ga-action="Subscribe" data-ga-label="Short List Newsletter">Sign up</button>
  </form>
</aside>
