.l-pin-query
  display: block
  max-width: 1440px
  margin: 0 auto
  overflow-y: auto
  padding-top: $margin-in-pixels
  padding-bottom: $margin
  .o-social-tools--vert
    float: left
    margin-left: $margin
    padding-top: $gutter / 2
    position: absolute
    text-align: right
    width: $col

  .o-article__title, .o-figure, .c-byline, p, .o-pin-query-container, .b-rule,  .o-pin-query-container__footer_header
    margin-left: $margin + $col + $gutter
    margin-right: $margin
    width: ($col * 6) + ($gutter * 5)

  .o-social-tools--horiz
    display: none

  .o-article__body p, .o-pin-query-container__footer p
    line-height: 1.4em
    margin-bottom: 1.4em

  .o-article__body a
    color: $color-link

  #o-ad--pos-a, #o-ad--pos-b, #o-ad--pos-c, .o-appeal, .o-recent-events-cluster
    float: right
    width: ($col * 3) + ($gutter * 2)
    margin-right: $gutter + $col + $margin
    clear: right

  #o-ad--pos-a, #o-ad--pos-b, .o-popular-stories-side-bar
    padding-bottom: $gutter
    border-bottom: 1px solid $color-gray-light

  #o-ad--pos-b, #o-ad--pos-c
    margin-top: $gutter

  .pin-form fieldset
    max-width: none

  @media (max-width: $media-wide)
    .o-article__title, .o-figure, .c-byline, p, .o-pin-query-container, .b-rule,  .o-pin-query-container__footer_header
      width: ($col * 6) + ($gutter * 6)

    #o-ad--pos-a, #o-ad--pos-b, #o-ad--pos-c, .o-appeal, .o-recent-events-cluster
      margin-right: $margin
      width: ($col * 3) + ($gutter * 3)

  @media (max-width: $media-desktop)
    #o-ad--pos-a, #o-ad--pos-b, #o-ad--pos-c, .o-appeal, .o-recent-events-cluster
      width: ($col * 4) + ($gutter * 3)

  @media all and (max-width: $media-tablet)
    display: flex
    flex-direction: column
    padding-top: $margin-in-pixels / 2
    .o-article__title, .o-figure, .c-byline, p, .o-pin-query-container, .b-rule,  .o-pin-query-container__footer_header,
    #o-ad--pos-a, #o-ad--pos-b, #o-ad--pos-c, .o-appeal, .o-recent-events-cluster
      width: ($col * 12) + ($gutter * 11)
      margin-left: $margin
    #o-ad--pos-a, #o-ad--pos-b, #o-ad--pos-c, .o-pin__question
      margin-bottom: $margin-in-pixels / 2
    .o-appeal
      margin-bottom: $margin-in-pixels
    #o-ad--pos-b
      padding-bottom: $margin-in-pixels
    .o-article__title
      margin-top: 0
    .o-social-tools--vert
      display: none
    .o-social-tools--horiz
      display: flex
      display: -ms-flex-box
      display: -webkit-box
      margin-left: $margin

  @media all and (max-width: $media-mobile)
    .o-pin__heading
      font-size: 1.6em
    .o-social-tools
      margin-left: $margin
      width: 40%
      flex-direction: row
      height: auto

