.l-search
  display: block
  max-width: 1440px
  margin: 0 auto
  overflow-y: auto
  padding-top: $margin-in-pixels
  #o-search__search-area
    margin-left: $margin
    margin-right: $margin
    width: ($col * 7) + ($gutter * 6)

  #o-search__search-area *, .gsc-webResult::after
    clear: none
    float: none

  #o-ad--pos-a, #o-ad--pos-b, #o-ad--pos-c, .o-appeal--breaking-news, .o-popular-stories-side-bar
    float: right
    width: ($col * 3) + ($gutter * 2)
    margin-right: $gutter + $col + $margin
    clear: right

  #o-ad--pos-a, #o-ad--pos-b, .o-popular-stories-side-bar
    border-bottom: 1px solid $color-gray-light

  #o-ad--pos-a
    margin-bottom: $margin-in-pixels * 0.75
    padding-bottom: $margin-in-pixels * 0.75

  #o-ad--pos-b, #o-ad--pos-c, .o-popular-stories-side-bar
    padding-bottom: $margin-in-pixels

  .o-popular-stories-side-bar
    margin-bottom: $margin-in-pixels
    padding-bottom: $margin-in-pixels / 2
    padding-top: $margin-in-pixels / 2

  .o-appeal--breaking-news
    margin-bottom: $margin-in-pixels / 2

  @media (max-width: $media-wide)
    #o-search__search-area
      width: ($col * 7) + ($gutter * 7)

    #o-ad--pos-a, #o-ad--pos-b, #o-ad--pos-c, .o-appeal--breaking-news, .o-popular-stories-side-bar
      margin-right: $margin
      width: ($col * 3) + ($gutter * 3)

  @media (max-width: $media-desktop)
    #o-ad--pos-a, #o-ad--pos-b, #o-ad--pos-c, .o-appeal--breaking-news, .o-popular-stories-side-bar
      width: ($col * 4) + ($gutter * 3)


  @media all and (max-width: $media-tablet)
    display: flex
    flex-direction: column
    padding-top: $margin-in-pixels / 2
    #o-search__search-area, .o-popular-stories-side-bar, .o-appeal, #o-ad--pos-a, #o-ad--pos-b, #o-ad--pos-c
      width: ($col * 12) + ($gutter * 11)
      margin-left: $margin
      margin-right: $margin
