<aside class="content-partners">
  <a href="/network">
    <mark><%= message %></mark>
    <span>Become a source.</span>
  </a>
</aside>

<!--
========================================
JPW: 01-21-2015
========================================
Here's how this used to look, until today, in case we need to revert it back (e.g., for legacy Segment views).
=========================================
<section class="content-partners">
  <h4 class="pij"><%#= message %></h4>
  <p><a href="/network/">Become a source.</a></p>
</section>
======================================== -->