<% content = homepage.content.includes(:content).map(&:content) %>
<%= cache ["homepage","default",@homepage]+content do %>
<div class="homepage-lead default">
  <div class="row-fluid">
    <div class="span15" data-vr-zone="Homepage Top Stories - Lead Story">
      <%= render_content content[0], "lead5" %>
    </div>
    <div class="span9">
      <div class="offleads" data-vr-zone="Homepage Top Stories - Offleads">
        <%= render_content content[1..-1], "offlead" %>
      </div>
    </div>
  </div>
</div> <!-- homepage default -->
<% end %>