<section class="shortlist-preview">

  <header class="titling clearfix">
    <h1><a href="/short-list"><span>The Short List</span> <mark>Fri, October 10</mark></a></h1>
    <button class="subscribe-trigger"><span>Subscribe</span></button>
    <h2 class="am"><a href="/short-list">A.M. Edition</a></h2><!-- Accepts a class of either "am", "pm", or "weekend". -->
  </header>

  <div class="brochure">
    <a href="/short-list">
      <figure class="bound">
        <div class="photos clearfix">
          <div class="photo ratio">
              <div class="fill"></div>
              <b class="img-contain"><img src="http://a.scpr.org/i/717d894d7f25c01594d2deb8ec2bc24d/93372-full.jpg"></b></div>
          <div class="photo ratio">
              <div class="fill"></div>
              <b class="img-contain"><img src="http://a.scpr.org/i/717d894d7f25c01594d2deb8ec2bc24d/93372-full.jpg"></b></div>
          <div class="photo ratio">
              <div class="fill"></div>
              <b class="img-contain"><img src="http://a.scpr.org/i/717d894d7f25c01594d2deb8ec2bc24d/93372-full.jpg"></b></div>
          <div class="photo ratio">
              <div class="fill"></div>
              <b class="img-contain"><img src="http://a.scpr.org/i/717d894d7f25c01594d2deb8ec2bc24d/93372-full.jpg"></b></div>
        </div>
        <figcaption><span>New route for CicLAvia, Gov. Brown signs gun restraint law, wife of slain mayor released, and more</span> <mark>Read now</mark></figcaption>
      </figure>
    </a>
  </div><!--/ .brochure -->

  <aside class="enlistment">
    <div class="bound">
      <header>Start your day informed.</header>
      <div class="prose clearfix">
        <p>Sign up and we’ll deliver KPCC’s Short List to your inbox. One edition each weekday morning, plus an edition of weekend reads.</p>
        <!--
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Sean: I just copied this over from what-was-already-on-the-live-site,
        except I also replaced the obvious collisions with "xxx". But If this
        can be pulled off with fresher/less/better/leaner markup, I'm all for it.
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        -->
        <form method="post" name="xxx" action="xxx" id="xxx" class="clearfix">
          <input value="shortlist-subscribe" type="hidden" name="elqFormName">
          <input value="xxx" type="hidden" name="elqSiteId">
          <input name="elqCampaignId" type="hidden">
          <input id="xxx" name="emailAddress" type="text" class="required email" placeholder="email address">
          <div style="display:none;"><input name="SCPRShortList" type="checkbox" value="on" checked="checked"></div>
          <input type="submit" value="Sign me up" name="subscribe" class="btn">
          <input type="hidden" name="elqCustomerGUID" value="">
          <input type="hidden" name="elqCookieWrite" value="0">
        </form>
      </div>
    </div>
  </aside><!--/ .enlistment -->

</section><!--/ .shortlist-preview -->