<% if @homepage %>
  <%=
    begin
      render @homepage.base, homepage: @homepage
    rescue ActionView::MissingTemplate => e
      if Rails.env == "production"
        render "default", homepage: @homepage
      else
        raise e
      end
    end
  %>
<% end %>

<div class="more-content">
  <div class="row-fluid">
    <div id="most-popular" class="span12">
      <h6>Most Popular</h6>
      <div class="tab-content">
        <div class="tab-pane active popular track-event" id="pop_tab1" data-vr-zone="Most Popular" data-ga-category="@currentCategory" data-ga-action="Article" data-ga-label="@scrollDepth">
          <%= raw Cache.read("views/popular/viewed") %>
        </div>
      </div>
    </div>

    <div class="span12">
      <%= render "events/kpcc_in_person_events" %>
    </div>
  </div>
</div>

<% content_for :lower do %>
  <%= raw Cache.read("home/sections") %>
<% end %>
