<section class="o-error">
  <h1 class="o-error__header">Page Not Found</h1>

  <p>We're sorry, but there is no content available at the address you requested.</p>

  <p>It may have moved, or may no longer be available on this site. If you typed the URL yourself, please check to ensure it was entered correctly.</p>

  <p>If you're looking for a specific piece of content, please try searching:</p>

  <div id="o-search__search-area">
    <form action="/search/" method="get">
      <input type="text" name="q" id="o-search__query_input" placeholder="Enter your search here"/>
      <svg class="o-search__search-area__icon b-icon b-icon--search-open">
        <use class="b-icon--line b-icon--color-gray" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/scpr-sprite.svg#icon_line-search"></use>
      </svg>
    </form>
  </div>
</section>