<section class="o-in-person-source-appeal" style="order: <%= @options[:order] %>">
  <div class="o-in-person-source-appeal__info">
      <h3><a href="/network">Become a Source for KPCC</a></h3>
      <h1>KPCC invites you to share your story</h1>
      <p>
        From there, we'll produce a series of live shows featuring real people from around Los Angeles,
        sharing your stories as a way to connect with on another and celebrate our diverse community.
      </p>
  </div>
  <a class="o-in-person-source-appeal__figure" href="/network"><%= image_tag("kpcc_in_person/traffic.jpg") %></a>
</section>
