//  ################################################################################################
//  ################################################################################################
//  SHORT LIST styles go here
//  ################################################################################################
//  ################################################################################################

body.short-list {

  .edition-marquee {
    padding-top: 40px;
    .titling {
      background: yellow;
      position: relative;
    }
    .recents {
      background: aqua;
      display: none;
    }
  }
  
  .page-cols {
    background:
      image-url("i/shortlist-fauxcol-shade-base.png") no-repeat center top,
      image-url("i/shortlist-fauxcol-base.png") repeat-y center top;
    background-size:
      3000px 5px,
      3000px 10px;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
    & > .inner {
      padding-top: 44px;
      box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
      background:
        image-url("i/shortlist-fauxcol-shade-inner.png") no-repeat 71.153846153846% top,
        image-url("i/shortlist-fauxcol-inner.png") repeat-y 71.153846153846% top;
      background-size:
        1500px 5px,
        1500px 10px;
    }

    .abstracts {
      width: 65.846153846154%; // 856 / 1300 ...but some of the stuff inside it will push out excessively westward
      background: image-url("i/shortlist-dot-gray.png") repeat-y center top;
      background-size: 1px 1px;
      float: left;
      article {
        padding-bottom: 81px;
        .photo {
          width: 103.738317757009%;
          margin-left: -3.738317757009%;
          &.ratio .fill     { padding-top: 27.15%; }
        }
        .prose              { padding: 30px 0 4px; position: relative; }
        header,.eisegesis   { width: 48.130841121495%; /* 412 / 856 */ }
        header              { float: left; }
        h1                  { font-family: $font-freight; font-weight: 300; font-size: 2.5em; /* 40 / 16 */ line-height: 1.125; }
        a                   { color: $blue; }
        a:hover             { text-decoration: underline; }

        mark {
          display: block;
          width: 47px;
          height: 47px;
          background: white;
          text-align: center;
          overflow: hidden;
          border-radius: 30px;
          font-family: $font-prox;
          position: absolute;
          top: -23px;
          left: -12px;
          font-size: 1.375em; // 22 / 16
          line-height: 1.1;
          box-sizing: border-box;
          padding-top: 11px;
          font-weight: 300;
          color: #fa7836;
        }
        .eisegesis {
          float: right;
          font-size: 0.875em;
          line-height: 1.72;
          padding-top: 8px;
          p                 { margin-bottom: 1.7em; }
        }
        footer {
          background: white;
          border-top: 1px solid #cecece;
          border-bottom: 1px solid #cecece;
          text-align: right;
          font-family: $font-freight;
          font-size: 1.125em;
          padding: 15px 0 18px;
          width: 103.738317757009%;
          margin-left: -3.738317757009%;
          a {
            display: inline-block;
            background: image-url("i/shortlist-caret-blue.png") no-repeat right 9px;
            background-size: 8px 9px;
            padding-right: 24px;
          }
        }
        // The following three Abstracts are called out because they each are followed by banner ads.
        &:nth-of-type(1),
        &:nth-of-type(4),
        &:nth-of-type(7) {
          padding-bottom: 0;
        }
      }
      .plug {
        background: white;
        padding-bottom: 46px;
        width: 103.738317757009%;
        margin-left: -3.738317757009%;
        & > div {
          padding: 27px 0;
          border-bottom: 1px solid #d6d6d6;
          position: relative;
          width: 100%;
        }
        img {
          margin: 0 auto;
        }
        .appeal {
          font-family: $font-freight;
          color: #7e7e7e;
          font-size: 0.8125em;
          line-height: 1;
          text-align: right;
          position: absolute;
          right: 0;
          bottom: 27px;
          display: block;
          a {
            display: inline-block;
            background: image-url("i/shortlist-caret-gray.png") no-repeat right 5px;
            background-size: 5px 6px;
            padding-right: 10px;
            &:hover   { text-decoration: underline; color: #5c5c5c; }
          }
        }
      }
    }

    .supportive {
      width: 28.846153846154%; // 375 / 1300
      float: right;
      color: #c1c1c1;
    }
  }

} // body.short-list