/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
------------------------------------------------------------------------
SINGLE EPISODE
------------------------------------------------------------------------
Started by JPW on 16 December 2014.
------------------------------------------------------------------------
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
body.episode {
  



  /*
  ####################################################################################
  ####################################################################################
  STRAIGHTFORWARD EXCEPTIONS FOR "EPISODE"
  ####################################################################################
  #################################################################################### */
  .appellation                    { margin-bottom: 14px; }  // As opposed to 55px
  .report .prose                  { background: none; }     // As opposed to a thin gray vertical hairline
  .report .prose p:first-of-type  { width: auto; }          // As opposed to 100% (i.e., this isn't a news article)


  /*
  ####################################################################################
  ####################################################################################
  EPISODE-SYNOPSIS
  ####################################################################################
  #################################################################################### */
  .episode-synopsis {
    font-size: 1.06666666666667em; // Reset ourselves back to "16"
    font-family: $font-prox;
    margin-bottom: 40px;
    h1,.teaser        { box-sizing: border-box; }
    h1 {
      float: left;
      width: 22.393822393822%; // 190 (-16 for clearance) == 174, which then gets divided by 777
      color: black;
      font-weight: 700;
      line-height: 1.1;
      font-size: 0.9375em; // 15
      letter-spacing: -0.03em;
      padding-top: 11px;
    }
    span              { font-variant: small-caps; }
    time              { display: block; }
    .teaser {
      float: right;
      width: 75.546975546976%;
      box-shadow: inset 1px 0 0 #b9e2f0; // Let's assume that TEASER will always be at-least-as-tall as DATE.
      font-size: 0.875em;
      line-height: 1.45;
      padding: 8px 0;
      min-height: 3em;
      p               { margin-left: 5.765765765766%; }
      p:last-of-type  { margin-bottom: 0; }
    }
  }//.episode-synopsis






  /*
  ####################################################################################
  ####################################################################################
  EPISODE-ENUMERATION
  (Because too much other stuff in this site could be called "episode-segments".)
  ####################################################################################
  #################################################################################### */
  .episode-enumeration {
    font-size: 1.06666666666667em; // Resetting ourselves back to 16
    & > h1    { color: #9b9b9b; font: normal 300 1.875em/1 $font-freight; margin-bottom: 50px; }
    
    article {
      margin-bottom: 50px;
      position: relative;
      font-family: $font-prox;
      line-height: 1;
      .asset                                  { width: 24.453024453024%; float: left; z-index: 1; }
      .ratio                                  { position: relative; z-index: 2; }
      .ratio .img-contain                     { background: white; }
      &.ratio-squat .ratio .img-contain img   { height: 100%; width: auto !important; max-width: none !important; margin-left: -13%; }
      .order {
        display: block;
        text-align: center;
        background: white;
        padding-top: 7px;
        width: 35px;
        height: 35px;
        box-sizing: border-box;
        font-size: 1.375em;
        color: $blue;
        line-height: 1;
        border-radius: 20px;
        font-weight: 300;
        position: absolute;
        top: 17px;
        z-index: 3;
        left: -17px;
      }
      a, a:hover      { color: inherit; text-decoration: none; }
      .exposition     { width: 71.428571428571%; float: right; }
      .author         { display: block; color: #b2b2b2; font-size: 0.75em; margin-bottom: 4px; font-weight: 700; }
      h1              { color: black; font: normal 1.4375em/1.15 $font-freight; border-bottom: 1px solid #91d2e8; padding-bottom: 11px; }
      .precis         { position: relative; box-sizing: border-box; min-height: 77px; }
      .precis p       { margin-right: 143px; padding-top: 9px; font-size: 0.875em; line-height: 1.35; }
      .meta {
        position: absolute;
        top: 0;
        right: 0;
        width: 127px;
        height: 77px;
        li {
          display: block;
          width: 46.456692913386%;
          text-align: center;
          font-size: 0.75em;
          color: #76c4de;
          font-weight: bold;
          height: 77px;
          box-sizing: border-box;
          position: absolute;
          left: 0;
          top: 0;
          margin: 0;
          line-height: 0.9;
          list-style: none;
          padding: 0;
          &.comingsoon              { background: #e6f5fa; box-shadow: inset 0 3px 0 #c8e9f4; }
          &:nth-of-type(2)          { left: auto; right: 0; }
          a                         { display: block; box-sizing: border-box; padding: 11px 4px 0; width: 100%; height: 100%; }
          span, b                   { display: block; }
          b                         { text-align: center; color: #76c4de; font: normal 700 1em/0.8 $font-prox; text-transform: lowercase; }
          a:hover                   { text-decoration: none; }
          a:hover b                 { color: $orange; }
          span                      { width: 18px; height: 20px; margin: 0 auto 8px; @include texthide; background: image-url("i/episode-meta-icons.png") no-repeat; background-size: 454px 40px; }
          &.comments span           { background-position: 0 0; }
          &.comments a:hover span   { background-position: 0 -20px; }
          &.play span               { background-position: -218px 0; }
          &.play a:hover span       { background-position: -218px -20px; }
          &.comingsoon span         { background-position: -436px 0; }
          &.comingsoon a:hover span { background-position: -436px -20px; }
        }
      }// .meta
      .legacy {
        position: absolute;
        background: pink image-url("i/calendar.png") no-repeat;
        background-size: 13px 12px;
        box-sizing: border-box;
        padding: 1px 0 0 18px;
        letter-spacing: -0.02em;
        font-size: 0.625em;
        font-weight: 700;
        color: $blue;
        text-transform: lowercase;
        left: 0;
        top: 132px;               // Okay, so because .asset can be a variable (proportional) height, this won't *always* look right. But it's good enough...
        width: 24.453024453024%;  // ...and that'll at least keep its *horizontal* alignment in check.
        min-height: 12px;
        time    { color: #9d9d9d; white-space: nowrap; }
      }// .legacy
      
    }// article
  }// .episode-enumeration









}//body.episode