

.interstitial.laup {
    .disclaimer {
        background: black;
        font-family: $font-merri-ital;
        color: #e3e3e3;
        font-size: 0.8125em; // 13 / 16
        p       { padding: 10px 0; }
    }
    .plug {
        background: black;
        color: $blue;
        color: #cfcfcf;
        text-align: right;
        font-family: $font-prox;
        font-size: 0.75em;
        p       { padding: 7px 0; }
        a:hover { text-decoration: underline; color: white; }
    }
    .message {
    //  Thanks, CSS Gradient Generator!
    //  ----------------------------------------------------------------------------------------------------
        background: #3a9db0; /* Old browsers */
        background: -moz-linear-gradient(top,  #3a9db0 0%, #60b7c5 70%, #60b7c5 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a9db0), color-stop(70%,#60b7c5), color-stop(100%,#60b7c5)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #3a9db0 0%,#60b7c5 70%,#60b7c5 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #3a9db0 0%,#60b7c5 70%,#60b7c5 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #3a9db0 0%,#60b7c5 70%,#60b7c5 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #3a9db0 0%,#60b7c5 70%,#60b7c5 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a9db0', endColorstr='#60b7c5',GradientType=0 ); /* IE6-9 */
    //  ----------------------------------------------------------------------------------------------------
        font-family: $font-prox;
        overflow: hidden;
        a       { display: block; width: 100%; }
    }
    .inner      { position: relative; z-index: 1; padding: 51px 0 18px; }
    h1 {
        color: white;
        font-size: 2.0625em; // 33 / 16
        line-height: 0.93;
        font-weight: 700;
        text-shadow: 0 1px 3px rgba(13,75,87,0.22);
        margin-right: 38.692307692308%; // 503 / 1300
        margin-bottom: 25px;
    }
    .secondary {
        position: relative;
        z-index: 3;
        overflow: hidden;
        .logo {
            display: block;
            position: absolute;
            width: 55px;
            left: 2px;
            img { width: 100%; height: auto; }
        }
        figcaption {
            color: #c6f6ff;
            text-shadow: 0 1px 3px rgba(10,92,108,0.12);
            font-size: 0.9375em; // 15 / 16
            font-style: italic;
            padding: 24px 0 25px;
            overflow: hidden;
            margin-left: 90px;
            max-width: 400px;
        }
    }
    .photo {
        position: absolute;
        right: 121px;
        bottom: -20px;
        z-index: 2;
        width: 365px;
        img     { width: 100%; height: auto; }
    }
    .outbound {
        display: block;
        position: absolute;
        z-index: 3;
        right: -3px;
        bottom: 12px;
        width: 170px; // 28
        height: 46px; // 59
        padding: 13px 0 0 28px;
        background: image-url("i/ephemera-white-dart-rightward.png") no-repeat;
        background-size: 100%;
        color: $orange;
        font-size: 1.5625em; // 25 / 16
        font-weight: 700;
    }
    .message a:hover .outbound      { color: $blue; }


//	. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

	@media screen and (max-width: 1315px) {
        .photo                      { right: 50px; bottom: -30px; }
        h1                          { font-size: 1.8125em; }
    }

//	. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

	@media screen and (max-width: 1000px) {
	    .inner                      { padding-top: 30px; }
        .photo                      { right: 15px; width: 270px; bottom: 0; }
        h1                          { font-size: 1.5em; margin-right: 270px; }
    }

//	. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

	@media screen and (max-width: 890px) {
	    .inner                      { padding-top: 40px; padding-bottom: 10px; }
        .photo                      { right: 0; width: 250px; }
        h1                          { margin-right: 200px; margin-bottom: 15px; z-index: 3; position: relative; }
        .secondary .logo            { width: 40px; }
        .secondary figcaption       { font-size: 0.8125em; max-width: auto; margin-right: 250px; padding-top: 15px; margin-left: 60px; padding-bottom: 20px; }
        .outbound                   { bottom: 4px; }
    }


//	. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

	@media screen and (max-width: 650px) {
	    .message {
            box-shadow:
                inset 0 -100px 0 #60b7c6,
                inset 0 -101px 0 #87cdda;
        }
	    .inner                      { padding-top: 23px; padding-bottom: 138px; }
	    h1                          { margin: 0 0 10px 0; text-align: center; border-bottom: 1px solid rgba(255,255,255,0.5); padding-bottom: 15px;}
	    .secondary                  { margin: 0 auto; width: 80%; }
	    .secondary figcaption       { margin-right: 0; padding-bottom: 15px; }
	    .outbound                   { bottom: 20px; }
	    .photo                      { right: auto; left: 30%; width: 185px; }
    }


//	. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

	@media screen and (max-width: 550px) {
	    h1                          { font-size: 1.25em; }
	    .inner                      { padding-top: 18px; }
	    .secondary                  { width: 90%; }
	    .photo                      { left: 0; width: 170px; }
	    .outbound                   { width: 125px; font-size: 1.125em; padding-top: 11px; }
    }




}




