
/*
###############################################################################
###############################################################################

OVERALL TWEAKS

###############################################################################
############################################################################### */

mark    { color: inherit; }
cite    { font-style: italic; font-weight: inherit; }
b       { font-weight: inherit; }





/*
###############################################################################
###############################################################################

PLUG
-------------------------------------------------------------------------------
Big ads are too big.

###############################################################################
############################################################################### */

.plug iframe {
  display: block;
  width: 100% !important;
  max-width: 300px !important;
  /*  height: auto !important; // JON TO-DO: aw hell, revisit this */
}
.exordium .plug iframe {
  height: 50px !important; // apparently "auto" isn't good enough for you
}





/*
###############################################################################
###############################################################################

EXORDIUM
-------------------------------------------------------------------------------
The top content part of a Program Landing Page. Includes its curated feature.

###############################################################################
############################################################################### */

.exordium {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 55px;
  & > header {
    margin-top: -51px;
    margin-bottom: 40px;
    h1 {
      background: white;
      padding-top: 25px;
      padding-right: 4.5%;
      padding-left: 4.5%;
      width: 100%;
      margin-left: -4.5%;
      font: normal 300 3em/1 $font-freight;
    }
  }

  a:hover                       { text-decoration: underline; }

  .content {
    font-family: $font-prox;
    z-index: 1;
    background:
      image-url("i/fauxcol-program-exordium-topper.png") no-repeat 65.846153846154% top,
      image-url("i/fauxcol-program-exordium-lightgray.png") repeat-y 68.307692307692% top;
    background-size:
      1500px 1px,
      1500px 10px;
    padding-top: 1px;
    .featured {
      width: 65.846153846154%;
      float: left;
      .photo                    { width: 74.065420560748%; float: right; position: relative; z-index: 2; }
      .summary                  { width: 22.196261682243%; float: left; position: relative; z-index: 3; }
    }

    .summary {
      .play a,
      .download a,
      footer a {
        font-weight: 700;
        line-height: 1;
        background: image-url("i/program-listen-icons.png") no-repeat;
        background-size: 45px 381px;
        box-sizing: border-box;
      }
      .prompt {
        background: white;
        box-shadow: 0 7px 0 rgba(0,0,0,0.12);
        width: 147.368421052632%; // 190 + 90 / 190
        box-sizing: border-box;
        padding: 7px 15px 18px 0;
        margin-bottom: 16px;
        h1                      { margin-bottom: 15px; }
        .play,.play *           { display: block; }
        .play a {
          min-height: 45px;
          padding: 1px 0 0 53px;
          color: $blue;
          display: block;
          b,span                { line-height: 1; }
          b                     { font-size: 1.5625em; margin-bottom: 1px; letter-spacing: -0.025em; }
          span                  { font-size: 1.0625em; color: #9ad6ea; }
          &:hover {
            background-position: 0 -90px;
            color: $orange;
            text-decoration: none;
            b                   { text-decoration: underline; }
            span                { color: #ffc191; }
          }
        }
      }
      .download {
        margin-bottom: 11px;
        a {
          font-size: 0.75em;
          font-weight: bold;
          display: inline-block;
          color: #b4b3b3;
          background-position: 0 -180px;
          min-height: 14px;
          padding: 2px 0 0 20px;
          span,i                { white-space: nowrap; }
          i                     { font-style: normal; font-weight: normal; color: #c5c5c5; font-size: 0.83333333333333em; }
          &:hover               { color: $orange; background-position: 0 -244px; text-decoration: none; }
          &:hover span          { text-decoration: underline; }
          &:hover i             { color: #ffc191; }
        }
      }
      .description {
        margin-bottom: 13px;
        font: normal 0.8125em/1.72 $font-merri;
      }
      footer {
        a {
          display: block;
          padding: 5px 8px 0 0;
          border-top: 1px solid $blue;
          text-align: right;
          font-size: 0.875em;
          letter-spacing: -0.02em;
          padding-right: 10px;
          color: $blue;
          background-position: right -295px;
          &:hover               { background-position: right -359px; color: $orange; border-top: 1px solid $orange; }
        }
      }
    }// .summary

    .plug {
      iframe                    { margin: 0 auto; }
      .appeal                   { text-align: center; display: block; color: #7e7e7e; padding-top: 7px; padding: 7px 0 15px; }
      .appeal a                 { display: inline-block; font: normal 0.8125em/1.1 $font-freight; } 
    }

    .supporting                 { width: 31.692307692308%; float: right; }
    .prompt h1,
    .segments h2,
    .segments footer figcaption { font-weight: 700; text-transform: uppercase; font-size: 0.6875em; line-height: 1; }

    .segments {
      background: white;
      margin-bottom: 30px;
      padding: 7px 0 30px;
      h2                        { color: $orange; margin-bottom: 19px; }
      nav {
        padding-bottom: 12px;
        font-size: 0.875em;
        color: #313131;
        li {
          line-height: 1.1;
          margin-bottom: 0.65em;
          background: image-url("i/ephemera-disc-lightgray.png") no-repeat left 5px;
          background-size: 4px 4px;
          padding-left: 2.669902912621%;
          margin-left: -2.669902912621%;
          padding-left: 11px;
          margin-left: -11px;
        }
      }
      footer {
        border-top: 1px solid #fbd7bc;
        width: 100%;
        padding-left: 7.766990291262%; // 32 / 412
        margin-left: -7.766990291262%;
        a                       { display: block; }
        figure                  { position: relative; width: 100%; padding-top: 1px; }
        mark {
          display: inline-block;
          position: absolute;
          right: 0;
          top: 5px;
          text-align: right;
          color: $orange;
          font-weight: 700;
          font-size: 0.875em;
          letter-spacing: -0.035em;
          line-height: 1.1;
          padding-right: 12px;
          background: image-url("i/ephemera-triangle-orange.png") no-repeat right 5px;
          background-size: 5px 6px;
        }
        figcaption {
          display: inline-block;
          background: image-url("i/ephemera-plus.png") no-repeat left 2px;
          background-size: 6px 6px;
          color: #b3b3b3;
          padding-left: 2.669902912621%;
          margin-left: -2.669902912621%;
          span                  { color: #ffa662; }
        }
        a:hover {
          mark,figcaption       { text-decoration: underline; color: $orange; }
        }
      }
    }
  }
}






/*
###############################################################################
###############################################################################

NEOTERIC
-------------------------------------------------------------------------------
The long two-column flow of recent content (segments and episodes, mostly).

###############################################################################
############################################################################### */

.neoteric {
  background: image-url("i/fauxcol-program-neoteric-base.png") repeat-y center top;
  & > .inner {
    padding-bottom: 90px;
    background: image-url("i/fauxcol-program-neoteric-inner.png") repeat-y 74.384615384615% top;
    background-size: 1500px 10px;
  }

  .segments {
    width: 68.307692307692%;
    float: left;
    padding-top: 38px;
    font-family: $font-freight;
    & > h1 {
      font-weight: 300;
      font-size: 2em;
      color: #7f7f7f;
      line-height: 1;
      margin-bottom: 37px;
    }

    figure {
      width: 30.855855855856%;
      float: left;
      margin: 0 3.716216216216% 39px 0; // R: 33 / 888
      &:nth-child(3n)           { margin-right: 0; }
      &:nth-child(3n+1)         { clear: both; }
      .photo {
        border-bottom: 5px solid $blue;
        z-index: 1;
        font-family: $font-prox;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 4px;
        text-transform: uppercase;
        a {
          display: block;
          width: 100%;
          .fill          { padding-top: 75.5%; }
          .img-contain   { z-index: 2; background: $blue; }
          .has-audio,time       { position: absolute; z-index: 3; left: 0; }
          time {
            top: 13px;
            display: inline-block;
            font-size: 0.625em;
            color: #6e6e6e;
            background: white;
            padding: 6px 10px 5px 0;
            span                { color: $blue; }
          }
          .has-audio {
            bottom: 0;
            width: 100%;
            display: block;
            height: 25px;
            background: image-url("i/ephemera-program-speaker.png") no-repeat 0 0;
            background-size: 24px 25px;
            background-color: rgba(0,0,0,0.3);
            overflow: hidden;
            font-size: 0.75em;
            color: white;
            box-sizing: border-box;
            padding: 8px 0 0 31px;
            letter-spacing: 0.08em;
          }
        }
      }
      figcaption {
        font-size: 1.3125em;
        line-height: 1;
      }
    }// .figure

  }// .segments

  .library {
    width: 23.153846153846%;
    float: right;
    padding-top: 45px;
    font-family: $font-prox;
    & > section,& > aside       { margin-bottom: 64px; }
    h2 {
      font: normal 1.25em/1.05 $font-freight;
      margin-bottom: 32px;
      color: #717171;
    }
  }

  .episodes {
    nav                         { margin-bottom: 32px; }
    li,a,time,span              { display: block; width: 100%; }
    li {
      margin-bottom: 21px;
      &:last-child              { margin-bottom: 0; }
      time {
        font-size: 0.75em;
        line-height: 1;
        color: $blue;
        font-weight: 700;
        border-bottom: 1px solid #d3d3d3;
        padding: 0 0 2px 10.63122923588%; // 32 / 301
        margin: 0 0 2px -10.63122923588%; // 32 / 301
        mark                    { color: #004c66; }
      }
      span                      { font-size: 0.9375em; line-height: 1.3; }
      a:hover {
        time                    { color: $orange; border-bottom: 1px solid #ecbd99; }
        time mark               { color: $orange; }
        span                    { text-decoration: underline; }
      }
    }
    footer {
      a {
        display: block;
        font-weight: 700;
        color: white;
        background: $blue;
        text-align: right;
        width: 100%;
        font-size: 0.875em;
        line-height: 1;
        padding: 8px 8px 8px 10.63122923588%; // 32 / 301
        margin-left: -10.63122923588%; // 32 / 301
        &:hover                 { background: $orange; }
        span {
          display: inline-block;
          padding-right: 12px;
          box-sizing: border-box;
          background: image-url("i/ephemera-dart-white.png") no-repeat right 4px;
          background-size: 7px 8px;
        }
      }
    }
  }// .episodes

}// .neoteric








/*
###############################################################################
###############################################################################

INTERREGNUM
-------------------------------------------------------------------------------
The intermission-y mishmash section of Team, Quote, Exemplary, and Ad C.

###############################################################################
############################################################################### */

.interregnum {
  border-top: 1px solid #8e8e8e;
  background:
    image-url("i/fauxcol-program-interregnum-base-shade.png") no-repeat center top,
    image-url("i/fauxcol-program-interregnum-base.png") repeat-y center top;
  background-size:
    3000px 6px,
    3000px 20px;
  font-family: $font-prox;
  & > .inner {
    background:
      image-url("i/fauxcol-program-interregnum-inner-shade.png") no-repeat 23.153846153846% top,
      image-url("i/ephemera-program-dot-lightgray.png") repeat-y 74.384615384615% top,
      image-url("i/fauxcol-program-interregnum-inner.png") repeat-y 23.153846153846% top;
    background-size:  
      1500px 6px,
      1px 1px,
      1500px 10px;
  }
  .team {
    width: 21.076923076923%; // 274p
    float: left;
    color: #cdcdcd;
    padding: 25px 0 50px;
    a                     { display: block; }
    h1 {
      margin-bottom: 30px;
      border-top: 1px solid rgba(255,255,255,0.28);
      padding-top: 5px;
      font-size: 0.875em;
      width: 100%;
      padding-right: 9.85401459854%; // 27 / 274
      font-weight: 700;
      line-height: 1.2;
    }
    figure {
      width: 45.255474452555%; // 124p
      float: left;
      margin-bottom: 19px;
      &:nth-child(odd)    { margin-right: 9.124087591241%; /* 25 / 274 */ }
      .ratio .fill        { padding-top: 125%; }
      .ratio .img-contain { background: $blue; }
      .photo              { border-bottom: 3px solid $blue; margin-bottom: 5px; }
      figcaption          { font: normal 0.9375em/1.1 $font-freight; color: $blue; }
      a:hover             { text-decoration: underline; color: #a8e9ff; }
    }
  }
  .melange {
    width: 76.846153846154%; // 999p
    float: right;
  }
  .quote {
    padding-bottom: 42px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background-color: #f2f2f2;
    box-shadow: inset 0 6px 0 #e7e7e7;
  }
  blockquote {
    background:
      image-url("i/ephemera-program-quote-open.png") no-repeat 1.201201201201% top,
      image-url("i/ephemera-program-quote-close.png") no-repeat right 0 bottom 19px;
    background-size:
      122px 84px,
      137px 101px;
    width: 100%;
    padding-right: 1.601601601602%;
    min-height: 100px;
    padding-top: 14px;
    p,footer      { margin-left: 9.60960960961%; } // 96 / 999
    p             { color: #3c3c3c; font: italic 300 2.5625em/1.2 $font-freight; margin-bottom: 11px; }
    footer {
      color: #656565;
      text-align: right;
      span,cite   { display: block; }
      span        { font-size: 1.125; margin-bottom: 5px; }
      mark        { font-weight: 700; }
      cite        { font-style: normal; text-transform: uppercase; font-size: 0.75em; }
      a           { color: $orange; text-decoration: underline; }
      a:hover     { color: $blue; }
    }
  }
  .diptych        { padding: 24px 0 50px; }
  .exemplary {
    width: 61.661661661662%; // 616p
    margin-left: 3.203203203203%; // 32p
    float: left;
    h1            { font-weight: 700; color: #a1a1a1; font-size: 0.875em; margin-bottom: 8px; }
    h2            { color: #138ab3; font: normal 1.8125em/1.1 $font-freight; margin-bottom: 24px; }
    h3 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.6875em;
      color: #999999;
      padding: 3px 0 8px;
      margin-bottom: 7px;
      width: 100%;
      padding-left: 11.3074204947%; // 32 / 283
      margin-left: -11.3074204947%; // 32 / 283
      border-bottom: 1px solid #d0d0d0;
    }
    a             { display: block; }
    a:hover       { text-decoration: underline; }
    p             { color: #3c3c3c; font: normal 0.8125em/1.5 $font-merri; }
    .photo        { width: 48.863636363636%; /* 301p */ float: left; }
    .ratio .img-contain { background: #f2f2f2; }
    .prose        { width: 45.941558441558%; /* 283p */ float: right; }
  }
  .plug {
    width: 30.13013013013%; // 301p
    float: right;
    .appeal {
      text-align: right;
      display: block;
      padding-top: 4px;
      a {
        background: image-url("i/ephemera-dart-darkgray.png") no-repeat right 5px;
        background-size: 6px 7px;
        font: normal 0.8125em/1.2 $font-freight;
        color: #303030;
        padding-right: 11px;
        display: inline-block;
        &:hover   { text-decoration: underline; }
      }
    }
  }
}








/*
###############################################################################
###############################################################################

OTHER PROGRAMS
-------------------------------------------------------------------------------
Don't like this show? That's fine, here's four others.

###############################################################################
############################################################################### */

.other-programs {
  background: #161616;
  padding: 42px 0 61px;
  color: #8a8a8a;
  font-family: $font-prox;
  & > header {
    padding-bottom: 28px;
    border-bottom: 1px solid #333333;
    margin-bottom: 31px;
    h1              { font: normal 300 1.75em/1.1 $font-freight; color: #919191; }
  }
  .troupe           { padding-bottom: 46px; }
  article {
    width: 23.153846153846%; // 301p
    float: left;
    margin-right: 2.461538461538%; // 32 / 1300
    &:last-child    { margin-right: 0; float: right; }
    a               { display: block; }
    .photo          { margin-bottom: 12px; }
    .ratio .fill    { padding-top: 24.252491694352%; }
    h1,h2,h3,dt     { font-weight: 700; line-height: 1; }
    h3,dt           { text-transform: uppercase; }
    h1              { color: white; font-size: 1.5625em; margin-bottom: 6px; }
    h2              { color: #f17b21; font-size: 0.8125em; margin-bottom: 3px; }
    h3              { color: #9e4603; font-size: 0.6875em; margin-bottom: 10px; }
    p               { font-size: 0.75em; border-top: 1px solid #3a3a3a; padding-top: 5px; line-height: 1.2; margin-bottom: 26px; }
    dl              { border-top: 1px solid #246075; padding-top: 5px; position: relative; color: $blue; }
    dt,
    dt mark,
    dt time,
    dd              { display: block; }
    dt              { position: absolute; top: 7px; left: 0; }
    dt mark         { font-size: 0.75em; margin-bottom: 2px; }
    dt time         { font-size: 0.625em; color: #16657f; }
    dd              { font-size: 0.8125em; line-height: 1.2; margin-left: 36.87707641196%; /* 111 / 301 */ }
    a:hover {
      h1            { text-decoration: underline; }
      h3            { color: #f17b21; }
      p             { color: white; border-top: 1px solid #b6b6b6; }
      dl            { border-top: 1px solid #5db2cf; }
      dt time       { color: $blue; }
      dd            { color: #97e2fc; text-decoration: underline; }
    }
  }
  footer {
    border-top: 1px solid #84491c;
    padding-top: 9px;
    color: white;
    font: normal 300 1.375em/1 $font-freight;
    text-align: right;
    a {
      display: inline-block;
      padding-right: 17px;
      background: image-url("i/ephemera-dart-white.png") no-repeat right 0.4em;
      background-size: 7px 8px;
      &:hover       { text-decoration: underline; }
    }
  }
}





