/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

SINGLE SEGMENT

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


body.segment {


/*
########################################################################
########################################################################
MASTHEAD
########################################################################
######################################################################## */
.masthead .titling {
//  bottom: 0; // This used to be "-11px", to account for News's "cinematic" scheme.
  .details {
    font: normal 700 0.875em/1 $font-prox;
    color: #ccf2ff;
    text-align: right;
    mark    { color: white; }
  }
}// .masthead .titling





/*
########################################################################
########################################################################
------------------------------------------------------------------------
APPELLATION
------------------------------------------------------------------------
The editorial title of an article/segemnt.
This used to be a <section> (c. 2013-14), but that was dumb.
------------------------------------------------------------------------
########################################################################
######################################################################## */
.appellation {
  padding: 70px 0;
  h1    { font: normal 300 3em/1.1 $font-freight; }
  p     { padding-top: 40px; font: normal 0.75em/1 $font-prox; color: #acacac; }
}



/*
########################################################################
########################################################################
REPORT
########################################################################
######################################################################## */
.report {
  
  .inner          { background-image: image-url("i/fauxcol-segment-base.png"); }
  .prose {
    outline: 1px solid green;
    width: 59.769230769231%;
    p.inaugural   { width: auto; }
  }
  .supportive {
    outline: 1px solid maroon;
    width: 34.153846153846%;
  }
  
}// .report



}// body.segment