<div class="asset-block fallback">
  <div class="contentasset">
    <!-- This partial is rendered by tasks. Don't use asset helper tags. -->
    <a href="<%=public_url%>"><img src="/static/images/fallback-img-rect.png" /></a>
  </div>
</div>
