<div class="o-short-list__side-bar" style="order: <%= @options[:order] %>">
  <h6 class="b-heading--h6 b-heading--uppercase u-text-color--gray">Stories in this Edition</h6>
  <ul class="o-short-list__side-bar__list">
    <% model.abstracts.each_with_index do |abstract, index| %>
        <li><a href="#abstract-<%= (index+1).to_s.rjust(2, "0") %>"><%= abstract.headline %></a></li>
    <% end %>
  </ul>

  <h6 class="b-heading--h6 b-heading--uppercase u-text-color--gray">Share this Edition</h6>
  <%= cell :social_tools, model, display: 'horiz' %>
</div>
