<header class="masthead <%= content_for(:masthead_class) %>">
    <div class="inner bound">

        <%= yield :titling %>

        <%= render 'shared/new/main_nav' %>
    </div>
</header><!--/ .masthead -->
