<% if context = @program %>
    <section class="titling">
        <div class="brand">
            <h1><%= link_to @program.title, @program.public_path %></h1>
        </div><!--/ .brand -->
        <div class="details">
          <h2><span><%= @program.teaser %></span> <mark>Hosted by <%= @program.host %></mark></h2>
        </div><!--/ .details -->
    </section><!--/ .titling -->
<% end %>