<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="assets/better_homepage/icon-gem.svg" />
  <div class="c-gem__container">
    <div class="container container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url('assets/better_homepage/hidden_gems/gem-triforium.jpg');"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url('assets/better_homepage/hidden_gems/gem-triforium.jpg');"></div>
      <img class="c-gem__badge" src="assets/better_homepage/icon-gem.svg" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url('assets/better_homepage/hidden_gems/gem-triforium.jpg');"></div>
            <h3 class="c-gem__title">The Triforum</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description">Designed by artist Joseph Young, the Triforium was initially supposedto be a "polyphonoptic" sculpture. Young wanted to use motion sensors and a computer system to translate the motions of passers by into psychedelic patterns of light, sound, and music.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Wht it's cool:</dt>
            <dd class="c-gem__description">The computer system never worked quite right, but it’s still a unique work of overlooked public art in downtown LA.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">Parking downtown can be tough. But taking the Red or Purple Line to Grand Park Station will put you within walking distance (about four blocks). <a href="#">Get directions</a>.<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.scpr.org%2Fprograms%2Fofframp%2F2015%2F12%2F03%2F45426%2Fwhat-is-the-triforium-and-why-should-we-rehabilita%2F" class="c-btn c-btn--small c-btn--secondary">
              <img src="assets/better_homepage/icon-facebook.svg" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20KPCC%3A%20The%20Triforium&url=http%3A%2F%2Fwww.scpr.org%2Fprograms%2Fofframp%2F2015%2F12%2F03%2F45426%2Fwhat-is-the-triforium-and-why-should-we-rehabilita%2F" class="c-btn c-btn--small c-btn--secondary">
              <img src="assets/better_homepage/icon-twitter.svg" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: <a href="https://flic.kr/p/CWePZP">Paul Narvaez/Flickr</a></aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps?ll=34.055947,-118.242064&z=18&t=m&hl=en-US&gl=US&mapclient=embed&cid=3532391696364477026">
            <div class="c-gem__map" style="background-image: url('assets/better_homepage/hidden_gems/map-triforium.png');"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
