<!-- Stats: WebTrends -->
<script src="http://media.scpr.org/assets/scripts/webtrends.v2.js"></script>
<script>
    //<![CDATA[
        var _tag=new WebTrends();
        _tag.dcsGetId();
    //]]>
</script>
<script>
    //<![CDATA[
        _tag.dcsCustom=function(){
            // Add custom parameters here.
            //_tag.DCSext.param_name=param_value;
        }
    _tag.dcsCollect();
    //]]>
</script>
<noscript>
    <div><img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="http://statse.webtrendslive.com/dcsyqctzwuz5bdsebpmwhwe8w_2p8d/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.3.0&amp;WT.dcssip=www.scpr.org"/></div>
</noscript>
<!-- /WebTrends -->

<!-- BEGIN Comscore -->
<script>
var _comscore = _comscore || [];
_comscore.push({ c1: "2", c2: "6035974", c3: "", c4: "" });
(function() {
var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
el.parentNode.insertBefore(s, el);
})();
</script>
<noscript>
<img src="http://b.scorecardresearch.com/p?c1=2&c2=6035974&c3=&c4=&c5=&c6=&c15=&cv=2.0&cj=1" />
</noscript>
<!-- /Comscore -->

<!--Visual Revenue Reader Response Tracking Script (v6) -->
<script type="text/javascript">
    var _vrq = _vrq || [];
    _vrq.push(['id', 412]);
    _vrq.push(['automate', true]);
    _vrq.push(['track', function(){}]);
    (function(d, a){
        var s = d.createElement(a),
        x = d.getElementsByTagName(a)[0];
        s.async = true;
        s.src = 'http://a.visualrevenue.com/vrs.js';
        x.parentNode.insertBefore(s, x);
    })(document, 'script');
</script>
<!-- /Visual Revenue -->

<!-- ChartBeat -->
<script type="text/javascript">
    var _sf_async_config = { uid: 33583, domain: 'scpr.org', useCanonical:true };
    (function() {
        function loadChartbeat() {
            window._sf_endpt = (new Date()).getTime();
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
            document.body.appendChild(e);
        };
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ? loadChartbeat : function() { oldonload(); loadChartbeat(); };
    })();
</script>
<! -- /ChartBeat -->
<!-- Google Analytics -->
<script type="text/javascript">
    var currentPath = window.location.pathname
    var pathToMatch = currentPath.split('/')[1];
    var pageType = null;
    _.each(scpr.PAGE_MAPPING, function(v,k) {
        _.each(v, function(page) {
            if (pathToMatch.match(new RegExp(page))) {
                pageType = k;
            }
        });
    });
    // These are route exceptions to the mappings in scpr.PAGE_MAPPING that require a specific GA page type
    //  '/news/:year/:month/:day/:id/:slug/' and '/blogs/:blog/:year/:month/:day/:id/:slug/'
    if (currentPath.match(/^\/news\/\d{4}/) || currentPath.match(/^\/blogs\/[a-z-]+\/\d{4}/)) {
        pageType = "Story";
    }
    // get '/about/press/'
    else if (currentPath.match(/^\/about\/press\/?/)) {
        pageType = "About";
    }
    // get '/about/people/'
    else if (currentPath.match(/^\/about\/people\/?/)) {
        pageType = "People";
    }
    var _gaq = _gaq || [];
    _gaq.push(
        ['_setAccount', 'UA-624724-1'],
        ['_setDomainName', 'scpr.org'],
        ['_setCustomVar', 6, 'Station', 'Southern California Public Radio', 2],
        ['_setCustomVar', 7, 'PageType', pageType, 3],
        ['_trackPageview'],
        ['b._setAccount', 'UA-18188937-11'],
        ['b._setDomainName', 'scpr.org'],
        ['b._setCustomVar', 6, 'Station', 'Southern California Public Radio', 2],
        ['b._setCustomVar', 7, 'PageType', pageType, 3],
        ['b._trackPageview']
    );
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<!-- /Google Analytics -->
