<% 
 c = content.content
 case content.call_to_action 
 when 'conversation'
    icon    = 'comment'
    link    = "#{c.public_url}#comments"
    caption = "Join the conversation"
 when 'event' 
    icon    = 'article'
    link    = c.try(:rsvp_url)
    caption = "RSVP for this event"
 when 'podcast' 
    show_name = c.get_article.try(:show).try(:title) || "this show"
    icon    = 'listen-live'
    link    = c.try(:show).try(:podcast_url) || c.public_url
    caption = "Love #{show_name}? Subscribe to the podcast!"
 end 
%>
<% if content.call_to_action %>
  <a class='call-to-action' href="<%= link %>">
    <span class="icon--color-link">
      <svg class="icon icon--size-med icon--left icon--color-link">
        <use class="icon--line " xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_line-<%= icon %>"></use>
      </svg>
      <span class="link link--callout"><%= caption %></span>
  </a>
<% end %>