<h1 class="media__headline media__headline--h1 media__headline--top u-text-align--center">
  <%= link_to headline, url, class: "headline__link track-event", "data-ga-category" => '@currentCategory', "data-ga-action" => "Article", "data-ga-label" => '@scrollDepth' %>
</h1>