<div class="media__meta">
  <span class="media__timestamp"><%= smart_date_js public_datetime, "data-window" => "8h", "data-relative" => "2h" %></span>
  <% if feature_name = feature.try(:name) %>
    <span class="media__label" data-media-label="<%= feature_name %>">
  <% else %>
    <span class="media__label">
  <% end %>
    <svg class="icon icon--size-sm">
      <use class="icon--line icon--color-primary" xlink:href="#icon_line-audio"/>
    </svg>
  </span>
</div>