<div class="media__meta">
  <% if audio.any? %>
    <span class="media__label">
      <svg class="icon icon--size-sm">
        <use class="icon--line icon--color-primary" xlink:href="#icon_line-audio"/>
      </svg>
      Audio
    </span>
  <% end %>
  <span class="media__timestamp"><%= smart_date_js public_datetime %></span>
</div>