<aside class="o-epilogue <%= @options[:class] %>" style="order: <%= @options[:order] %>">
  <img class="o-epilogue__graphic" src="<%= asset_path 'graphic_epilogue-donate.svg' %>">
  <div class="o-epilogue__text">
    <h1 class="o-epilogue__heading"><a href="https://scprcontribute.publicradio.org/contribute.php">KPCC's <%= category %> coverage is a Southern California resource provided by member-supported public radio. We can't do it without you.</a></h1>
    <a class="o-epilogue-callout b-link b-link--callout" href="https://scprcontribute.publicradio.org/contribute.php">Your contributions power KPCC.  Give today.</a>
  </div>
</aside>
