<section class="prologue austere">
    <div class="grating">
        <div class="inner bound clearfix">
            <div class="prose">
                <h1 class="title"><span><%= article.short_title %></span></h1>
                <aside class="byline">
                    <h2 class="author">by <%= render_byline article.original_object %></h2>
                    <%= smart_date_js article.public_datetime %>
                </aside>
            </div>
        </div><!--/ .prose -->
    </div>
</section><!--/ .prologue -->



