<% article = content.to_article %>

<%= render_asset article.original_object, context:"news", display: "photo", fallback:true, kpcc_only: true %>

<article>
    <div>
        <% if should_inline_top_asset_for(article.original_object) %>
          <% render_asset article, context:"news", display:"inline", kpcc_only: true %>
        <% end %>

        <%= render_with_inline_assets article, kpcc_only: true %>
        <% if article.original_object.joined_bylines[:contributing].present? %>
            <footer class="contributor">
                <p><%= render_contributing_byline article.original_object %></p>
            </footer>
        <% end %>
        <%= pij_source(article.original_object) %>
    </div>
</article>
