<article>
    <% article = content.to_article %>
    <% unless should_inline_top_asset_for(article.original_object) %>
        <%= render partial: "pmp/lead_asset", locals: {asset: article.original_object.asset} %>
    <% end %>
    <div class="article-content">
        <% if should_inline_top_asset_for(article.original_object) %>
          <% render_asset article, context:"news", display:"inline", kpcc_only: true %>
        <% end %>
        <%= render_with_inline_assets article, kpcc_only: true %>
        <%= render partial: "pmp/footer", locals: {article: article} %>
        <% if article.original_object.respond_to?(:is_from_pij?) %>
            <%= pij_source(article.original_object) %>
        <% end %>
    </div>
</article>