<aside class="buddy comments-plug">
  <h1>Comments</h1>
  <figure>
    <mark class="count social_disq" data-objkey="<%= article.original_object.disqus_identifier %>"></mark>
    <figcaption><a href="<%= article.public_url %>#comments">Join the discussion</a></figcaption>
  </figure>
</aside>