<aside id="<%= @options[:id] %>" class="o-appeal o-appeal--breaking-news <%= @options[:class] %>" style="order: <%= order %>">
  <h4 class="o-appeal__heading b-heading b-heading--h4 b-heading--serif b-heading--bold b-heading--italic">Get KPCC in your inbox</h4>
  <p class="o-appeal__description">Breaking news alerts sent to your inbox</p>
  <form method="post" name="untitledForm-1359591262588" action="https://s1715082578.t.eloqua.com/e/f2" id="form148">
      <input value="untitledForm-1359591262588" type="hidden" name="elqFormName"  />
      <input value="1715082578" type="hidden" name="elqSiteId"  />
      <input name="elqCampaignId" type="hidden"  />

      <input class="c-input input-text" id="field0" name="emailAddress" type="email" placeholder="email@somedomain.com" value="" />

      <input class="newsletter-hidden-input" name="SCPRBreakingAlerts" type="checkbox" value="on" checked="checked"  />
      <input type="hidden" name="elqCustomerGUID" value="">
      <input type="hidden" name="elqCookieWrite" value="0">

      <button type="submit" class="o-appeal__submit c-btn c-btn--outline-secondary c-btn--small track-event" data-ga-category="Article" data-ga-action="Subscribe" data-ga-label="Breaking News Newsletter">Subscribe</button>
  </form>
  <a href="/newsletters/" class="o-appeal__action-link">Or, check out all our newsletters ></a>
</aside>

