<aside id="<%= @options[:id] %>" class="o-appeal o-appeal--edition" style="order: 1000">
  <h1 class="o-appeal__heading b-heading b-heading--h2 b-heading--serif b-heading--bold b-heading--italic">The best SoCal news in your inbox, daily.</h1>
  <p class="o-appeal__description">Sign up to get KPCC's Short List newsletter.</p>
  <form method="post" name="untitledForm-1359591262588" action="https://s1715082578.t.eloqua.com/e/f2" id="form911">
      <input value="SCPREventsSignup-20151005" type="hidden" name="elqFormName"  />
      <input value="1715082578" type="hidden" name="elqSiteId"  />
      <input name="elqCampaignId" type="hidden"  />

      <input class="c-input input-text" id="field0" name="emailAddress" type="email" placeholder="email@somedomain.com" value="" />
      <input class="newsletter-hidden-input" name="SCPREvents" type="hidden" value="on">
      <input type="hidden" name="elqCustomerGUID" value="">
      <input type="hidden" name="elqCookieWrite" value="0">
      <button type="submit" class="o-appeal__submit c-btn c-btn--outline-secondary c-btn--small track-event" data-ga-category="Article" data-ga-action="Subscribe" data-ga-label="Breaking News Newsletter">Subscribe</button>
  </form>
</aside>
