<aside id="<%= @options[:id] %>" class="o-appeal o-appeal--edition" style="order: 1000">
  <h1 class="o-appeal__heading b-heading b-heading--h2 b-heading--serif b-heading--bold b-heading--italic">The best SoCal news in your inbox, daily.</h1>
  <p class="o-appeal__description">Sign up to get KPCC's Short List newsletter.</p>
  <form action="https://mcpostman.publicradio.org/subscription_requests" class="bound mcpostman-form" method="post">
    <input name="subscription_request[property_key]" type="hidden" value="05c7847d-4396-4e7c-aa27-c6341e27928f" />
    <input name="subscription_request[sde_external_key]" type="hidden" value="" />
    <input type="email" name="subscription_request[fsm][Form_Email_Address]" id="subscription_request_fsm_Form_Email_Address" required="required" maxlength="254" class="newsletter-email form-control" placeholder="email@somedomain.com" />
    <input name="subscription_request[fsm][Form_BusinessUnit]" type="hidden" value="SCPR" />
    <input name="subscription_request[fsm][Form_FormName]" type="hidden" value="ShortList_Newsletter_Sub" />
    <input name="subscription_request[fsm][Form_Opt_In_Source]" type="hidden" value="SCPR Newsletter" />
    <input name="subscription_request[publication_lists][540]" type="hidden" value="on" />
    <button type="submit" class="o-appeal__submit c-btn c-btn--outline-secondary c-btn--small track-event" data-ga-category="Article" data-ga-action="Subscribe" data-ga-label="Breaking News Newsletter">Subscribe</button>
  </form>
</aside>
