<aside class="o-appeal o-appeal--in-person <%= @options[:class] %>" style="order: <%= @options[:order] %>">
  <h4 class="o-appeal__heading b-heading b-heading--h4 b-heading--serif b-heading--bold b-heading--italic">Stay in the know</h4>
  <p class="o-appeal__description">Get KPCC in Person updates sent right to your inbox</p>
  <form action="https://mcpostman.publicradio.org/subscription_requests" class="mcpostman-form" method="post">
    <input name="subscription_request[property_key]" type="hidden" value="e8c26b50-f9e3-4182-943b-ef0f9d8e7386" />
    <input name="subscription_request[sde_external_key]" type="hidden" value="" />
    <input class="c-input input-text newsletter-email form-control" id="subscription_request_fsm_Form_Email_Address" name="subscription_request[fsm][Form_Email_Address]" type="email" placeholder="email@somedomain.com" required="required" maxlength="254" value="" />
    <input name="subscription_request[fsm][Form_BusinessUnit]" type="hidden" value="SCPR" />
    <input name="subscription_request[fsm][Form_FormName]" type="hidden" value=" KPCCInPerson_Newsletter_Sub" />
    <input name="subscription_request[fsm][Form_Opt_In_Source]" type="hidden" value="SCPR Newsletter" />
    <input name="subscription_request[publication_lists][494]" type="hidden" value="on" />
    <button type="submit" class="o-appeal__submit c-btn c-btn--outline-secondary c-btn--small track-event" data-ga-category="Article" data-ga-action="Subscribe" data-ga-label="Breaking News Newsletter">Subscribe</button>
  </form>
  <a class="o-appeal__newsletters-link" href="/newsletters">Or, check out all our newsletters ></a>
</aside>
