<aside class="o-appeal o-appeal--ipad <%= @options[:class] %>" style="order: <%= @options[:order] %>">
  <h1 class="o-appeal__heading b-heading b-heading--h2 b-heading--serif b-heading--bold b-heading--italic">Meet KPCC for iPad.  Intelligent news.  At your convenience.</h1>
  <a href="https://itunes.apple.com/us/app/kpcc-for-ipad/id744160424?mt=8" class="o-appeal__submit c-btn c-btn--outline-secondary">Get it free in the app store</a>
</aside>