body.listen {
  header.topbar {
    height:50px;
  }
    .small {
        color:#666;
        font-size:11px;
        a {color:#2e2e2e;}
    }
    .pipe {
        @include ie-inline-block;
        zoom:1;
        *display:inline;
        padding:0 4px;
    }
    .wrapper {
        padding:0 10px;
        position:relative;
        h2 {
            @include ie-inline-block;
            zoom:1;
            *display:inline;
            float:left;
            margin:4px 0;
        }
        .contribute {
            position:absolute;
            top: -10px;
            right:10px;
        }
        .small {
            float:right;
            margin-top:11px;
        }
    }
    .headlines {
        margin-top:10px;
    }
    .offlead p {
        @include font-serif(normal, 13px);
    }
    .ad div {
        margin:0 auto;
        width:234px;
    }
    .wrapper {
      background: transparent !important;
    }





    .shortlist-plug {
      padding-bottom: 30px;
      border-bottom: 1px solid #eee;
      margin: 18px 0 20px;
      font-size: 16px; // let's reset ourselves
      a {
        display: block; width: 100%; color: inherit;
        &:hover                       { text-decoration: none; }
        &:hover .brochure figcaption  { text-decoration: underline; }
      }
      mark        { color: inherit; background: none; }
      header      { height: auto; padding: 0; margin: 0; background: none; }
      .bound      { margin: 0 10px; }
      a > header {
        background: #b24401;
        overflow: hidden;
        width: 100%;
        text-transform: uppercase;
        text-align: right;
        box-shadow:
          inset 0 -1px 0 rgba(0,0,0,0.35),
          inset -10px 0 0 #832e01;
        .bound    { position: relative; }
        h1,h2     { line-height: 1; margin: 0; padding: 0; color: white; }
        h1 {
                    font-size: 0.8125em; position: absolute; top: 12px; left: 0;
          mark    { font-size: 0.84615384615385em; color: #f69e69; background: none; display: inline-block; margin-left: 3px; }
        }
        h2 {
          color: #a86d4e;
          background: image-url("listenlive-edition-icons.png") no-repeat right 8px;
          background-size: 12px 150px;
          background-color: #832e01;
          font-size: 0.6875em;
          display: inline-block;
          padding: 13px 19px 6px 11px;
          box-shadow: inset 0 -1px 0 rgba(0,0,0,0.35);
          &.am            { background-position: right 8px; }
          &.weekend       { background-position: right -42px; }
          &.pm            { background-position: right -92px; }
        }
      }
      .brochure {
        background: #e8e8e8;
        box-shadow: inset 0 3px 0 #b5b5b5;
        padding: 14px 0 28px;
        .photos           { margin-bottom: 11px; }
        .photo {
          float: left;
          width: 23.507462686567%;
          margin-right: 1.865671641791%;
          &:last-child    { float: right; margin-right: 0; }
        }
        .ratio {
            position: relative;
            .fill         { padding-top: 42%; }
            .img-contain {
                display: block;
                position: absolute;
                top:0;left:0;bottom:0;right:0;
                background: black;
                overflow: hidden;
                img       { width: 100%; height: auto; display: block; margin-top: -8%; }
            }
        }
        figcaption        { font: normal 700 1.375em/1.15 "proxima-nova-condensed", Helvetica, sans-serif; }
      }
      .contents {
        margin-top: -23px;
        font-family: "proxima-nova", Helvetica, sans-serif;
        header {
          box-shadow: none;
          text-transform: uppercase;
          font-weight: 700;
          color: #8f8f8f;
          font-size: 0.625em;
          line-height: 1;
          position: relative;
          min-height: 22px;
          box-sizing: border-box;
          padding: 7px 0 0 34px;
          margin-bottom: 10px;
          mark {
            font-family: "proxima-nova-condensed", Helvetica, sans-serif;
            color: #b24401;
            font-size: 1.7em;
            display: block;
            position: absolute;
            top: 0;
            left: -2px;
            padding: 4px 0 3px;
            background: #fafafa;
            text-align: center;
            width: 30px;
            box-sizing: border-box;
          }
        }
        ul,li {
          list-style: none;
          padding: 0;
          margin: 0;
        }
        li {
          font-size: 0.75em;
          color: #747474;
          line-height: 1;
          display: block;
          margin-bottom: 0.5em;
          background: image-url("listenlive-bullet-maroon.png") no-repeat 0 4px;
          background-size: 3px 3px;
          padding-left: 9px;
        }
      }

  //  ...........................................................................

      @media screen and (max-width: 450px) {

        & > header {
          h1 mark           { display: block; margin: 0; padding: 2px 0 0 0; }
          h2 {
            padding-top: 27px;
            &.am            { background-position: right 22px; }
            &.weekend       { background-position: right -28px; }
            &.pm            { background-position: right -78px; }
          }
        }
        .brochure {
          .photo {
            width: 48%;
            margin: 0 4% 11px 0;
            &:nth-child(2),
            &:last-child    { float: right; margin-right: 0; }
            &:nth-child(3)  { clear: both; }
          }
        }
        

      } // 450

  //  ...........................................................................

    } // .shortlist-plug





} // body.listen








.player .jp-audio {
    border-top:1px solid #e0e0e0;
    border-bottom:1px solid #fff;
    margin:0;
}
.player .jp-type-single {
    border-bottom:1px solid #e0e0e0;
}
.player .section-left, .player .section-mid {
    border-top:1px solid #fff;
    float:left;
}
.player .section-left {
    width:200px;
}
.player .section-mid {
    border-left:1px solid #fff;
    width:353px;
}
  .player.active {
    display: block; }
  .player .jp-gui {
    border-right: 1px solid #e0e0e0;
    min-height: 62px;
    padding-top:2px;
   }
  .player .jp-title {
    min-height: 62px;
    padding:5px 10px 10px;}
    .player .jp-title p {
      display: block;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
      margin: 0; }
      .player .jp-title p span {
        @include ie-inline-block;
        zoom: 1;
        *display: inline;
        margin-right: 9px;
        color: #b24401;
        font-size: 12px;
        text-transform: uppercase; }
      .player .jp-title p i {
        font-style: inherit; }
  .player .jp-controls {
    float: left;
    width: 75px;
    height: 45px;
    margin: 0;
    padding: 0 6px; }
    .player .jp-controls li {
      display: block;
      float: left;
      margin:0;
      padding: 0 10px;
      position: relative;
      list-style-type: none;
      padding: 0 6px; }
  .player .jp-play, .player .jp-pause, .player .jp-rw, .player .jp-ff, .player .jp-mute, .player .jp-unmute, .player .jp-volume-max {
    background-image: image-url('audio-controls.png');
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px; }
  .player .jp-rw, .player .jp-ff {
    width: 18px;
    height: 11px;
    margin-top: 25px;
    @include opacity(0.6);
 }
  .player .jp-rw:hover, .player .jp-ff:hover, .player .jp-mute:hover, .player .jp-unmute:hover, .player .jp-volume-max:hover {
    @include opacity(1); }
  .player .jp-rw {
    background-position: -97px -17px; }
  .player .jp-ff {
    background-position: -125px -17px; }
  .player .jp-play {
    background-position: 0 0; }
  .player .jp-play:hover {
    background-position: 0 -45px; }
  .player .jp-pause:hover {
    background-position: -49px -45px; }
  .player .volume-controls {
    @include clearfix();
    margin:3px 10px 0;
    li {
        @include ie-inline-block();
        float:left;
    }
}
  .player .jp-unmute {
    background-position: -174px -10px; }
  .player .jp-volume-bar {
        background-color:#e0e0e0;
        cursor:pointer;
        height:8px;
        margin:10px 5px;
        width:115px;
        @include border-radius(6px);
        @include box-shadow(inset 0 1px 0 rgba(0,0,0,.35));
    .jp-volume-bar-value {
        @include background-image(linear-gradient(rgba(0,0,0,.35), #03b9f2 5%, darken(#03b9f2, 8%)));
        background-color:#03b9f2;
        width:50%;
        height:8px;
        @include border-radius(6px);
        position:relative;
        &:after {
            @include gradient-vertical(#fff, #dfe1e3);
            @include box-shadow(0 1px 0 rgba(0,0,0,.15));
            border:1px solid #a1a5a5;
            content: "";
            display:block;
            width:15px;
            height:15px;
            border-radius:9px;
            position:absolute;
            right:-9px;
            top:-5px;
        }
    }
}
  .player .jp-play, .player .jp-pause {
    margin-top: 5px;
    width: 42px;
    height: 42px; }
  .player .jp-pause {
    background-position: -48px 0;
    width: 42px;
    height: 42px; }
  .player .jp-mute, .player .jp-unmute {
    background-position: -167px -10px;
    margin-top:2px;
    @include opacity(0.6);
    width: 25px;
    height: 25px; }
  .player .jp-volume-max {
    background-position: -147px -10px;
    margin-top:2px;
    @include opacity(0.6);
    width: 25px;
    height: 25px; }
  .player .jp-bar {
    width: 30%;
    float: left;
    margin-right: 7px; }
  .player .jp-progress .jp-current-time, .player .jp-progress .jp-duration {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    color: #888;
    width: 75px;
    float: left;
    margin-top: 15px; }
