// Global styles
@include gridFluid;

body {
    width: auto;
    height: auto;
    position: static;
    overflow: visible;
}

.viewport {
    width: 100%;
    height: auto;
}

// Vertical divider solution
.vert-divider {
    background-color:$grayLighter;;
    width:1px;
    position:absolute;
    height:100%;
    right:-2.70225%;
    top:0;
}
.relative {
    position:relative;
}

// Default container behavior
.container-fluid {
    @include clearfix;
    padding-left: $containerPadding;
    padding-right: $containerPadding;
    position: relative; // for modals
    margin-left: auto;
    margin-right: auto;
    max-width: $gridRowWidth;
    min-width: $mediaDesktopSmall; // This is so that the fluid grid is basically ignored if media queries aren't seen (IE 7)

    &#footer-container {
        position: static; // So we can pop out the footer into the side nav
    }
}

// #Main Body Content
#main {
    margin-top:1px;

    .homepage-top {
        border-bottom:1px solid $grayLighter;
        margin-bottom:$baseline;

        .missed-it-bucket {
            .carousel { min-height: 220px; }
            .row-fluid > hr {
                display: none;
                width: 100%;
                clear: both;
            }
            .missed-it-content {
                text-align: center;
                margin-bottom: 10px;
            }
        }

        .offleads {
            margin-bottom: 10px;

            &.split {
                .cbase.offlead {
                    border-top:none;
                }
            }
            // Override default .offlead to use border-top
            // because IE7/8 do not support :last-child selector
            .span8:first-child .cbase.offlead {
                border-top: none;
                padding-top: 0;
                margin-top: 0;
            }


            .cbase.offlead {
                padding-top: 5px;
                margin-top: 5px;
                border-top: 1px solid $grayLighter;

                // override
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    .homepage-bottom { margin:0; padding: 0;}

    .events-kpcc-in-person {
        @include assetAlign(left);
        border-left:1px solid $grayLighter;
        padding-left: 20px;
        h4 {
            @include font-headline;
            @include font-shorthand(600, 15px, $baseLineHeight);
            a { color: $nearBlack; }
            text-transform: none; // for elements with the cbase class
        }
    }
    .stacked {
        .cbase.lead {
            border-bottom:0;
        }
    }
    .homepage-lead {
        &.lead-right {
            // Make the first headline bigger in lead-right scheme
            .offleads .span8:first-child .offlead h3.story-headline { @include font-shorthand(bold, 28px, 26px); }
            .lead h1 { @include font-shorthand(600, 24px, 24px); }
        }
    }
}

// Trending Bar
.trending {
    border-bottom:1px solid $grayLighter;
    margin-bottom:$baseline;
    padding:4px;
    h6 {
        @include ie-inline-block();
        float:left;
        font-size:13px;
        font-weight:normal;
        line-height:$baseLineHeight * 1.5;
        margin-right:10px;
    }
    ul li {
        @include nav-horiz();
        a {
            color:$grayDark;
            @include font-sans-serif(normal, 12px, 18px);
        }
    }
}

// Broadcast Bar
.broadcast-bar {
    border-top:1px solid $grayBorder;
    border-bottom:1px solid $grayBorder;
    margin-bottom: 25px;

    &.with-headshot {
        margin-top: 15px; // So the host isn't wearing the nav as a tophat
        .program.current .program-info {
            margin-left: 100px;
            &.brand-martinez, &.take-two {
                margin-left:150px;
            }
        } // Push the show title link over since we have to absolutely-position the headshot
    }

    .bb-inner-container {
        background:$grayBackground;
        border-top:1px solid $white;
        border-bottom:1px solid $white;
        width: 100%;
    }

    a.headshot {
        position: absolute; // Since we have to push it up a bit to extend above the bar, and we don't want any extra space below
        bottom: 0;
        width: 90px;
        height: 70px;
        &:hover { text-decoration: none; }
        &.take-two {
            width:147px;
        }
    }

    .program-info {
        line-height: $baseLineHeight / 2;
        a.show-title {
            @include font-heading($weight: 600, $size: 22px);
            text-shadow:1px 1px 0px #fff;
            color:$orangeDark;
            margin-right: 5px; // Leave space for the show time
        }

        .show-time {
            @include font-sans-serif($weight:normal, $size:12px);
            color:$gray;
            letter-spacing:-0.15em;
            white-space: nowrap; // Don't want the time getting split up onto different lines
        }
    }

    .program {
        margin-top: 10px;
        background-position: 0 0;
        background-repeat: no-repeat;
        line-height: $baseLineHeight;
        min-height: 36px; // Broadcast bar height minus padding

        &.current {
            padding-left: 65px;// Room for the status badge
            float: left;
            background-image: image-url("broadcast-bar/onair.png");
            a.modal-toggler {
                background:image-url('broadcast-bar/episode-arrow-invitation.png') no-repeat right 10px;
                padding-right:15px;
                &:hover {
                    background-position:right -34px;
                }
            }
        }
        &.next {
            float: right;
            background-image: image-url("broadcast-bar/upnext.png");
            padding-left: 75px;
            text-align:right;
        }
    }

}

.episode-guide {
    @include font-sans-serif($weight:100, $size:14px);
    color:$grayAlt;
    img {
        float:left;
        width:58px;
        height:58px;
    }
    ul.cbase {
        li {
            display:block;
            list-style-image:image-url('mega-divider.png');
            margin-bottom:$baseline / 2;
            &.lead {
                list-style-image:none;
            }
            &.more {
                margin-bottom:0;
                a {
                    background:image-url('broadcast-bar/episode-more-icon.png') no-repeat right 1px;
                    font-size:11px;
                    padding-bottom:2px;
                    padding-right:17px;
                }
            }
            a.comment_link {
                margin-left:0;
            }
        }
        margin-left:80px;
        h4 {
            font-size:18px;
            font-weight:bold;
        }
        h5 {
            font-size:15px;
        }
        p {
            color:$nearBlack;
            font-size:13px;
            line-height:18px;
        }
        .headline {
            @include font-headline(600);
            a {
                color:$nearBlack;
                }
            a.comment_link {
                color:$linkColor;
            }
        }
    }
}

// Join Conversation
.join-conversation-container {
    margin:10px 0;

    &.home {
        border-top: 1px solid $grayLighter;
        border-bottom: 1px solid $grayLighter;
    }

    .join_conversation {
        background-color:$grayBackground;

        h6 {
            color:$black;
            padding:5px 0 0 10px;
        }
        blockquote {
            @include font-serif($size:16px, $lineHeight:25px);
            background:image-url("join-conversation-blockquote.png") no-repeat scroll 2% 50% transparent;
            border:0 none;
            font-style:italic;
            margin:5px 0 0 0;
            min-height:33px;
            padding:0 25px 0 55px;
        }
        p.quotee {
            @include font-sans-serif($size:12px);
            color:$grayLight;
            padding:5px 25px 10px 55px;
            margin: 0;
            a {
                color:$gray;
            }
        }
    }
}

// More Headlines
.headlines {
    ul {
        list-style-image:image-url("more-headlines-li.png");
        li {
            margin:5px 0 0 -10px;
            a {
                @include font-headline($weight:400);
                color:$grayAlt;
                font-size:15px;
            }
        }
    }
}

p.more a {
    color:$grayAlt;
    @include font-sans-serif(bold, 11px);
    padding:0;
    margin: 0;
    text-transform:uppercase;
    &:hover { text-decoration:underline; }
}

// Cbase H3 - Applies styling to first headline - activated by jQuery
.first-headline {
    font-size:30px;
    line-height:30px;
}

// More News
h6.more-news-title {
    background:image-url("section-headline-background.png") repeat-x 0 0;
    @include font-shorthand($weight: bold, $size: 18px, $lineHeight: 35px);
    color:$grayAlt;
    padding-left:8px;
    text-transform:none;
    margin-bottom: 10px;
}

.more-link {
    @include font-sans-serif($size:12px);
    float:right;
    padding: 7px 8px 0 0;
}

.more-news-container {
    .more-news {
        padding-bottom: $baseLineHeight / 2;
        .more-news-content {
            padding-right:5px;
            border-right:1px solid $grayLighter;
            .offlead { /* cbase offlead reset */
                border-bottom: none;
                margin-bottom: 0;
            }
            p.story-title {
                @include font-headline($weight:700);
                font-size:16px;
                margin:0;
                a {
                    color:$grayAlt;
                }
            }
            p.story-content {
                @include font-shorthand($size: 13px, $lineHeight: 18px);
                padding:10px 0 0 0;
            }
            ul {
                margin: 0 0 0 14px; /* Keep the bullets inside the box but wrap properly */
                list-style: none image-url("more-headlines-li.png");
                li {
                    margin:5px 0 0 0;
                    a {
                        @include font-headline($weight:400);
                        color:$grayAlt;
                        font-size:15px;
                    }
                }
            }
        }
        div.related-content {
            h6 {
                @include font-shorthand(bold, 13px, $baseLineHeight);
                padding:5px 0;
            }
            img.segment {
                padding:10px 0 0 0;
            }
            span.caption {
                @include font-headline($weight:400);
                color:$grayAlt;
                display:block;
                font-size:15px;
                a {
                    color:$grayAlt;
                }
            }
            blockquote {
                @include font-headline($weight: 400);
                @include font-shorthand($size: 16px, $lineHeight: 23px);
                border:0 none;
                font-style:italic;
                margin:10px 0 5px 0;
                padding:0;
                word-wrap: break-word; // Big text, small area, best to force-break a word if necessary
            }
            .comments-quotee {
                @include font-sans-serif($size: 12px);
                background:image-url("more-news-quotee-icon.png") no-repeat left top;
                color:$grayLight;
                height:35px;
                padding:20px 0 0 60px;
            }
        }
    }
}




// Filters bar (please move this to a more appropriate file)
nav.filters {
    background: #f5f5f5;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    margin: 10px 0;
    padding: 10px;
    @include font-heading($size: 12px, $weight: 600);
    text-transform: uppercase;
    ul { margin:0; }
    li {
        float:left;
        list-style-type:none;
        margin-right:3%;

        // Won't be seen in IE7, that's okay
        &:last-child { margin: 0; }

        &.heading {
            color:#575757;
            margin-right:20px;
            text-transform:none;
        }
        &.active a {
            background-color: $gray;
            color: $nearWhite;
            text-shadow: 0 1px #000;
            text-decoration: none;
        }
        a {
            @include border-radius(3px);
            color: #2e2e2e;
            font-weight:600;
            padding: 3px 5px;
            &:hover, &.active {
                background-color: $gray;
                color: $nearWhite;
                text-shadow: 0 1px #000;
                text-decoration: none;
            }
            &:hover {
                background-color: #9c9c9c;
            }
        }
    }
}

// Error
#error {
    form {
        margin: 10px 0;

        input { @include ie-inline-block; }
        input[type=text] {
            max-width:450px;
            width:100%;
            font-size:15px;
            padding:5px;
        }
    }
}

// Archive page

.program-group {
    margin-bottom: 15px;
    .show-title {
        color: $gray;
    }
}

.jump-nav {
    @include font-sans-serif($size: 12px);
    margin: 10px 0 5px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid $grayLighter;

    ul {
        margin: 0;
        li {
            @include ie-inline-block;
            padding: 0 10px;
            margin: 0;
            border-right: 1px solid $grayLight;
            &:last-child, &:first-child {
                border-right: none;
            }
        }
    }
}





/*
############################################################
############################################################
------------------------------------------------------------
THE SHORT LIST: HOMEPAGE MODULE
------------------------------------------------------------
First version by JPW on 10-14-2014.
------------------------------------------------------------
############################################################
############################################################ */

.shortlist-preview {
  a               { color: inherit; text-decoration: none; }
  line-height: 1;
  margin: 10px 0 30px;
  font-size: 16px; // reset ourselves; this will act as our "100%" baseline from here-on-down
  .titling,
  .brochure,
  .enlistment {
    width: 100%;
    padding-left: 2.063273727648%;
    margin-left: -2.063273727648%;
  }

  .titling {
    background: #b24401;
    position: relative;
    text-transform: uppercase;
    font-family: "proxima-nova", Helvetica, sans-serif;
    box-shadow: inset 0 -1px 0 #982f00;
    font-weight: 700;
    display: block;
    overflow: hidden;
    h1 {
      position: absolute;
      display: block;
      left: 2.063273727648%;
      top: 12px;
      margin: 0;
      line-height: 1;
      text-align: left;
      color: white;
      font-size: 0.8125em;
      mark          { background: none; padding-left: 4px; color: #f69e69; font-size: 0.84615384615385em; }
      a             { display: block; }
      a:hover mark  { color: #ffd5bb; }
    }
    h2,button {
      display: block;
      float: right;
      box-sizing: border-box;
      background: salmon;
      height: 30px;
      margin: 0;
      font: normal 700 0.6875em/1 "proxima-nova", Helvetica, sans-serif;
    }
    h2 a {
      display: block;
      height: 100%;
      width: 100%;
      background: image-url("shortlist-tease-edition-icons.png") no-repeat 12px 8px;
      background-size: 12px 150px;
      background-color: #66170c;
      padding: 13px 13px 0 30px;
      color: #c5530d;
      &:hover       { color: #f7a16c; }
    }
    h2.am-edition a         { background-position: 12px 8px; }
    h2.weekend-reads a      { background-position: 12px -42px; }
    h2.pm-edition a         { background-position: 12px -92px; }
    button {
      outline: none;
      border: none;
      background: image-url("shortlist-tease-envelope.png") no-repeat 14px 14px;
      background-size: 10px 75px;
      background-color: #004470;
      color: #68c2f9;
      text-transform: uppercase;
      position: relative;
      width: 102px;
      cursor: pointer;
      span {                      // I am an incandescent ball of pure rage directed at the apparently-not-at-all supported 'box-align' css spec
        display: block;
        position: absolute;
        top: 13px;
        left: 29px;
      }
      &:hover span    { color: #b8e4ff; }
      &.active {
        color: white;
        background-image:none;
        background-color: #0073be;
        span {
          margin-top:5px;
          position:relative;
          text-align:center;
          top:auto;
          left:auto;
        }
        &:hover span  { color: white; }
      }
    }
  }

  .brochure {
    background: #e8e8e8;
    box-shadow:
      inset 0 3px 0 #b5b5b5,
      inset 0 -1px 0 #cdcdcd,
      inset 0 -3px 0 white;
    padding-top: 14px;
    padding-bottom: 20px;
    a                 { display: block; }
    figure            { margin-right: 2.063273727648%; }
    .photos           { margin-bottom: 12px; }
    .photo {
      float: left;
      width: 23.507462686567%;
      margin-right: 1.865671641791%;
      &:last-child    { float: right; margin-right: 0; }
    }
    .ratio {
        position: relative;
        .fill         { padding-top: 42%; }
        .img-contain {
            display: block;
            position: absolute;
            top:0;left:0;bottom:0;right:0;
            background: black;
            overflow: hidden;
            img       { width: 100%; height: auto; display: block; margin-top: -8%; }
        }
    }
    figcaption {
      line-height: 1;
      span {
        font: normal 700 1.5625em/1.0 "proxima-nova-condensed", Helvetica, sans-serif;
        padding-right: 5px;
      }
      mark {
        background: image-url("triangle-rightward-maroon.png") no-repeat right 2px;
        background-size: 4px 5px;
        background-color: none;
        padding-right: 8px;
        color: #b24401;
        text-transform: uppercase;
        font: normal 700 0.625em/1 "proxima-nova", Helvetica, sans-serif;
        white-space: nowrap;
        display: inline-block;
      }
    }
    a:hover figcaption span { text-decoration: underline; }
  }

  .enlistment {
    display: none;
    background: #004470;
    box-shadow:
      inset 0 3px 0 #002b50,
      inset 0 -1px 0 #cdcdcd,
      inset 0 -3px 0 white;
    padding-top: 25px;
    padding-bottom: 20px;
    .bound      { margin-right: 2.063273727648%; }
    header {
      font: normal 700 1.5625em/1 "proxima-nova-condensed", Helvetica, sans-serif;
      border-bottom: 1px solid #226591;
      color: white;
      padding-bottom: 16px;
      margin-bottom: 13px;
    }
    p {
      color: #6fb2de;
      font: normal 0.875em/1.2 "proxima-nova", Helvetica, sans-serif;
      float: left;
      width: 44.943820224719%;
    }
    form {
      float: right;
      width: 47.050561797753%;
      input[type="text"] {
        width: 100%;
        display: block;
        box-sizing: border-box;
        margin-bottom: 9px;
        color: #004470;
        background: white;
        font: italic 400 0.875em/1.1 "proxima-nova", Helvetica, sans-serif;
        border: none;
        height: 31px;
        padding: 7px 8px 5px 8px;
      }
      input[type="submit"] {
        display: block;
        border: none;
        box-sizing: border-box;
        float: right;
        text-transform: uppercase;
        border-radius: 0;
        padding: 8px 20px 6px 10px;
        color: #0073be;
        font: normal 700 0.8125em/1 "proxima-nova", Helvetica, sans-serif;
        background: image-url("caret-rightward-blue.png") no-repeat right 9px;
        background-size: 14px 8px;
        background-color: white;
      }
    }
  }// .enlistment


//  ...........................................................................

    @media screen and (max-width: 480px) {

      .titling {
        box-shadow: inset 0 -30px 0 #66170c;
        h1 {
          position: static;
          padding-top: 15px;
          padding-bottom: 8px;
        }
        h2 {
          float: left;
          a                       { padding-left: 18px; }
          &.am-edition a          { background-position: left 8px; }
          &.weekend-reads a       { background-position: left -42px; }
          &.pm-edition a          { background-position: left -92px; }
        }
        button            { border-left: 1px solid #0d659e; }
      }
      .brochure {
        .photo {
          width: 48%;
          margin-right: 4%;
          &:nth-child(1),
          &:nth-child(2)  { margin-bottom: 12px; }
          &:nth-child(3)  { clear: both; }
          &:nth-child(2),
          &:last-child    { float: right; margin-right: 0; }
        }
      }
      .enlistment {
        p,form            { width: 100%; float: none; }
      }

    }// 490

//  ...........................................................................

}// .shortlist-preview



