<li>
  <%= link_to article.short_title.to_s, article.public_url, "data-ga-category" => '@currentCategory', "data-ga-action" => "Article", "data-ga-label" => '@scrollDepth', class: "track-event" %> <span class="pipe">|</span> <%= time_tag article.public_datetime, format_date(article.public_datetime, format: :full_date) %>
</li>
