<div data-vr-contentbox="">
  <%= render_asset article, display: "small" %>

  <span class="caption"><%= link_to article.short_title, article.public_url, "data-ga-category" => '@currentCategory', "data-ga-action" => "Article", "data-ga-label" => '@scrollDepth', class: "track-event" %></span>

  <%= render 'shared/feature_trait', article: article %>
</div>
