<div class="cbase thumbnail">
  <h3 class="story-headline"><%= link_to article.short_title, article.public_url, "data-ga-category" => '@currentCategory', "data-ga-action" => "Article", "data-ga-label" => '@scrollDepth', class: "track-event" %></h3>
  <%= render 'shared/feature_trait', article: article %>
  <%= comment_count_for article.original_object %>
</div>
