<div class="o-archive-widget archive widget" style="order: 997">
  <h6 class="b-heading b-heading--h6 b-heading--uppercase b-heading--medium u-text-color--gray">Browse our news archive</h6>
  <div class="archive-select" id="archive">
    <p>
      <%= form_tag archive_process_form_path, id: "archive_date_select", class: "archive-date-select" do %>
        <%= date_select 'archive', 'date',
          order: [:month, :day, :year],
          start_year: 2002,
          end_year: Time.zone.now.year,
          default: Time.zone.now.yesterday %>
        <%= submit_tag "Go", class: "btn" %>
      <% end %>
    </p>
  </div>
</div>
