<div class="appeal-newsletter short-list ancillary" id="appeal-newsletter">
    <div class="appeal-background">
        <div class="appeal-content">
            <h3 class="bound appeal-heading">You're an essential part of the conversation — and we can't do it without you.</h3>
            <p class="bound">Support KPCC for another year of honest reporting and <span style="display: inline-block;">civil discourse.</span></p>
            <p class="bound">
                <a class="appeal-link track-event" href=" https://scprcontribute.publicradio.org/contribute.php?refId=instoryask&askAmount=20" data-ga-category="Article" data-ga-action="Subscribe" data-ga-label="Donate CTA">Give now</a>
            </p>
        </div>
    </div>
</div>
