<div class="appeal-newsletter donate-cta ancillary" id="appeal-donate-cta">
    <div class="appeal-background">
        <div class="appeal-content">
            <h3 class="bound appeal-heading appeal-heading-adaptive"><span style="display: inline-block;">You care about today's news.</span><span style="display: inline-block;">And you're not alone.</span></h3>
            <p class="bound">Join others who support independent journalism.</p>
            <p class="bound">
                <a class="appeal-link track-event" href=" https://scprcontribute.publicradio.org/contribute.php?refId=instoryask&askAmount=20" data-ga-category="Article" data-ga-action="Subscribe" data-ga-label="Donate CTA">Give to KPCC</a>
            </p>
        </div>
    </div>
</div>
