<div class="appeal-newsletter short-list ancillary" id="appeal-newsletter">
    <div class="appeal-background">
        <div class="appeal-content">
            <h3 class="bound appeal-heading">You care about today's news.  And you're not alone.</h3>
            <p class="bound">Join others who support independent journalism.</p>
            <p class="bound">
                <a class="appeal-link track-event" href=" https://scprcontribute.publicradio.org/contribute.php?refId=instoryask&askAmount=20" data-ga-category="Article" data-ga-action="Subscribe" data-ga-label="Donate CTA">Give to KPCC</a>
            </p>
        </div>
    </div>
</div>
