<div class="widget newsletter">
  <h6>Get KPCC in Your Inbox</h6>
  <form method="post" name="untitledForm-1359591262588" action="https://s1715082578.t.eloqua.com/e/f2" id="form148">
    <input value="untitledForm-1359591262588" type="hidden" name="elqFormName"  />
    <input value="1715082578" type="hidden" name="elqSiteId"  />
    <input name="elqCampaignId" type="hidden">

    <p>Breaking news alerts sent to your inbox</p>
    <input id="field0" name="emailAddress" type="text" class="required email" placeholder="Email address">
    <div style="display:none;"><input name="SCPRBreakingAlerts" type="checkbox" value="on" checked="checked"  /></div>
    <input type="submit" value="Subscribe" name="subscribe" class="btn"><br />

    <input type="hidden" name="elqCustomerGUID" value="">
    <input type="hidden" name="elqCookieWrite" value="0">
  </form>
  <p><a href="/newsletters/" class="action-link">More Newsletters &raquo;</a></p>
</div>
