<div class="widget newsletter">
  <h6>Get KPCC in Your Inbox</h6>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#newsletter_tab1" data-toggle="tab">Breaking News</a></li>
    <li><span class="or">or</span></li>
    <li><a href="#newsletter_tab2" data-toggle="tab">Short List</a></li>
  </ul>
  <div class="tab-content">
    <!-- Breaking News -->
    <div class="tab-pane active" id="newsletter_tab1">
      <form method="post" name="untitledForm-1359591262588" action="https://s1715082578.t.eloqua.com/e/f2" id="form148">
        <input value="untitledForm-1359591262588" type="hidden" name="elqFormName"  />
        <input value="1715082578" type="hidden" name="elqSiteId"  />
        <input name="elqCampaignId" type="hidden">

        <p>Breaking news alerts sent to your inbox</p>
        <input id="field0" name="emailAddress" type="text" class="required email" placeholder="Email address">
        <div style="display:none;"><input name="SCPRBreakingAlerts" type="checkbox" value="on" checked="checked"  /></div>
        <input type="submit" value="Subscribe" name="subscribe" class="btn"><br />

        <input type="hidden" name="elqCustomerGUID" value="">
        <input type="hidden" name="elqCookieWrite" value="0">
      </form>
    </div>

    <!-- Short List -->
    <div class="tab-pane" id="newsletter_tab2">
      <form method="post" name="shortlist-subscribe" action="https://s1715082578.t.eloqua.com/e/f2" id="form352">
        <input value="shortlist-subscribe" type="hidden" name="elqFormName"  />
        <input value="1715082578" type="hidden" name="elqSiteId"  />
        <input name="elqCampaignId" type="hidden">

        <p>Morning newsletter to start the day informed</p>
        <input id="field0" name="emailAddress" type="text" class="required email" placeholder="Email address">

        <div style="display:none;">
          <input name="SCPRShortList" type="checkbox" value="on" checked="checked"  />
        </div>

        <input type="submit" value="Subscribe" name="subscribe" class="btn"><br />

        <input type="hidden" name="elqCustomerGUID" value="">
        <input type="hidden" name="elqCookieWrite" value="0">
      </form>
    </div>
  </div>

  <p><a href="/newsletters/" class="action-link">More Newsletters &raquo;</a></p>
</div>
