<section class="o-in-person-source-appeal" style="order: <%= @options[:order] %>">
  <div class="o-in-person-source-appeal__info">
      <h3><a href="/network/questions/yourstory">Unheard LA</a></h3>
      <h1><a href="/network/questions/yourstory">Everybody has a story. What's yours?</a></h1>
      <p>
        KPCC In Person's community-driven storytelling series Unheard LA puts community voices and stories center stage. And we’d like to invite you to share a story about you or your community – whatever that means to you – in whatever form works best for you.
      </p>
      <a class="o-in-person-source-appeal__network" href="/network">Click here for other ways to become a source for KPCC.</a>
  </div>
  <a class="o-in-person-source-appeal__figure" href="/network/questions/yourstory"><%= image_tag("kpcc_in_person/unheard-la.jpg") %></a>
</section>
