<aside class="grant">
    <div class="inner bound">
        <h1>KPCC's education coverage is funded in part by:</h1>
        <ul>
            <li class="cpb">The Corporation for Public Broadcasting</li>
            <li>Rosenthal Family Foundation</li>
            <li>The Atlas Family Foundation</li>
            <li>The Carl and Roberta Deutsch Foundation</li>
            <li>Baby Futures Fund of the California Community Foundation</li>
            <li>Tikun Olam Foundation</li>
        </ul>
    </div>
</aside>
