<aside class="grant">
    <div class="inner bound">
        <h1>KPCC's education coverage is funded in part by:</h1>
        <ul>
            <li class="cpb">The Corporation for Public Broadcasting</li>
            <li>Rosenthal Family Foundation</li>
            <li>Atlas Family Foundation</li>
            <li>Carl and Roberta Deutsch Foundation</li>
            <li>Baby Futures Fund</li>
            <li>Tikun Olam Foundation</li>
            <li>S.L. Gimbel Foundation</li>
            <li>Kenneth T. and Eileen L. Norris Foundation</li>
            <li>Jennifer and Shawn McCreight</li>
        </ul>
    </div>
</aside>
