<aside class="grant">
    <div class="inner bound">
        <h1>KPCC's <span>Represent!</span> is funded in part by:</h1>
        <ul>
            <li class="irvine">The James Irvine Foundation</li>
            <li>The John Randolph Haynes and Dora Haynes Foundation</li>
            <li>Jihee and Peter Huh</li>
        </ul>
    </div>
</aside>
