@import 'scpr-style-guide/src/css/main.scss'
@import 'hidden-gem'

.c-ad
  text-align:center
  overflow: hidden
  padding: 0
  img, object, embed, .dfp, iframe
    max-width: 100% !important
    min-height: 0
  
.o-mast
  // For some reason, the masthead creates a
  // margin on sizes smaller than large,
  // so we override that because it doesn't really
  // work for us here.
  @media (max-width: $media-wide)
    margin-bottom: 0

.o-header
  padding-top: $gutter / 2
  padding-bottom: $gutter
  text-align: center
  &__logo
    display: inline-block
    height: 22px
    width: 150px

.o-broadcast
  > .c-tile
    border-style: solid
    border-width: 1px
    border-color: $color-gray-light
    margin-bottom: 1rem
    padding: 7px
    .c-tile--circular
      overflow: hidden
      border-width: 2px
      border-color: $color-gray-lightest
      // padding: 4px
      border-style: solid
      > .c-image
        overflow: hidden
        position:  relative
        img
          opacity: 0.3
        #listen-live-play
          position: absolute
          transform: translateY(-50%) translateX(-50%)
          top: 50%
          left: 50%
          overflow: visible
          $breathe-scale: 1.075
          #outer-ring
            transition: all .5s cubic-bezier(.3,0,.1,1)
            transform: scale(1,1)
            transform-origin: center
          &:hover
            #outer-ring
              transform: scale($breathe-scale, $breathe-scale)

  > .link
    font-size: 1rem

  .c-schedule
    margin-bottom: 13px

  .c-image--circular
    // border-radius: 50%
    overflow: hidden
    border-width: 1px
    border-style: solid


aside.right
  #dfp-slot_a
    margin-bottom: 3.125rem

.call-to-action
  @extend .o-media__meta

section#content
  .story
    .media__figure
      .media__img
        min-height: 100%

section.c-gem
  // This is a fix for elements that come after
  // our main content, because of the "interesting"
  // method we have taken to meshing the 
  // asides with our stories.
  float: right
  // width: 100%

footer.o-footer
  // This is a fix for elements that come after
  // our main content, because of the "interesting"
  // method we have taken to meshing the 
  // asides with our stories.
  float: right
  width: 100%

.o-media
  .related-content
    float: left
    width: 100%








// SMALL SCREENS
@media all and (max-width: $media-tablet)

  .l-row
    margin: 0

  .hp-content
    overflow-x: hidden

  .o-header
    display: none

  article.hp-story, aside.right, aside.left
    &.l-col--sm-12
      width: 100%
    > *
      padding-left: $gutter
      padding-right: $gutter

  article.hp-story
    margin-bottom: 2.25rem / 2
    padding-bottom: 2.25rem
    &.none
      // presentation specifically for
      // stories that have no asset
      padding-top: 2.25rem
      margin-top: -2.25rem
      border-top: 2px solid $color-gray-light
    .story
      border: none 
      padding: 0
      > .o-media__figure
        left: -0.005rem // unclear why there's space on the left so I have to negate it.
        // padding: 0
        // margin-left: -$gutter
      > *
        padding-left: $gutter
        padding-right: $gutter
      a.call-to-action
        margin-top: $gutter

  aside.right
    background-color: $color-gray-lightest
    padding-top: 1.875rem
    padding-bottom: 1.875rem
    margin-bottom: 3.75rem

    &:empty
      display: none

    &.ad
      background-color: initial

    #dfp-slot_a
      // margin-top: 3.125rem
      iframe
        margin: 0 auto
        display: inherit

    .c-list:last-child
      margin-bottom: 0

  .o-broadcast
    display: none


  .l-hp--bottom
    width: 100%
    order: 2000 // we are never going to have that many main items
    // so this quarantees that it stays at the bottom of the document














// LARGE SCREENS
@media all and (min-width: $media-tablet)

  nav.o-mast__nav
    // force navbar menu links to appear on the left
    // and the action items on the right
    margin-left: 0
    width: 100%
    .c-nav
      &.o-mast__nav-actions
        float: right

  .o-mast
    &__currently-airing
      display: none
    &__logo
      display: none

  .hp-content
    height: 100%
    position: absolute

    &.l-container
      margin-left: $gutter
      margin-right: $gutter


    $vertical-rail-height: 312.5rem // this number is arbitrary
    $left-rail-width: ($col * 3) + ($gutter / 2)

    .l-vertical-rail
      float: left
      height: $vertical-rail-height
      margin-left: $left-rail-width

    aside.left
      position: absolute
      // max-width: 15.08296%

    .center
      float: left
      margin-left: $left-rail-width
      transform: translateY(-$vertical-rail-height)

    .hp-story
      border-bottom: 2px solid $color-gray-light
      margin-bottom: 3.75rem
      .story:first-child
        margin-top: 0
      .o-media__meta
        > *
          margin-bottom: 1rem

    aside.right
      float: right
      overflow-x: hidden
      margin-bottom: 3.75rem


    .l-hp--bottom
      @extend .center
      margin-left: -$gutter
      // add width equal to the two side gutters plus the size of the sidebar
      width: (100% + ($gutter * 2)) + ($gutter / 3)

      .c-gem
        width: 100% + $gutter + $gutter