@import 'scpr-style-guide/src/css/main.scss'
.boundary
  height: 1px
  // background-color: red
  position: absolute
  // width: 100%
  z-index: 100
section#content
  .icon--color-link
    color: #01AED5

  @media (min-width: $media-tablet) and (max-width: $media-wide)
    margin-top: 10em

  .media.story
    .media__figure--widescreen, .media--hp-large
      z-index: 3
    .media__headline.headline
      position: relative
    &.media--visited-and-read // adds a checkmark for now until this is officialized
      .media__headline.headline
        position: relative
        &::before
          opacity: 1
    // fade animation
    &.media--new-and-unread
      .media__headline.headline:before
        transition: all .5s linear
      &.media--seen-and-unread // also unofficial
        .media__headline.headline::before
          transition: all 0.8s linear
          opacity: 0

    .media__content
      ul
        @extend .c-list--bullet // workaround until this can happen with ckeditor
      .media__label__sm
        text-transform: uppercase
        color: #01AED5
        font-size: 0.9rem
        font-weight: 500
      .related-content
        .media__headline::before
          display: none // this is to override the fact that any media__headlines nested under
          // media--new-and-unread gets the 'new' status indicator
    .media__headline--top
      color: #017397
    .media__indicator-visited
      display: none

    .media__meta
      .media__label
        &.hidden
          display: none

  #whats-next
    $fadeTime: 0.4s
    $zIndex: 2
    $top: 25%
    @mixin fadeOut
      transition-property: opacity, z-index
      transition-duration: $fadeTime, 0s
      transition-delay: 0s, $fadeTime
      transition-timing-function:linear
    @mixin fadeIn
      transition-property: z-index, opacity
      transition-duration: 0s, $fadeTime
      transition-delay: 0s, 0s
      transition-timing-function:linear
    z-index: -1
    opacity: 0
    position: fixed
    width: 11.35em
    padding: 34px
    top: $top
    margin-left: -0.4em
    &.frozen
      position: absolute
      margin-left: auto
    &:not(.frozen)
      &.rollup
        @-webkit-keyframes rollup
          0%
            top: 100%
          100%
            top: $top
          // 100%
          //   top: auto
        -webkit-animation-name: rollup
        -webkit-animation-duration: 0.5s
        -webkit-animation-timing-function: ease
        -webkit-animation-iteration-count: 1
        -webkit-animation-direction: normal
        -webkit-animation-delay: 0
        -webkit-animation-play-state: running
        -webkit-animation-fill-mode: forwards
      &.rolldown
        @-webkit-keyframes rolldown
          0%
            top: -50%
          100%
            top: $top
          // 100%
          //   top: auto
        -webkit-animation-name: rolldown
        -webkit-animation-duration: 0.5s
        -webkit-animation-timing-function: ease
        -webkit-animation-iteration-count: 1
        -webkit-animation-direction: normal
        -webkit-animation-delay: 0
        -webkit-animation-play-state: running
        -webkit-animation-fill-mode: forwards

    ul
      font-size: 14px
      li
        max-height: 100px
        &::before
          background-color: #f97e21
        &.read
          $fadeTime: 0.4s
          transition-property: opacity, max-height, margin-bottom
          transition-duration: $fadeTime, $fadeTime, $fadeTime
          transition-delay: 0s, $fadeTime, $fadeTime
          transition-timing-function:linear
          opacity: 0
          max-height: 0
          margin-bottom: 0em
    .title
      color: #898989
      text-align: center
      font-weight: 700
      border-style: solid
      border-width: 0 0 2px 0
      border-color: #74b1c4
      padding-bottom: 15px
      margin-bottom: 15px
    @media (max-width: $media-tablet)
      display: none
    &.hidden
      @include fadeOut
      opacity: 0
      z-index: -1
    &.visible
      @include fadeIn
      opacity: 1
      z-index: $zIndex
      &.unfrozen
        transition-property: top
        transition-duration: $fadeTime
        transition-delay: 0s
        transition-timing-function: linear
        top: $top
    &.invisible //just get it off the screen asap
      z-index: -1
      opacity: 0

#check-it-out
  $padding: 10px
  padding-top: $padding
  padding-bottom: $padding
  overflow: hidden
  ul
    li
      h5
        margin: 0
  @media (max-width: $media-wide)
    position: absolute
    width: 100%
    top: 5.91rem
  @media (max-width: $media-tablet)
    position: inherit
    width: 100%
    top: none

#feedback
  #feedback-slim
    text-align: center
    background-color: white
    padding-top: 10px
    .description
      padding-bottom: 10px
      p
        font-size: 14px
    border-width: 2px
    border-color: #99d8ea
    border-bottom-style: solid
    @media (min-width: 1310px)
      display: none
    .buttons
      padding-bottom: 10px
    @media (max-width: $media-wide)
      position: absolute
      width: 100%
      top: 8.66rem
    @media (max-width: $media-tablet)
      position: inherit
      width: 100%
      top: none


  #feedback-block
    $position: 50%
    height: 150px
    border-color: #99d8ea
    border-style: solid
    border-width: 1px
    border-left-style: none
    border-right-style: none
    padding: 20px
    padding-left: 0px
    padding-right: 0px
    text-align: center
    background-color: white
    transition: all .4s linear
    opacity: 1
    z-index: 2
    &.hidden
      opacity: 0
      z-index: -1
    @media (min-width: 1406px)
      position: fixed
      right: 0
      top: $position
      width: 250px
    @media (max-width: 1405px)
      position: fixed
      right: 0
      top: $position
      width: 210px
    @media (max-width: 1310px)
      display: none

    .description
      padding-bottom: 18px
      p
        font-size: 14px
    .beta-opt-out
      color: #7c7c7c
      font-size: 12px
      text-decoration: underline
    .link
      padding-top: 30px
