<% contents = content %>
<% contents.each_with_index do |content, index| %>

  <% source = content.content.try(:source) 
    tag = if source != "KPCC" or source != 'kpcc'
              source
           elsif content.tags__title?
              content.tags__title
           elsif content.program?
              content.program
           elsif content.category__title?
              content.category__title
           end
  %>
  <div class="hp-story l-col l-col--sm-12 l-col--med-7">
    <%= media_object content.asset_scheme, content: content, index: index, contents: contents %>
  </div>
  <aside class="right-aside l-col l-col--sm-12 l-col--med-3">
    <% if index == 1 %>
      <div class="c-ad">
        <div class="c-ad__container c-ad__container">
          <div class="c-ad__banner">
            <%= render "shared/ads/dfp", ad_key: "slot_b" %>
          </div>
          <a class="c-ad__attribution" href="http://www.scpr.org/support/underwriting/">Become a KPCC Sponsor</a>
        </div>
      </div>
    <% elsif index == 7 %>
      <div class="c-ad">
        <div class="c-ad__container c-ad__container">
          <div class="c-ad__banner">
            <%= render "shared/ads/dfp", ad_key: "slot_c" %>
          </div>
          <a class="c-ad__attribution" href="http://www.scpr.org/support/underwriting/">Become a KPCC Sponsor</a>
        </div>
      </div>
    <% end %>
  </aside>
<% end %>
