<% object.each_with_index do |content, index| %>

  <% tag = if content.source != "KPCC"
              content.source
           elsif content.tags__title?
              content.tags__title
           elsif content.program?
              content.program
           elsif content.category__title?
              content.category__title
           end
  %>

  <% if index == 1 %>
    <aside id='ad-position-b' class="c-ad c-ad--hp">
      <div class="c-ad__container c-ad__container--hp">
        <div class="c-ad__banner c-ad__banner--align-left">
          <%= render "shared/ads/dfp", ad_key: "slot_b" %>
        </div>
        <a class="c-ad__attribution" href="http://www.scpr.org/support/underwriting/">Become a KPCC Sponsor</a>
      </div>
    </aside>
  <% elsif index == 2 %>
    <div id='whats-next-initial' class='boundary' data-scroll-up='freeze' data-scroll-down='unfreeze' data-offset='-400'></div>
  <% elsif index == 7 %>
    <aside id='ad-position-c' class="c-ad c-ad--hp">
      <div class="c-ad__container c-ad__container--hp">
        <div class="c-ad__banner c-ad__banner--align-left">
          <%= render "shared/ads/dfp", ad_key: "slot_c" %>
        </div>
        <a class="c-ad__attribution" href="http://www.scpr.org/support/underwriting/">Become a KPCC Sponsor</a>
      </div>
    </aside>
  <% end %>

  <%= render partial: "better_homepage/media/#{content.asset_scheme}", locals: {content: content, index: index} %>

<% end %>
<div class='boundary' data-scroll-up='unfreeze' data-scroll-down='freeze'></div>