<div id='feedback'>
  <div id='feedback-block'>
    <div class='description'>
      <p>
        You're seeing a beta preview of 
      </p>
      <p>
        the new KPCC homepage.  
      </p>
    </div>
    <a href="http://goo.gl/forms/E5M68xW4mrHmJU4g1" class="c-btn c-btn--outline-secondary">Tell Us What You Think</a>
    <p class='link'>
      <a class='beta-opt-out' href='#'>Or, go back to the old homepage.</a>
    </p>
  </div>

  <div id="feedback-slim">
    <div class='description'>
      <p>
        You're seeing a beta preview of the new KPCC homepage.  
      </p>
    </div>
    <div class='buttons'>
      <a href="http://goo.gl/forms/E5M68xW4mrHmJU4g1" class="c-btn c-btn--outline-secondary c-btn--small">Tell Us What You Think</a>
      <a class='beta-opt-out c-btn c-btn--outline-secondary c-btn--small' href='#'>Go To The Old Homepage</a>
    </div>
  </div>

</div>