<div id='feedback'>
  <div id='feedback-block'>
    <div class='description'>
      <p>
        You're seeing a beta preview of 
      </p>
      <p>
        the new KPCC homepage.  
      </p>
    </div>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScxvZ6mfw39MkNij8qsTsda_01TIRVHRapHlD_KXhJl3zpPBQ/viewform" class="c-btn c-btn--outline-secondary">Tell Us What You Think</a>
  </div>

  <div id="feedback-slim">
    <div class='description'>
      <p>
        You're seeing a beta preview of the new KPCC homepage.  
      </p>
    </div>
    <div class='buttons'>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScxvZ6mfw39MkNij8qsTsda_01TIRVHRapHlD_KXhJl3zpPBQ/viewform" class="c-btn c-btn--outline-secondary c-btn--small">Tell Us What You Think</a>
    </div>
  </div>

</div>