<% if tag %>
  <h6 class="b-heading b-heading--h6 b-heading--uppercase u-text-color--gray b-heading--bold o-media__headline-link"><%= link_to "#{tag.title}", topic_path(tag.slug) %></h6>
  <ul class="c-list c-list--horiz">
    <% omit ||= [] %>
    <% tag.featured_content(omit).each do |feature| %>
      <% next if feature.nil? %>
      <div class="o-media o-media--horizontal o-media--sm">
        <div class="o-media__figure o-media__figure--four-by-three">
          <img class="o-media__img" src="<%= begin feature.asset.asset.thumb.url rescue '/static/images/fallback-img-square.png' end %>">
        </div>
        <h4>
          <%= link_to feature.try(:headline), feature.try(:public_url) %>
        </h4>
      </div>
    <% end %>
  </ul>
<% end %>