<section class="bound">
  <header class="status notify">
    <p class="status__message">
      <%= image_tag 'better_homepage/notification.svg' %>
      <b>3 new posts</b> 
      since 6:22 AM
    </p>
  </header>

  <%= render partial: 'contents', locals: {object: @content} %>

</section><!-- .welcome -->