<%= render partial: 'better_homepage/side_prompt' %>
<section id="content" class="container container--med">
  <aside class="c-ad">
    <div class="c-ad__container">
      <%= render "shared/ads/dfp", ad_key: "slot_a" %>
      <a class="c-ad__attribution" href="http://www.scpr.org/support/underwriting/">Become a KPCC Sponsor</a>
    </div>
  </aside>
  <%= render partial: 'better_homepage/contents', locals: {object: @content} %>
</section><!-- .welcome -->