<div id="content" class="l-container l-container--xl">
  <div class="l-row l-row--med-noflex">
    <aside class="left-aside l-col l-col--sm-12 l-col--med-2">LEFT SIDE</aside>
    <%= precached "better_homepage/contents", preview: @content %>
  </div>
</div><!-- .welcome -->