<div class="hp-content l-container">

  <header class="o-header">
    <a href="/" class="o-mast__logo-link">
      <svg class="o-header__logo">
        <use class="" xlink:href="/img/scpr-sprite.svg#logo_kpcc-black"/>
      </svg>
    </a>
    <h6 class="b-heading b-heading--h6 b-heading--light">Member-supported news for Southern California</h6>
    <hr class="rule" />
  </header>

  <div class="l-row l-row--med-noflex" >
    <aside class="left l-col l-col--sm-12 l-col--med-2">
      <%= render partial: "better_homepage/broadcast_box", locals: {schedule_current: @schedule_current, schedule_next: @schedule_next} %>
    </aside>

    <div class="l-vertical-rail l-col--med-7"></div>
    <%= precached "better_homepage/contents", preview: @homepage %>
  </div>
</div>